<div class="row row-cols-3 row-cols-md-6 g-4" *ngIf="itemsArray">
    <div class="col" *ngFor="let item of itemsArray">
        <div class="card" id={{item.burcode_id}} style="height: 270px; background-color: rgba(0, 0, 0, 0); border: none;">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="small-card-img" src={{item.img_link_1}} alt="{{item.name}}  image not evaluable" (click)="select(item.burcode_id)" />
                        <h5 style="font-family: Gadugi;" *ngIf="item.prod_class!=='basics' && item.prod_class!=='materials' && item.prod_class!=='accessories'">{{item.prod_class}}<br>{{item.name}}</h5>

                        <h5 style="font-family: Gadugi;" *ngIf="item.prod_class==='basics'|| item.prod_class==='materials' || item.prod_class==='accessories'"> {{item.name}}</h5>
                    </div>
                    <div class="flip-card-back">
                        <img class="small-card-img" src={{item.img_link_2||item.img_link_1}} alt="{{item.name}} image not evaluable" (click)="select(item.burcode_id)" />
                        <p><small>{{item.amount_1}} {{item.price_1}} &#8362;</small><small *ngIf="item.amount_2"> / {{item.amount_2}} {{item.price_2}} &#8362;</small></p>
                        <button [ngClass]="getCartClasse(item._id)" (click)="addToCart(item)" title="{{'PROD_DESCRIPTION.add_to_cart' | translate}}"><i class="fas fa-shopping-basket fa-2x"></i></button>
                        <button [ngClass]="getClasses(item._id)" (click)="addToFavorites(item)" title="{{'PROD_DESCRIPTION.add_to_favorites' | translate}}"><i class="fas fa-heart fa-2x"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>