.Hebrew {
    text-align: right;
    direction: rtl;
}


/* SELECTED-PRODUCT */

.SELECTED-PRODUCT {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.img-col {
    width: 50%;
}

.txt-col {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.button-col {
    width: 5%;
}

.big-img,
.thumbnail {
    max-width: 100%;
    margin: auto;
    padding: 5%;
    z-index: 1;
}

.thumbnail {
    cursor: pointer;
}

.big-img {
    max-height: 750px;
}

.big-img-cover {
    height: 500px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0);
    /* background-image: url('https://si.pinimg.com/originals/49/7f/b2/497fb286a38d8824bf13a792bb967eff.png');
    background-size: 500px 500px; */
    position: absolute;
    z-index: 2;
    margin-left: 0;
}

.newImages-link {
    width: 100%;
    margin: auto;
}

.close-button {
    color: brown;
    background-color: rgb(0, 0, 0, 0);
    border: none;
}

.close-button:hover {
    color: red;
}

.button-link {
    background: none;
    border: none;
    padding: 0;
    font-family: arial, sans-serif;
    color: rgb(36, 138, 255);
    cursor: pointer;
}

.button-link:hover {
    color: rgb(160, 209, 255);
    text-decoration: underline;
}

.box {
    border-top: rgba(59, 59, 59, 0.3) solid 0.5px;
    width: 100%;
    margin-top: 25px;
    padding-top: 10px;
}