#Big-Image-comp {
    position: fixed;
    z-index: 10;
    background-color: white;
    border-top: brown 2px solid;
    border-bottom: brown 2px solid;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
}

#Big-Image-comp>.container-fluid {
    width: 1200px;
    margin: auto;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

.row {
    margin-top: 30px;
}

#extra-info-div {
    margin: auto;
    margin-bottom: 100px;
    width: 1200px;
}

@media screen and (max-width: 1200px) {
    #Big-Image-comp {
        height: 700px;
    }
    #Big-Image-comp>.container-fluid,
    #extra-info-div {
        width: 100%;
    }
}


/*  */

.thumbnail {
    width: 100%;
    margin: auto;
    z-index: 1;
    cursor: pointer;
    margin-bottom: 10px;
}

.big-img {
    width: 100%;
}


/* ---------------------zoom-area---- */

#glass {
    display: none;
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
}


/*  */

.next-prev {
    background-color: rgba(0, 0, 128, 0);
    border: none;
    color: rgb(195, 109, 109);
    width: 10%;
    height: 100%;
}

.next-prev:hover {
    color: brown;
}

.close-button {
    color: rgb(195, 109, 109);
    background-color: rgb(0, 0, 0, 0);
    border: none;
}

.close-button:hover {
    color: brown;
}

.button-link {
    width: 100%;
    background: none;
    border: none;
    padding: 0;
    font-family: arial, sans-serif;
    color: rgb(25, 128, 246);
    cursor: pointer;
}

.button-link:hover {
    color: rgb(160, 209, 255);
    text-decoration: underline;
}

.box {
    border-top: rgba(59, 59, 59, 0.3) solid 0.5px;
    width: 100%;
    margin-top: 25px;
    padding-top: 10px;
}