<div id="Big-Image-comp">

    <div id="Image-row" *ngFor="let item of selectedProd">
        <!-- ----------------------------------images----------------------- -->
        <div class="left images-section">
            <!-- ----------------------------------extra buttons----------------------- -->
            <div style="width: 100%; height: 50px;">
                <button class="next-prev left" type="button" (click)="getPrev();"><i class="fas fa-long-arrow-alt-left fa-2x"></i></button>
                <button class="newImages-link left" type="button" *ngIf=" item.prod_class==='Luxio' ">
                        <a href="https://www.instagram.com/explore/tags/{{item.prod_class}}_{{item.name}}/ " target="_blank "> {{ 'PROD_DESCRIPTION.more-img' | translate }} </a>
                    </button>
                <button class="next-prev right" type="button" (click)="getNext();"><i class="fas fa-long-arrow-alt-right fa-2x"></i></button>
            </div>
            <div style="width: 100%; height: 450px;">
                <!-- -----------------thumbnails----------- -->
                <div class="left" style="height: 100%; width: 25%;">
                    <img class="thumbnail" *ngIf="item.img_link_1" src={{item.img_link_1}} alt={{item.name}} (click)="selectImage(item.img_link_1)" />
                    <img class="thumbnail" *ngIf="item.img_link_2" src={{item.img_link_2}} alt={{item.name}} (click)="selectImage(item.img_link_2)" />
                    <img class="thumbnail" *ngIf="item.img_link_3" src={{item.img_link_3}} alt={{item.name}} (click)="selectImage(item.img_link_3)" />
                </div>
                <!-- -------------big image -->
                <div class="right" style="height: 100%; width: 74%;">
                    <img src={{selectedProd_Img}} alt={{item.name}} class="big-img" (click)="prevenFromCopiing();" />
                </div>
            </div>
        </div>
        <!-- -------------------------------------info block----------- -->
        <div class="left main-info-sectio" [ngClass]="{Hebrew: languege==='iv'}">
            <!-- ----------------------------------product name---------- -->
            <div style="width: 500px; height: 100px;">
                <!-- ------------------------------------------title-------------- -->
                <br *ngIf="item.prod_class!=='Luxio' ">
                <p *ngIf="item.prod_class==='Luxio' "><small>&#8470;</small>{{item.burcode_id}}</p>
                <h4>{{item.prod_class}} {{item.name}}</h4>
            </div>
            <!-- ? -->
            <form style="height: 100px; width: 100%;">
                <!-- amount can be changed -->
                <div class="form-group left" style="width: 30%; height: 100%; margin-left: 4%;">
                    <select class="form-control" (change)="amount_change($event.target.value)">
                    <option value="{{item.amount_1}}">{{item.amount_1}} {{item.price_1}}&#8362;</option>
                    <option value="{{item.amount_2}}" *ngIf="item.amount_2" >{{item.amount_2}} {{item.price_2}}&#8362;</option>
                </select>
                </div>
                <!-- quantity can be changed -->
                <div class="form-group left" style="width: 15%; height: 100%; margin-left: 1%;">
                    <input type="number" class="form-control" value="1" min="1" (change)="quantity_change($event.target.value)">
                </div>
                <!-- ----------------------------BUTTONS -->
                <div class="right" style="width: 45%; height: 100%; margin-left: 1%;">
                    <!-- "ADD TO CART" & "REMOVE FROM CART" buttons,
                    text and colour depends on if item already in  -->
                    <button type="button" class="button-link" (click)="addToCart()">
                    <p *ngIf="!selectedProd_inCart">{{'PROD_DESCRIPTION.add_to_cart' | translate}}</p>
                    <p *ngIf="selectedProd_inCart" style="color: rgb(212, 99, 99);">{{'PROD_DESCRIPTION.remove_from_cart' | translate}}</p>
                </button>
                    <!-- "ADD TO FAVORITES" & "REMOVE FROM FAVORITES" buttons,
                    text and colour depends on if item already in  -->
                    <button type="button" class="button-link" (click)="addToFavorites(item)">
                    <p *ngIf="!selectedProd_inFavorites">{{'PROD_DESCRIPTION.add_to_favorites' | translate}}</p>
                    <p *ngIf="selectedProd_inFavorites" style="color: rgb(212, 99, 99);">{{'PROD_DESCRIPTION.remove_from_favorites' | translate}}</p>
                </button>
                </div>
            </form>
            <!--------------------------------------------------- INFORMATION -->

            <!-- special information , left by admin -->
            <p *ngIf="languege==='en'">{{item.coment_eng}}</p>
            <p *ngIf="languege==='ru'">{{item.coment_rus}}</p>
            <p *ngIf="languege==='iv'">{{item.coment_iv}}</p>
            <!--------------------------------------------------- INFORMATION DEPENDES ON PRODUCT CLASS-->
            <!-- LUXIO option -->
            <div *ngIf="item.prod_class==='Luxio'">
                <p>{{ 'PROD_DESCRIPTION.LUXIO.main' | translate }}</p>
                <ul>
                    <li>{{ 'PROD_DESCRIPTION.LUXIO.list-1' | translate }}</li>
                    <li>{{ 'PROD_DESCRIPTION.LUXIO.list-2' | translate }}</li>
                    <li>{{ 'PROD_DESCRIPTION.LUXIO.list-3' | translate }}</li>
                    <li>{{ 'PROD_DESCRIPTION.LUXIO.list-4' | translate }}</li>
                    <li>{{ 'PROD_DESCRIPTION.LUXIO.list-5' | translate }}</li>
                </ul>
            </div>
            <!-- OPTIONS option -->
            <div *ngIf="item.prod_class==='Options'">
                <p>{{ 'PROD_DESCRIPTION.OPTIONS.main' | translate }}</p>
            </div>
            <!-- PRO-FORM option -->
            <div *ngIf="item.prod_class==='Hard GEL'">
                <p>{{ 'PROD_DESCRIPTION.PRO-FORMANCE.main' | translate }}</p>
            </div>
            <!-- GELPLAY option -->
            <div *ngIf="item.prod_class==='Gel Play'">
                <ul>
                    <li>{{ 'PROD_DESCRIPTION.GEL-PLAY.list-1' | translate }}</li>
                    <li>{{ 'PROD_DESCRIPTION.GEL-PLAY.list-2' | translate }}</li>
                </ul>
            </div>
            <!-- --------------------------------- -->


        </div>
        <!---------------------------  button to close selected------- -->
        <div class="left close-button-section">
            <button type="button" (click)="closeSelected()" class="close-button right">
            <i class="fas fa-times fa-2x"></i>
        </button>
        </div>
    </div>
    <!-- -----------------------------------EXTRA -->
    <div id="extra-info-div">
        <div [ngClass]="{Hebrew: languege==='iv'}" style="margin-top: 50px;">
            <!-- creation -->
            <div class="box">
                <p> {{ 'PROD_DESCRIPTION.ps' | translate }}</p>
            </div>
            <!-- shipment -->
            <div class="box">
                <p>{{ 'PROD_DESCRIPTION.extra-1' | translate }}</p>
                <p>{{ 'PROD_DESCRIPTION.extra-2' | translate }}&#8362; {{ 'PROD_DESCRIPTION.extra-3' | translate }}</p>
            </div>
            <!-- return conditions -->
            <div class="box">
                <p>&#42;{{ 'PROD_DESCRIPTION.extra-4' | translate }}</p>
                <p>&#42;{{ 'PROD_DESCRIPTION.extra-5' | translate }}</p>
            </div>
        </div>
    </div>

</div>