.Hebrew {
    text-align: right;
    direction: rtl;
}

#Big-Image-comp {
    position: fixed;
    z-index: 10;
    background-color: white;
    border-top: brown 2px solid;
    border-bottom: brown 2px solid;
    padding: 3px;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

#Image-row {
    margin: auto;
    margin-top: 100px;
    width: 1200px;
    height: 500px;
}

#extra-info-div {
    margin: auto;
    margin-bottom: 100px;
    width: 1200px;
    height: 300px;
}

@media screen and (max-width: 1200px) {
    #Big-Image-comp {
        height: 700px;
    }
    #Image-row {
        height: 400px;
        width: 98%;
    }
    #extra-info-div {
        width: 98%;
    }
}

.left {
    float: left;
    /* height: 100%; */
}

.right {
    float: right;
}


/* SELECTED-PRODUCT */

.images-section {
    width: 50%;
}

.main-info-sectio {
    width: 45%;
    padding-left: 1%;
}

.close-button-section {
    width: 5%;
}


/*  */

.thumbnail {
    width: 140px;
    height: 140px;
    margin: auto;
    z-index: 1;
    cursor: pointer;
    margin-bottom: 10px;
}

.big-img {
    width: 100%;
}

.newImages-link {
    background-color: rgba(0, 0, 128, 0);
    border: none;
    width: 80%;
    height: 100%;
    margin: auto;
}

.next-prev {
    background-color: rgba(0, 0, 128, 0);
    border: none;
    color: rgb(195, 109, 109);
    width: 10%;
    height: 100%;
}

.next-prev:hover {
    color: brown;
}

.close-button {
    color: rgb(195, 109, 109);
    background-color: rgb(0, 0, 0, 0);
    border: none;
}

.close-button:hover {
    color: brown;
}

.button-link {
    width: 100%;
    background: none;
    border: none;
    padding: 0;
    font-family: arial, sans-serif;
    color: rgb(25, 128, 246);
    cursor: pointer;
}

.button-link:hover {
    color: rgb(160, 209, 255);
    text-decoration: underline;
}

.box {
    border-top: rgba(59, 59, 59, 0.3) solid 0.5px;
    width: 100%;
    margin-top: 25px;
    padding-top: 10px;
}