<p class="main-title" [ngClass]="{Hebrew: languege==='iv'}">{{ 'SIGN-IN.RULES.title2' | translate }}</p>
<small>{{ 'SIGN-IN.RULES.rule-5' | translate }}</small>
<div class="main-txt" [ngClass]="{Hebrew: languege==='iv'}">
    <p>1. {{ 'SIGN-IN.RULES.rule-1' | translate }}.</p>
    <p>2. {{ 'SIGN-IN.RULES.rule-2' | translate }}.</p>
    <ul>
        <li> {{ 'SIGN-IN.RULES.rule-2-li-1' | translate }}.</li>
        <li> {{ 'SIGN-IN.RULES.rule-2-li-2' | translate }}.</li>
    </ul>
    <p>3. {{ 'SIGN-IN.RULES.rule-3' | translate }}.</p>
    <p>4. {{ 'SIGN-IN.RULES.rule-4' | translate }}.</p>
</div>