<div class="form-back-ground" *ngIf="applyForId">

</div>

<div class="rules">
    <h1>ПОЛУЧИТЕ СВОЙ ПЕРСОНАЛЬНЫЙ ID</h1>

    <div>
        <h4>Важная информация использования интернет-магазина:</h4>
        <p>
            1. LUXIO предназначен только для профессионального использования и не доступен для частных лиц.
        </p>
        <p>
            2. Чтобы подтвердить профессиональный/бизнес статус и получить ID, пожалуйста заполните заявку на нашем сайте.
        </p>
        <ul>
            <li>Если Вы являетесь владельцем салонного бизнеса, предоставьте реквизиты юридического лица.</li>
            <li>Если Вы являетесь мастером ногтевого сервиса, предоставьте диплом.</li>
        </ul>

        <p>
            3. Ваша заявка будет рассмотрена в течении одного рабочего дня.
        </p>
        <p>
            4. Интернет магазин доступен только для авторизированных пользователей с ПЕРСОНАЛЬНЫМ ID.
        </p>
        <button type="button" class="btn btn-dark btn-lg btn-block" (click)="getID_regForm()">ПОЛУЧИТЬ ID</button>
    </div>
</div>



<style>
    .rules {
        margin: 1%;
        padding: 1%;
    }
</style>