.Hebrew {
    text-align: right;
    direction: rtl;
}

span {
    color: brown;
}

.empty {
    width: 100%;
    text-align: center;
    margin-top: 200px;
}

.option-buttons {
    cursor: pointer;
    width: 100%;
    text-align: right;
}

.option-buttons:hover {
    color: brown;
}


/* CARDS TOPS & BASES */

.card-img {
    width: 100%;
}

.img-cover {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
}

.main-title {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
    word-spacing: -0.5px;
    text-transform: uppercase;
}


/* ------------------------------------CHECKOUT--------- */

#CHECKOUT {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    max-height: 700px;
    position: fixed;
    top: 150px;
    left: 0;
    z-index: 15;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.marginTop {
    margin-top: 15px;
}

.paiment-info {
    background-color: white;
    border-left: black dotted 2px;
    border-right: black dotted 2px;
    max-height: 600px;
    margin: 1%;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


/* Style the tab buttons */

.tablink {
    background-color: rgb(255, 255, 255);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
    height: 70px;
}


/* Change background color of buttons on hover */

.tablink:hover {
    border: solid black 1px;
}


/* Set default styles for tab content */

.tabcontent {
    display: none;
    padding: 50px;
    text-align: center;
}


/* ---------------------paypal buttons disabled */

.paypalButtons.disabled {
    pointer-events: none;
    /* for "disabled" effect */
    opacity: 0.5;
    background: rgba(255, 255, 255, 0.596);
}