<div class="container-fluid">
    <div class="row" *ngIf="!personalArea_products">
        <div class="col-12">
            <h2 class="empty" *ngIf="what_to_show === 'cart'" [ngClass]="{Hebrew: languege==='iv'}">
                <span>{{ 'PERSONAL-AREA.CARD.empty-cart' | translate}}</span>
            </h2>
            <h2 class="empty" *ngIf="what_to_show === 'wishlist'" [ngClass]="{Hebrew: languege==='iv'}">
                <span>{{'PERSONAL-AREA.CARD.empty-wishlist' | translate}}</span>
            </h2>
        </div>
    </div>

    <div class="row" *ngIf="personalArea_products">
        <div class="col-12" *ngFor="let item of personalArea_products">
            <hr/>
            <div class="row">
                <div class="col-3" (click)="select(item.burcode_id)">
                    <div class="card-img img-cover" (click)="select(item.burcode_id)"></div>
                    <img class="card-img" src={{item.img_link_1}} alt="Product image" />
                </div>

                <div class="col-6">
                    <h5 class="main-title">{{item.prod_class}} {{item.name}}</h5>
                    <div *ngIf="what_to_show === 'wishlist'">
                        <p>{{item.amount_1}} {{item.price_1}}&#8362;</p>
                        <p *ngIf="item.amount_2">{{item.amount_2}} {{item.price_2}}&#8362;</p>
                    </div>
                    <div *ngIf="what_to_show === 'cart'">
                        <form>
                            <div class="form-group" style="width: 70%;">
                                <select class="form-control" (change)="amount_change(item,$event.target.value)">
                                    <option value="{{item.amount_1}}" *ngIf="item.amount===item.amount_1">{{item.amount_1}} {{item.price_1}}&#8362;</option>
                                    <option value="{{item.amount_2}}" *ngIf="item.amount_2 && item.amount===item.amount_1" >{{item.amount_2}} {{item.price_2}}&#8362;</option>
    
                                    <option value="{{item.amount_2}}" *ngIf="item.amount===item.amount_2" >{{item.amount_2}} {{item.price_2}}&#8362;</option>
                                    <option value="{{item.amount_1}}" *ngIf="item.amount===item.amount_2">{{item.amount_1}} {{item.price_1}}&#8362;</option>
                                </select>
                            </div>
                            <div class="form-group" style="width: 20%;" #hkh>
                                <input type="number" class="form-control" value="{{item.quantity}}" min="1" (change)="quantity_change(item,$event.target.value)">
                            </div>
                        </form>
                        <div>{{ 'PERSONAL-AREA.CARD.total-price' | translate}} {{item.total_price}} &#8362;</div>
                    </div>
                </div>

                <div class="col-3" [ngClass]="{Hebrew: languege==='iv'}">
                    <div *ngIf="what_to_show === 'cart'">
                        <p (click)="delete_fromCart(item)" class="option-buttons"><small>{{ 'PERSONAL-AREA.CARD.remove' | translate}} {{item.name}} {{ 'PERSONAL-AREA.CARD.from-cart' | translate}}</small></p>
                        <p (click)="pay_onlyThis(item)" class="option-buttons"><small>{{ 'PERSONAL-AREA.CARD.pay-only' | translate}} {{item.name}}</small></p>
                    </div>
                    <div *ngIf="what_to_show === 'wishlist'">
                        <p (click)="add_toCart(item._id)" class="option-buttons"><small>{{ 'PERSONAL-AREA.CARD.add' | translate}} {{item.name}} {{ 'PERSONAL-AREA.CARD.to-cart' | translate}}</small></p>
                        <p (click)="remove_fromWishlist(item)" class="option-buttons"><small>{{ 'PERSONAL-AREA.CARD.remove' | translate}} {{item.name}} {{ 'PERSONAL-AREA.CARD.from-wishlist' | translate}}</small></p>
                    </div>
                </div>
            </div>
            <hr/>
        </div>
    </div>

    <div class="row" *ngIf="personalArea_products && what_to_show === 'cart'">
        <div class="col-12">
            <table class="table" style="width: 40%; margin-left: 60%;" [ngClass]="{Hebrew: languege==='iv'}">
                <tbody>
                    <tr>
                        <td>{{ 'PERSONAL-AREA.shipping' | translate }}:</td>
                        <td>{{ shipping }}.00 &#8362;</td>
                    </tr>
                    <tr>
                        <td>{{ 'PERSONAL-AREA.discount' | translate }}:</td>
                        <td>{{ discount }}.00 &#8362;</td>
                    </tr>
                    <tr>
                        <td><span>{{ 'PERSONAL-AREA.order-total' | translate }}:</span></td>
                        <td><span>{{ TOTAL_PRICE }}.00 &#8362;</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12">
            <button (click)="goToBill();" type="button" *ngIf="personalArea_products && what_to_show === 'cart' && !do_checkout" class="btn btn-outline-dark btn-block" style="margin-bottom: 20px;">
                {{ 'PERSONAL-AREA.to-checkout' | translate }}
            </button>
        </div>
    </div>
</div>

<!-- ------------------------------------------CHECKOUT-------------------- -->
<div *ngIf="do_checkout" id="CHECKOUT">
    <div class="container-fluid" [ngClass]="{Hebrew: languege==='iv'}">
        <div class="row justify-content-center">
            <div class="col-10 col-lg-4 paiment-info order-lg-1 order-2">
                <h5 class="marginTop">{{ 'SIGN-IN.REGISTRATION-FORM.delivery-address' | translate}}</h5>
                <small class="marginTop">{{user[0].first_name}} {{user[0].second_name}}</small><br>
                <small>{{user[0].email}}</small>
                <form [formGroup]="frmShipment" (submit)="PAY();">
                    <div class="form-row marginTop">
                        <div class="col">
                            <label for="phoneN" [ngClass]="frmShipment.controls['phoneN'].hasError('required') && isSubmited ? 'text-danger' : ''">{{ 'SIGN-IN.REGISTRATION-FORM.phoneN' | translate}}<span >*</span></label>
                            <input id="phoneN" formControlName="phoneN" type="text" class="form-control" [ngClass]="frmShipment.controls['phoneN'].hasError('required') && isSubmited ? 'is-invalid' : ''">
                            <label class="text-danger" *ngIf="frmShipment.controls['phoneN'].hasError('required') && isSubmited">{{ 'SIGN-IN.REGISTRATION-FORM.Required.phoneN' | translate}}</label>
                        </div>
                        <div class="col">
                            <label for="inputCity" [ngClass]="frmShipment.controls['city'].hasError('required') && isSubmited && isSubmited ? 'text-danger' : ''">{{ 'SIGN-IN.REGISTRATION-FORM.city' | translate}}<span >*</span></label>
                            <input id="inputCity" formControlName="city" type="text" class="form-control" [ngClass]="frmShipment.controls['city'].hasError('required') && isSubmited ? 'is-invalid' : ''">
                            <label class="text-danger" *ngIf="frmShipment.controls['city'].hasError('required') && isSubmited">{{ 'SIGN-IN.REGISTRATION-FORM.Required.city' | translate}}</label>
                        </div>
                    </div>

                    <div class="form-row marginTop">
                        <div class="col">
                            <label for="inputStreet" [ngClass]="frmShipment.controls['street'].hasError('required') && isSubmited && isSubmited ? 'text-danger' : ''">{{ 'SIGN-IN.REGISTRATION-FORM.street' | translate}}<span >*</span></label>
                            <input id="inputStreet" formControlName="street" type="text" class="form-control" [ngClass]="frmShipment.controls['street'].hasError('required') && isSubmited ? 'is-invalid' : ''">
                            <label class="text-danger" *ngIf="frmShipment.controls['street'].hasError('required') && isSubmited">{{ 'SIGN-IN.REGISTRATION-FORM.Required.street' | translate}}</label>
                        </div>
                        <div class="col">
                            <label for="inputHome" [ngClass]="frmShipment.controls['home'].hasError('required') && isSubmited && isSubmited ? 'text-danger' : ''">{{ 'SIGN-IN.REGISTRATION-FORM.home' | translate}}<span >*</span></label>
                            <input id="inputHome" formControlName="home" type="text" class="form-control" [ngClass]="frmShipment.controls['home'].hasError('required') && isSubmited ? 'is-invalid' : ''">
                            <label class="text-danger" *ngIf="frmShipment.controls['home'].hasError('required') && isSubmited">{{ 'SIGN-IN.REGISTRATION-FORM.Required.home' | translate}}</label>
                        </div>
                    </div>

                    <div class="form-row marginTop">
                        <div class="col">
                            <label for="inputApartment">{{ 'SIGN-IN.REGISTRATION-FORM.apartment' | translate}}</label>
                            <input id="inputApartment" formControlName="apartment" type="text" class="form-control">
                        </div>
                        <div class="col">
                            <label for="inputZip">{{ 'SIGN-IN.REGISTRATION-FORM.zip' | translate}}</label>
                            <input id="inputZip" formControlName="zip" type="text" class="form-control">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-outline-dark btn-block marginTop">{{ 'SIGN-IN.REGISTRATION-FORM.confirmandpay-button' | translate}}</button>
                    <button type="button" (click)="closePaimentForm();" class="btn btn btn-link btn-block"><span>{{ 'SIGN-IN.REGISTRATION-FORM.close-button' | translate}}</span></button>
                </form>

            </div>
            <div class="col-10 col-lg-4 paiment-info  order-lg-2 order-1" *ngFor="let item of order">
                <div class="row" style="padding: 1%;">
                    <div class="col-3">
                        <small>{{item.prod_class}}</small>
                    </div>
                    <div class="col-4">
                        <small>{{item.name}}</small>
                    </div>
                    <div class="col-3">
                        <small>{{item.price}}.00 &#8362;</small>
                    </div>
                    <div class="col-2">
                        <small>X {{item.quantity}}</small>
                    </div>
                </div>

                <div class="row" style="padding: 1%;">
                    <div class="col-12">
                        <table class="table" style="width: 70%; margin-left: 30%;" [ngClass]="{Hebrew: languege==='iv'}">
                            <tbody *ngFor="let item of Checkout_Payments">
                                <tr>
                                    <td>{{ 'PERSONAL-AREA.shipping' | translate }}:</td>
                                    <td>{{ item.shipping }}.00 &#8362;</td>
                                </tr>
                                <tr>
                                    <td>{{ 'PERSONAL-AREA.discount' | translate }}:</td>
                                    <td>{{ item.discount }}.00 &#8362;</td>
                                </tr>
                                <tr>
                                    <td><span>{{ 'PERSONAL-AREA.order-total' | translate }}:</span></td>
                                    <td><span>{{ item.totalPrice }}.00 &#8362;</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>