<!-- {{personalArea_products|json}} -->
<!-- {{what_to_show|json}} -->

<h2 *ngIf="!personalArea_products[0] && what_to_show === 'cart'" style="width: 100%; color: brown; text-align: center;" [ngClass]="{Hebrew: languege==='iv'}">
    {{ 'PERSONAL-AREA.CARD.empty-cart' | translate}}</h2>
<h2 *ngIf="!personalArea_products[0] && what_to_show === 'wishlist'" style="width: 100%; color: brown; text-align: center;" [ngClass]="{Hebrew: languege==='iv'}">
    {{ 'PERSONAL-AREA.CARD.empty-wishlist' | translate}}</h2>

<div *ngIf="personalArea_products" class="personal-areaCards">

    <div *ngFor="let item of personalArea_products" id={{item.burcode_id}}>
        <hr/>
        <div class="personal-card">
            <div class="personal-card-img-div" (click)="select(item.burcode_id)">
                <div class="img-cover" (click)="select(item.burcode_id)"></div>
                <img class="card-img" src={{item.img_link_1}} alt="Product image" />
            </div>
            <div class="personal-card-info-div" [ngClass]="{Hebrew: languege==='iv'}">
                <h5 style="font-family: Gadugi;">{{item.prod_class}} {{item.name}}</h5>

                <div *ngIf="what_to_show === 'wishlist'">
                    <p>{{item.amount_1}} {{item.price_1}}&#8362;</p>
                    <p *ngIf="item.amount_2">{{item.amount_2}} {{item.price_2}}&#8362;</p>
                </div>

                <div *ngIf="what_to_show === 'cart'">
                    <form>
                        <div class="form-group" style="width: 70%; margin:auto;">
                            <select class="form-control" (change)="amount_change(item,$event.target.value)">
                                <option value="{{item.amount_1}}" *ngIf="item.amount===item.amount_1">{{item.amount_1}} {{item.price_1}}&#8362;</option>
                                <option value="{{item.amount_2}}" *ngIf="item.amount_2 && item.amount===item.amount_1" >{{item.amount_2}} {{item.price_2}}&#8362;</option>

                                <option value="{{item.amount_2}}" *ngIf="item.amount===item.amount_2" >{{item.amount_2}} {{item.price_2}}&#8362;</option>
                                <option value="{{item.amount_1}}" *ngIf="item.amount===item.amount_2">{{item.amount_1}} {{item.price_1}}&#8362;</option>
                            </select>
                        </div>

                        <div class="form-group" style="width: 30%; margin:auto;" #hkh>
                            <input type="number" class="form-control" value="{{item.quantity}}" min="1" (change)="quantity_change(item,$event.target.value)">
                        </div>
                    </form>

                    <br/>

                    <p>{{ 'PERSONAL-AREA.CARD.total-price' | translate}} {{item.total_price}} &#8362;</p>
                </div>
            </div>

            <div class="card-top-bottom" *ngIf="what_to_show === 'cart'" [ngClass]="{Hebrew: languege==='iv'}">
                <p (click)="delete_fromCart(item)" class="option-buttons"><small>{{ 'PERSONAL-AREA.CARD.remove' | translate}} {{item.name}} {{ 'PERSONAL-AREA.CARD.from-cart' | translate}}</small></p>
                <p (click)="pay_onlyThis(item)" class="option-buttons"><small>{{ 'PERSONAL-AREA.CARD.pay-only' | translate}} {{item.name}}</small></p>
            </div>
            <div class="card-top-bottom" *ngIf="what_to_show === 'wishlist'" [ngClass]="{Hebrew: languege==='iv'}">
                <p (click)="add_toCart(item)" class="option-buttons"><small>{{ 'PERSONAL-AREA.CARD.add' | translate}} {{item.name}} {{ 'PERSONAL-AREA.CARD.to-cart' | translate}}</small></p>
                <p (click)="remove_fromWishlist(item)" class="option-buttons"><small>{{ 'PERSONAL-AREA.CARD.remove' | translate}} {{item.name}} {{ 'PERSONAL-AREA.CARD.from-wishlist' | translate}}</small></p>
            </div>
        </div>

        <hr/>
    </div>

    <table class="table" style="width: 40%; margin-left: 60%;" *ngIf="personalArea_products[0] && what_to_show === 'cart'" [ngClass]="{Hebrew: languege==='iv'}">
        <tbody>
            <tr>
                <td>{{ 'PERSONAL-AREA.shipping' | translate }}:</td>
                <td>{{ shipping }}.00 &#8362;</td>
            </tr>
            <tr>
                <td>{{ 'PERSONAL-AREA.discount' | translate }}:</td>
                <td>{{ discount }}.00 &#8362;</td>
            </tr>
            <tr>
                <td style="color: brown;">{{ 'PERSONAL-AREA.order-total' | translate }}:</td>
                <td style="color: brown;">{{ TOTAL_PRICE }}.00 &#8362;</td>
            </tr>
        </tbody>
    </table>
</div>

<button (click)="goToBill();" type="button" *ngIf="personalArea_products[0] && what_to_show === 'cart'" class="btn btn-outline-dark btn-block" style="margin-bottom: 20px;">
    {{ 'PERSONAL-AREA.to-checkout' | translate }}
</button>

<!-- ------------------------------------------CHECKOUT-------------------- -->
<div *ngIf="do_checkout" id="CHECKOUT">

    <div id="checkout-inner">
        <h1 style="width: 100%; text-align: center;">Checkout</h1>

        <div>
            <form class="float-huf" [formGroup]="infoTemplate" (submit)="newInfoSave(infoTemplate.value)">

                <h5 style="margin-top: 50px;">{{ 'PERSONAL-AREA.FORM.p-2' | translate}}</h5>
                <p style="margin-top: 20px;">{{user[0].first_name}} {{user[0].second_name}}</p>
                <p>{{user[0].email}}</p>
                <p>{{user[0].phoneN}}</p>

                <!-- ---------------------------------------------------------------------------ADDRESS--------------------------- -->
                <div class="form-row">
                    <div class="col">
                        <select id="inputState" (change)="cityCheck(city.value);" #city [ngClass]="{error: isSubmitted && formControls.state.errors?.required}" class="form-control" formControlName="state">
                                <option value="" disabled selected>{{ 'SIGN-IN.REGISTRATION-FORM.location' | translate}}</option>
                                <option value="Center of Israel (close to Tel Aviv)" >{{ 'SIGN-IN.REGISTRATION-FORM.loc1' | translate}}</option>
                                <option value="Center of Israel (close to Jerusalem)">{{ 'SIGN-IN.REGISTRATION-FORM.loc2' | translate}}</option>
                                <option value="North of Israel (close to Haifa)">{{ 'SIGN-IN.REGISTRATION-FORM.loc3' | translate}}</option>
                                <option value="North of Israel (close to Nazareth)">{{ 'SIGN-IN.REGISTRATION-FORM.loc4' | translate}}</option>
                                <option value="North of Israel (close to Qiryat Shemona)">{{ 'SIGN-IN.REGISTRATION-FORM.loc5' | translate}}</option>
                                <option value="Western Israel (close to Be'er Sheva)">{{ 'SIGN-IN.REGISTRATION-FORM.loc6' | translate}}</option>
                                <option value="Western Israel (close to Be'er Sheva)">{{ 'SIGN-IN.REGISTRATION-FORM.loc7' | translate}}</option>
                            </select>
                    </div>
                    <div class="col" *ngIf="ashdod">
                        <p>{{ 'CONTACT.nearest-office' | translate}} {{ 'CONTACT.ashdod' | translate}} <a href="https://www.instagram.com/lisagelman">Lisa Gelman</a></p>
                    </div>
                    <div class="col" *ngIf="yirka">
                        <p>{{ 'CONTACT.nearest-office' | translate}} {{ 'CONTACT.yirka' | translate}} <a href="https://www.vrona.co.il">Vrona Cosmetic</a></p>
                    </div>
                </div>

                <div class="form-row" style="margin-top: 20px;">
                    <div class="col">
                        <input id="inputCity" type="text" class="form-control" [ngClass]="{error: isSubmitted && formControls.city.errors?.required}" value="formControls.city?formControls.city:null" formControlName="city" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.city' | translate}}">
                    </div>
                </div>

                <div class="form-row" style="margin-top: 20px;">
                    <div class="col">
                        <input id="inputStreet" type="text" class="form-control" [ngClass]="{error: isSubmitted && formControls.street.errors?.required}" value="formControls.street?formControls.street:null" formControlName="street" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.street' | translate}}">
                    </div>

                    <div class="col">
                        <input id="inputZip" type="text" class="form-control" value="formControls.zip?formControls.zip:null" formControlName="zip" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.zip' | translate}}">
                    </div>
                </div>

                <div class="form-row" style="margin-top: 20px;">
                    <div class="col">
                        <input id="inputHome" type="text" class="form-control" [ngClass]="{error: isSubmitted && formControls.home.errors?.required}" value="formControls.home?formControls.home:null" formControlName="home" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.home' | translate}}">
                    </div>

                    <div class="col">
                        <input id="inputApartment" type="text" class="form-control" value="formControls.apartment?formControls.apartment:null" formControlName="apartment" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.apartment' | translate}}">
                    </div>
                </div>
            </form>

            <div class="float-huf">

                <button class="tablink" (click)="openPayment('VisaMastercard')"><img style="height: 40px" src="https://i.pinimg.com/originals/0e/a0/30/0ea030701a73157c67b2a5e29cc2237b.png" /></button>
                <button class="tablink" (click)="openPayment('PayPal')"><img style="height: 40px; margin-left: -10px;" src="https://i.pinimg.com/originals/48/1b/28/481b28af5780abf388fd38316565a7c4.png" /></button>

                <div id="VisaMastercard" class="tabcontent">
                    <h1>Visa / Mastercard</h1>
                    <form [formGroup]="cardTemplate" (submit)="goPay('Visa / Mastercard')">
                        <!-- ---------------------------------------------------------------------------Visa / Mastercard--------------------------- -->
                        <div class="form-row">
                            <label for="inputCardNumber">Card Number:</label>
                            <input id="inputCardNumber" type="password" class="form-control" [ngClass]="{error: isSubmitted && formControlsCard.cardNumber.errors?.required}" formControlName="cardNumber">
                        </div>

                        <div class="form-row" style="margin-top: 20px;">
                            <div class="col">
                                <label for="inputExpirationDate">Expiration Date:</label>
                                <input id="inputExpirationDate" type="text" class="form-control" [ngClass]="{error: isSubmitted && formControlsCard.expirationDate.errors?.required}" formControlName="expirationDate">
                            </div>
                            <div class="col">
                                <label for="inputSecurityCode">Security Code:</label>
                                <input id="inputSecurityCode" type="password" class="form-control" [ngClass]="{error: isSubmitted && formControlsCard.securityCode.errors?.required}" formControlName="securityCode">
                            </div>
                        </div>

                        <div class="form-row" style="margin-top: 20px;">
                            <label for="inputLName">Card Holder Name:</label>
                            <input id="inputLName" type="text" class="form-control" [ngClass]="{error: isSubmitted && formControlsCard.cardHolderName.errors?.required}" formControlName="cardHolderName">
                        </div>

                        <div class="form-row" style="margin-top: 20px;">
                            <button type="submit" class="btn btn-outline-dark btn-block" style="margin-top: 15px;">Confirm and pay</button>
                        </div>
                    </form>
                </div>
                <!-- ---------------------------------------------------------------------------PAY PAL--------------------------- -->
                <div id="PayPal" class="tabcontent">
                    <h1>Pay Pal</h1>
                    <form [formGroup]="payPalTemplate" (submit)="goPay('Pay Pal')">
                        <div class="form-row">
                            <div class="col">
                                <label for="inputPPemail">{{ 'SIGN-IN.REGISTRATION-FORM.email' | translate}}:</label>
                                <input id="inputPPemail" type="email" class="form-control" [ngClass]="{error: isSubmitted && formControlsPayPal.PayPalemail.errors?.required}" formControlName="PayPalemail">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col">
                                <label for="inputPPpassword">{{ 'SIGN-IN.REGISTRATION-FORM.password' | translate}}:</label>
                                <input id="inputPPpassword" type="password" class="form-control" [ngClass]="{error: isSubmitted && formControlsPayPal.PayPalPassword.errors?.required}" formControlName="PayPalPassword">
                            </div>
                        </div>

                        <div class="form-row" style="margin-top: 20px;">
                            <button type="submit" class="btn btn-outline-dark btn-block" style="margin-top: 15px;">Confirm and pay</button>
                        </div>
                    </form>
                </div>



            </div>
            <div style="width: 90%; text-align: right; margin-top: 30px;">
                <p style="margin-top: 20px;">{{'PERSONAL-AREA.shipping' | translate}}: {{ shipping }}.00 &#8362;</p>
                <p>{{'PERSONAL-AREA.discount' | translate}}: {{ discount }}.00 &#8362;</p>
                <p style="color: brown;">{{'PERSONAL-AREA.order-total' | translate}}: {{ TOTAL_PRICE }}.00 &#8362;</p>
            </div>
            <div><button type="button" (click)="closeCheckoutForm();">Close</button></div>
        </div>
    </div>

</div>