.Hebrew {
    text-align: right;
    direction: rtl;
}

.block {
    margin-top: 50px;
}

.introduction {
    padding: 1%;
    font-family: Georgia, serif;
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 6px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.welcom {
    text-align: center;
    font-family: Century Gothic;
    font-size: 35px;
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

.welc {
    text-align: center;
    font-family: Century Gothic;
    font-size: 25px;
    width: 90%;
    margin: auto;
}

@media screen and (max-width: 1200px) {
    .introduction {
        font-size: 18px;
    }
    .welcom {
        width: 80%;
        font-size: 25px;
        margin-top: 0px;
    }
    .welc {
        font-size: 20px;
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .introduction {
        font-size: 16px;
    }
    .welcom {
        width: 100%;
        font-size: 18px;
    }
    .welc {
        font-size: 16px;
        width: 100%;
    }
    #prof {
        width: 90%;
        margin: auto;
    }
}