<h1 class="welcom animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow" [ngClass]="{Hebrew: languege==='iv'}">
    {{'HOME.title-1' | translate}}<span>AKZÉNTZ</span>{{'HOME.title-2' | translate}}
</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-12">
            <div class="block animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow">
                <a href="products/luxio">
                    <img style="width: 100%;" src="https://i.pinimg.com/originals/dc/01/1b/dc011b48436b188117d581a7589020e3.jpg?epik=dj0yJnU9bGtWWUYyM053SWgzWGc0THVYdzdWR05tOUltUkdFcDcmcD0wJm49R2dJR2RJbEQtN1FJTS04U1UtSWZUZyZ0PUFBQUFBR0FRSU5R" alt="" />
                </a>
            </div>

            <div class="block animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow">
                <p class="introduction" [ngClass]="{Hebrew: languege==='iv'}">
                    <span>{{'HOME.par-1-tit' | translate}}</span>{{ 'HOME.par-1' | translate }}</p>
                <p class="introduction" [ngClass]="{Hebrew: languege==='iv'}">
                    <span>{{'HOME.par-2-tit' | translate}}</span>{{ 'HOME.par-2' | translate }}</p>
            </div>
            <div class="block animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow">
                <a href="products/gel-play">
                    <img style="width: 60%;" src="https://i.pinimg.com/originals/6a/1b/be/6a1bbecfd4ab8db4a8fcece6e38a121b.png" alt="" />
                </a>
                <a href="products/options">
                    <img style="width: 40%;" src="https://i.pinimg.com/originals/45/b6/23/45b62388bd6d3804fb2b1fab369e6f0b.png" alt="" />
                </a>
            </div>
            <div class="block animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow">
                <p class="introduction" [ngClass]="{Hebrew: languege==='iv'}">
                    <span>{{'HOME.par-4-tit' | translate}}</span>{{ 'HOME.par-4' | translate }}</p>
            </div>
            <div class="block animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow">
                <a href="products/pro-formance">
                    <img style="width: 100%;" src="https://i.pinimg.com/originals/be/01/2e/be012e2f93e99859f6045b3f118d72fb.png" alt="" />
                </a>
            </div>
            <div class="block animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow">
                <p class="introduction" [ngClass]="{Hebrew: languege==='iv'}">
                    <span>{{'HOME.par-3-tit' | translate}}</span>{{ 'HOME.par-3' | translate }}</p>
            </div>


            <div class="block">
                <h1 class="welc animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow" [ngClass]="{Hebrew: languege==='iv'}">{{ 'NEW.varn' | translate}}</h1>
            </div>
        </div>

        <div class="col-md-4  col-12 animate__animated animate__fadeIn animate__delay-0.5s animate__slow">
            <p class="introduction" [ngClass]="{Hebrew: languege==='iv'}" style="margin-top: 30px;">Some interesting videos:</p>
            <div class="block embed-responsive embed-responsive-16by9">
                <iframe width="100%" src="https://www.youtube.com/embed/JmQOxaTBiz4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="block embed-responsive embed-responsive-16by9">
                <iframe width="100%" src="https://www.youtube.com/embed/ay65d1T_Q_c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <p class="introduction" [ngClass]="{Hebrew: languege==='iv'}" style="margin-top: 70px;">Some tutorials and grades:</p>
            <div class="block embed-responsive embed-responsive-16by9">
                <iframe width="100%" src="https://www.youtube.com/embed/VNeZCO-obxM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="block embed-responsive embed-responsive-16by9">
                <iframe width="100%" src="https://www.youtube.com/embed/XCskt2e1YVE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="block embed-responsive embed-responsive-16by9">
                <iframe width="100%" src="https://www.youtube.com/embed/EorpBcNwM7g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <p class="introduction" [ngClass]="{Hebrew: languege==='iv'}" style="margin-top: 70px;">And more:</p>
            <div class="block embed-responsive embed-responsive-16by9">
                <iframe width="100%" src="https://www.youtube.com/embed/vhkVnca0zkw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="block embed-responsive embed-responsive-16by9">
                <iframe width="100%" src="https://www.youtube.com/embed/rZlRipZna28" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>