<h1 id="welcom" class="title animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow" [ngClass]="{Hebrew: languege==='iv'}">
    {{'HOME.title-1' | translate}}<span style="color: brown;">Akzentz</span>{{'HOME.title-2' | translate}}</h1>

<h1 id="prod-line" class="animate__animated animate__zoomIn animate__delay-0.5s animate__slow wow">{{'HOME.title-3' | translate}}</h1>

<div id="products-imgLinks" class="animate__animated animate__zoomIn animate__delay-0.5s animate__slow wow">
    <div class="fl-left" id="lux-opt-gpl">
        <div id="luxio-bl">
            <a href="products/luxio" class="bl-text">
                <h1>LUXIO</h1>
                <p>{{ 'HOME.goshop' | translate }}</p>
            </a>
        </div>

        <div id="options-bl">
            <a href="products/options" class="bl-text">
                <h1>OPTIONS</h1>
                <p>{{ 'HOME.goshop' | translate }}</p>
            </a>
        </div>

        <div id="gelplay-bl">
            <a href="products/gel-play" class="bl-text">
                <h1>GEL PLAY</h1>
                <p>{{ 'HOME.goshop' | translate }}</p>
            </a>
        </div>
    </div>

    <div class="fl-left" id="prof-bas">
        <div id="proformance-bl">
            <a href="products/pro-formance" class="bl-text">
                <h1>PRO-FORMANCE</h1>
                <p>{{ 'HOME.goshop' | translate }}</p>
            </a>
        </div>
        <div id="basics-bl">
            <a href="products/basics" class="bl-text">
                <h1>BACICS</h1>
            </a>
        </div>
    </div>
</div>

<p class="introduction animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow" [ngClass]="{Hebrew: languege==='iv'}">
    <span style="color: brown;">{{'HOME.par-1-tit' | translate}}</span>{{ 'HOME.par-1' | translate }}</p>
<p class="introduction animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow" [ngClass]="{Hebrew: languege==='iv'}">
    <span style="color: brown;">{{'HOME.par-2-tit' | translate}}</span>{{ 'HOME.par-2' | translate }}</p>
<p class="introduction animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow" [ngClass]="{Hebrew: languege==='iv'}">
    <span style="color: brown;">{{'HOME.par-3-tit' | translate}}</span>{{ 'HOME.par-3' | translate }}</p>
<p class="introduction animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow" [ngClass]="{Hebrew: languege==='iv'}">
    <span style="color: brown;">{{'HOME.par-4-tit' | translate}}</span>{{ 'HOME.par-4' | translate }}</p>


<h1 class="title animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow" [ngClass]="{Hebrew: languege==='iv'}">{{ 'NEW.varn' | translate}}</h1>