        .priorities {
            color: black;
            text-transform: uppercase;
            font-weight: 700;
            font-size: larger;
        }
        
        .slogan>p {
            font-size: 400%;
            font-family: "Times New Roman", Times, serif;
            word-spacing: 20px;
            font-style: italic;
            font-weight: 500;
        }
        
        .play,
        .sound {
            background-color: rgba(0, 0, 0, 0);
            border: none;
            color: white;
            position: absolute;
            margin: 20px;
        }
        
        .play {
            left: 0;
        }
        
        .sound {
            left: 50px;
        }
        
        .linkToNew {
            width: 100%;
            font-size: larger;
            margin: 20px;
            text-align: right;
            color: black;
        }
        
        .margRight100 {
            margin-right: 100px;
        }
        
        .margLeft100 {
            margin-left: 100px;
        }
        
        @media screen and (max-width: 900px) {
            .slogan>p {
                font-size: 200%;
                word-spacing: 10px;
            }
            .margRight100 {
                margin-right: 10px;
            }
            .margLeft100 {
                margin-left: 10px;
            }
        }
        
        @media screen and (max-width: 1200px) {
            .slogan>p {
                font-size: 300%;
                word-spacing: 15px;
            }
            .margRight100 {
                margin-right: 40px;
            }
            .margLeft100 {
                margin-left: 40px;
            }
        }