<img class="buner animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow" src="https://i.pinimg.com/originals/08/5a/41/085a4163327ec176b85c75902e143d73.jpg" alt="Basics buner" />

<div class="basics-intro animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow" [ngClass]="{Hebrew: languege==='iv'}">
    <h5 class="title">AKZENTZ {{'BASICS.title' | translate}}</h5>
    <p class="sm-text">{{'BASICS.text' | translate}}</p>
</div>

<div style="margin-top: 100px;">
    <app-wide-cards></app-wide-cards>
</div>