<!-- <img style="width: 100%;" class="animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow" src="https://i.pinimg.com/originals/08/5a/41/085a4163327ec176b85c75902e143d73.jpg" alt="AKZENZ basics" /> -->
<div class="container-fluid">
    <div class="row margTop">
        <div class="col animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow" [ngClass]="{Hebrew: languege==='iv'}">
            <h5 class="title">{{'BASICS.title' | translate}}</h5>
            <p class="sm-text">{{'BASICS.text' | translate}}</p>
        </div>
    </div>
</div>
<hr/>
<div class="margTop">
    <app-wide-cards></app-wide-cards>
</div>