.Hebrew {
    text-align: right;
    direction: rtl;
}

.basics-intro {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: rgba(128, 128, 128, 0.5) solid 2px
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    letter-spacing: 3.4px;
    word-spacing: 3.4px;
}

.sm-text {
    padding: 2%;
    margin-top: 10px;
    margin-bottom: 30px;
    color: gray;
    font-family: Georgia, serif;
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 6px;
}

@media screen and (max-width: 1200px) {
    .sm-text {
        padding-right: 1%;
        padding-left: 1%;
        font-size: 18px;
        letter-spacing: 2.5px;
        word-spacing: 5px;
    }
}