.buner {
    width: 70%;
    margin-left: 29%;
}

.Hebrew {
    text-align: right;
    direction: rtl;
}

.title {
    font-family: Century Gothic;
    font-size: 25px;
}

.sm-text {
    font-family: Georgia, serif;
    font-size: 20px;
    color: gray;
}