<form class="regF" [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">

    <div class="form-row">
        <div class="col">
            <input [ngClass]="{error: isSubmitted && formControls.first_name.errors?.required}" type="text" class="form-control" formControlName="first_name" value="formControls.first_name" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.name' | translate}}">
        </div>
        <div class="text-danger" *ngIf="isSubmitted && formControls.first_name.errors?.required">{{ 'SIGN-IN.rule-1' | translate}}</div>

        <div class="col">
            <input [ngClass]="{error: isSubmitted && formControls.second_name.errors?.required}" type="text" class="form-control" formControlName="second_name" value="formControls.second_name" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.second-name' | translate}}">
        </div>
        <div class="text-danger" *ngIf="isSubmitted && formControls.second_name.errors?.required">{{ 'SIGN-IN.rule-1' | translate}}</div>
    </div>

    <div class="form-row">
        <div class="col">
            <input [ngClass]="{error: isSubmitted && formControls.email.errors?.required}" type="text" class="form-control" formControlName="email" value="formControls.email" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.email' | translate}}">
        </div>
        <div class="text-danger" *ngIf="isSubmitted && formControls.email.errors?.required">{{ 'SIGN-IN.rule-1' | translate}}</div>
    </div>

    <div class="form-row">
        <div class="col">
            <input [ngClass]="{error: isSubmitted && formControls.phoneN.errors?.required}" type="text" class="form-control" formControlName="phoneN" value="formControls.email" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.phoneN' | translate}}">
        </div>
        <div class="text-danger" *ngIf="isSubmitted && formControls.phoneN.errors?.required">{{ 'SIGN-IN.rule-1' | translate}}</div>
    </div>

    <div class="form-row">
        <div class="col">
            <input [ngClass]="{error: isSubmitted && formControls.password.errors?.required}" (change)="password1_change($event.target.value)" type="password" class="form-control" formControlName="password" value="formControls.password" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.password' | translate}}">
        </div>
        <div class="text-danger" *ngIf="isSubmitted && formControls.password.errors?.required">{{ 'SIGN-IN.rule-1' | translate}}</div>
        <div class="col">
            <input type="password" [ngClass]="{error: isSubmitted && !password2}" (change)="password2_change($event.target.value)" class="form-control" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.password-conf' | translate}}">
        </div>
        <div class="text-danger" *ngIf="password2 === false">{{ 'SIGN-IN.REGISTRATION-FORM.password-doesnt-match' | translate}}</div>
    </div>

    <div class="form-row" style="align-items: center;">
        <div class="col">
            <button title="?" type="button" class="btn button-question btn-outline-dark">?</button>
            <label for="category" class="category-label">{{ 'SIGN-IN.REGISTRATION-FORM.entrepreneurship' | translate}}</label>
        </div>
        <div class="col">
            <select id="category" type="text" class="form-control" [ngClass]="{error: isSubmitted && formControls.category.errors?.required}" formControlName="category" (change)="category_check($event.target.value)">
                <option value="" disabled>{{ 'SIGN-IN.REGISTRATION-FORM.business' | translate}}</option>
                <option value="self employed">{{ 'SIGN-IN.REGISTRATION-FORM.self-employed' | translate}}</option>
                <option value="salon representative">{{ 'SIGN-IN.REGISTRATION-FORM.salon-representative' | translate}}</option>
            </select>
        </div>
    </div>
    <div class="text-danger" *ngIf="isSubmitted && formControls.category.errors?.required">{{ 'SIGN-IN.rule-1' | translate}}</div>

    <!-- for self employed ------------------------------------------------------------------------------------>
    <div class="form-row" style="align-items: center;" *ngIf="category==='self employed'">
        <div class="col">
            <button title="?" type="button" class="btn button-question btn-outline-dark">?</button>
            <label for="image">{{ 'SIGN-IN.REGISTRATION-FORM.sert' | translate}}</label>
        </div>
        <div class="col">
            <input (change)="showPreimg($event)" type="file" accept="image/*" class="form-control" id="image" [ngClass]="{error: isSubmitted && !imgSrc}">
        </div>
        <div *ngIf="imgSrc" class="col">
            <img [src]="imgSrc" style="max-width: 300px; max-height: 100px;">
        </div>
    </div>
    <div class="text-danger" *ngIf="category==='self employed' && isSubmitted && !imgSrc">{{ 'SIGN-IN.rule-1' | translate}}</div>


    <!-- --------------------------------------------------------------------------------------------------------------- -->


    <!-- for salon representative --------------------------------------------------------------------------------------- -->
    <div class="form-row" style="align-items: center;" *ngIf="category==='salon representative'">
        <div class="col">
            <input (change)="set_businessName($event.target.value)" [ngClass]="{error: isSubmitted && !business_name}" type="text" class="form-control" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.business-name' | translate}}">
        </div>
        <div class="text-danger" *ngIf="isSubmitted && !business_name">{{ 'SIGN-IN.rule-1' | translate}}</div>

        <div class="col">
            <input (change)="set_businessId($event.target.value)" [ngClass]="{error: isSubmitted && !business_id}" type="text" class="form-control" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.business-id' | translate}}">
        </div>
        <div class="text-danger" *ngIf="isSubmitted && !business_id">{{ 'SIGN-IN.rule-1' | translate}}</div>
    </div>
    <div class="form-row">
        <div class="col">
            <select [ngClass]="{error: isSubmitted && formControls.state.errors?.required}" type="text" class="form-control" formControlName="state">
                <option value="" disabled>{{ 'SIGN-IN.REGISTRATION-FORM.location' | translate}}</option>
                <option value="Center of Israel (close to Tel Aviv)">{{ 'SIGN-IN.REGISTRATION-FORM.loc1' | translate}}</option>
                <option value="Center of Israel (close to Jerusalem)">{{ 'SIGN-IN.REGISTRATION-FORM.loc2' | translate}}</option>
                <option value="North of Israel (close to Haifa)">{{ 'SIGN-IN.REGISTRATION-FORM.loc3' | translate}}</option>
                <option value="North of Israel (close to Nazareth)">{{ 'SIGN-IN.REGISTRATION-FORM.loc4' | translate}}</option>
                <option value="North of Israel (close to Qiryat Shemona)">{{ 'SIGN-IN.REGISTRATION-FORM.loc5' | translate}}</option>
                <option value="Western Israel (close to Be'er Sheva)">{{ 'SIGN-IN.REGISTRATION-FORM.loc6' | translate}}</option>
                <option value="Western Israel (close to Be'er Sheva)">{{ 'SIGN-IN.REGISTRATION-FORM.loc7' | translate}}</option>
            </select>
        </div>
        <div class="text-danger" *ngIf="isSubmitted && formControls.state.errors?.required">{{ 'SIGN-IN.rule-1' | translate}}</div>
    </div>
    <!-- ---------------------------------------------------------------------------------------------------------------- -->
    <br>
    <div class="form-row">
        <div class="col">
            <button [ngClass]="{error: cookies === false}" (click)="getTermsOfAgeement()" class="agreementButton btn btn-outline-secondary">
                {{ 'SIGN-IN.REGISTRATION-FORM.agreement' | translate}}
            </button>
        </div>
        <div class="col">
            <input class="form-control check-b" [checked]="cookies" (change)="agreementPolicy_check($event.target.checked)" type="checkbox" id="gridCheck1" formControlName="agreement">
            <label for="gridCheck1" style="text-align:center">
                    {{ 'SIGN-IN.REGISTRATION-FORM.i-agree' | translate}}
                </label>
        </div>
        <div class="text-danger col-sm-12" *ngIf="cookies === false">{{ 'SIGN-IN.rule-2' | translate}}</div>
    </div>


    <button type="submit" class="btn btn-dark btn-lg btn-block" style="margin-top: 15px;">{{ 'SIGN-IN.sign-in' | translate}}</button>
</form>