.Hebrew {
    text-align: right;
    direction: rtl;
}

.Hebrew1 {
    direction: rtl;
}

.text-muted {
    margin-right: 10px;
}

.form {
    border: black solid 2px;
    padding: 1%;
}

.imgSelected {
    max-height: 150px;
    max-width: 150px;
    margin: 10px;
}

.error {
    border: red solid 1.5px;
}

.shop-table {
    width: 100%;
}

.card-img {
    cursor: pointer;
    height: 70px;
    width: 70px;
}

.message-to-admin {
    width: 100%;
    position: fixed;
    top: 45%;
    left: 0;
    z-index: 10;
    font-size: 20px;
    text-align: center;
}

.inner-message {
    background-color: white;
    border: black 2px solid;
    width: 50%;
    margin-left: 25%;
}

.warn-mes {
    background: #CE5937;
    background: -moz-linear-gradient(left, #CE5937 0%, #A40000 50%, #CE5937 100%);
    background: -webkit-linear-gradient(left, #CE5937 0%, #A40000 50%, #CE5937 100%);
    background: linear-gradient(to right, #CE5937 0%, #A40000 50%, #CE5937 100%);
    color: brown;
}