<!-- IF ADMIN WANT TO DELETE PRODUCT HE GET THIS MESSAGE  ----------------------------------------------------- -->
<div *ngIf="prod_toDelete" class="warn-mes message-to-admin">
    <div *ngFor="let item of prod_toDelete" class="inner-message" [ngClass]="{Hebrew1: language === 'iv'}">
        <p>
            {{ 'ADMIN.CERTIFICATES.WARNINGS.message-4.part-1' | translate }} &laquo; {{item.prod_class}} {{item.name}} &raquo; {{ 'ADMIN.CERTIFICATES.WARNINGS.message-4.part-2' | translate }}
        </p>
        <div style="display: flex; flex-direction: row;">
            <button class="btn btn-outline-dark" type="button" (click)="deleteState(true)" style="margin: 1%;">
                {{ 'ADMIN.CERTIFICATES.WARNINGS.button-yes' | translate }}
            </button>
            <button class="btn btn-outline-dark" type="button" (click)="deleteState(false)" style="margin: 1%;">
                {{ 'ADMIN.CERTIFICATES.WARNINGS.button-no' | translate }}
            </button>
        </div>
    </div>
</div>

<div [ngClass]="{Hebrew: language==='iv'}">
    <div *ngIf="!new_form_open" class="shopComp">
        <button class="btn btn-secondary btn-lg btn-block" type="button" (click)="openForm(true)">{{ 'ADMIN.CERTIFICATES.button-create-modify' | translate}}</button>
    </div>
    <div class="form" *ngIf="new_form_open">
        <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
            <!-- <p>{{selectedProd | json}}</p> -->

            <div class="form-row align-items-center">
                <div class="col-sm-3 my-1">
                    <label for="idInput">ID:</label>
                    <input value="selectedProd[0].burcode_id" formControlName="burcode_id" [ngClass]="{error: isSubmitted && formControls.burcode_id.errors?.required}" placeholder="{{ 'ADMIN.PLACEHOLDER.id' | translate}}" type="text" class="form-control" id="idInput">
                </div>

                <div class="col-sm-3 my-1">
                    <label for="nameInput">{{ 'ADMIN.name' | translate}}:</label>
                    <input formControlName="name" [ngClass]="{error: isSubmitted && formControls.name.errors?.required}" type="text" #name class="form-control" id="nameInput" placeholder="{{ 'ADMIN.PLACEHOLDER.name' | translate}}">
                </div>

                <div class="col-sm-3 my-1">
                    <label for="classSelect">{{ 'ADMIN.class' | translate}}:</label>
                    <select formControlName="prod_class" [ngClass]="{error: isSubmitted && formControls.prod_class.errors?.required}" class="custom-select" id="classSelect">
                        <option value='' selected>{{ 'SEARCH.not-selected' | translate }}</option>
                        <option value="basics">{{ 'SEARCH.OPTIONS.basics' | translate }}</option>
                        <option value="Luxio">{{ 'SEARCH.OPTIONS.Luxio' | translate }}</option>
                        <option value="Options">{{ 'SEARCH.OPTIONS.Options' | translate }}</option>
                        <option value="Gel Play">{{ 'SEARCH.OPTIONS.Gel-Play' | translate }}</option>
                        <option value="Hard GEL">{{ 'SEARCH.OPTIONS.Hard-GEL' | translate }}</option>
                        <option value="materials">{{ 'SEARCH.OPTIONS.materials' | translate }}</option>
                        <option value="accessories">{{ 'SEARCH.OPTIONS.accessories' | translate }}</option>
                    </select>
                </div>

                <div class="col-sm-3 my-1">
                    <label for="collectionInput">{{ 'ADMIN.collection' | translate}}:</label>
                    <input value="selectedProd[0].prod_collection" formControlName="prod_collection" placeholder="{{ 'ADMIN.PLACEHOLDER.collection' | translate}}" type="text" class="form-control" id="collectionInput">
                </div>
            </div>

            <div class="form-row align-items-center">
                <div class="col-sm-3 my-1">
                    <label for="colorInput">{{ 'ADMIN.color' | translate}}:</label>
                    <select formControlName="color" class="custom-select" id="colorInput">
                        <option value='' selected>{{ 'SEARCH.not-selected' | translate }}</option>
                        <option value='white'>{{ 'SEARCH.OPTIONS.white' | translate }}</option>
                        <option value='black'>{{ 'SEARCH.OPTIONS.black' | translate }}</option>
                        <option value='pink'>{{ 'SEARCH.OPTIONS.pink' | translate }}</option>
                        <option value='beige'>{{ 'SEARCH.OPTIONS.beige' | translate }}</option>
                        <option value='red'>{{ 'SEARCH.OPTIONS.red' | translate }}</option>
                        <option value='оrange'>{{ 'SEARCH.OPTIONS.оrange' | translate }}</option>
                        <option value='yellow'>{{ 'SEARCH.OPTIONS.yellow' | translate }}</option>
                        <option value='green'>{{ 'SEARCH.OPTIONS.green' | translate }}</option>
                        <option value='blue'>{{ 'SEARCH.OPTIONS.blue' | translate }}</option>
                        <option value='violet'>{{ 'SEARCH.OPTIONS.violet' | translate }}</option>
                        <option value='brown'>{{ 'SEARCH.OPTIONS.brown' | translate }}</option>
                        <option value='gray'>{{ 'SEARCH.OPTIONS.gray' | translate }}</option>
                    </select>
                </div>

                <div class="col-sm-3 my-1">
                    <label for="tintSelect">{{ 'ADMIN.tint' | translate}}:</label>
                    <select formControlName="tint" class="custom-select" id="tintSelect" #tint>
                        <option value="" selected>{{ 'SEARCH.not-selected' | translate }}</option>
                        <option value='light'>{{ 'SEARCH.OPTIONS.light' | translate }}</option>
                        <option value='dark'>{{ 'SEARCH.OPTIONS.dark' | translate }}</option>
                        <option value='bright'>{{ 'SEARCH.OPTIONS.bright' | translate }}</option>
                    </select>
                </div>

                <div class="col-sm-3 my-1">
                    <label for="transparencySelect">{{ 'ADMIN.transparency' | translate}}:</label>
                    <select formControlName="transparency" class="custom-select" id="transparencySelect" #transparency>
                        <option value="" selected>{{ 'SEARCH.not-selected' | translate }}</option>
                        <option value='see-through'>{{ 'SEARCH.OPTIONS.see-through' | translate }}</option>
                        <option value='dense'>{{ 'SEARCH.OPTIONS.dense' | translate }}</option>
                    </select>
                </div>

                <div class="col-sm-3 my-1">
                    <label for="labelSelect">{{ 'ADMIN.label' | translate}}:</label>
                    <select formControlName="label" class="custom-select" id="labelSelect" #label>
                        <option value="" selected>{{ 'SEARCH.not-selected' | translate }}</option>
                        <option value='New'>{{ 'ADMIN.LABEL.new' | translate}}</option>
                        <option value='Special offer'>{{ 'ADMIN.LABEL.special-offer' | translate}}</option>
                        <option value='Best seller'>{{ 'ADMIN.LABEL.best-seler' | translate}}</option>
                        <option value='Out of stock'>{{ 'ADMIN.LABEL.out-of-stock' | translate}}</option>
                        <option value='Coming soon'>{{ 'ADMIN.LABEL.coming-soon' | translate}}</option>
                    </select>
                </div>
            </div>

            <div class="form-row align-items-center">
                <div class="col-sm-3 my-1">
                    <label for="amount1Input">{{ 'ADMIN.amount' | translate}} 1:</label>
                    <select formControlName="amount_1" class="custom-select" [ngClass]="{error: isSubmitted && formControls.amount_1.errors?.required}" id="amount1Input" #amount_1>
                        <option value="1 piece" selected>1 piece</option>
                        <option value='15 ml.'>15 ml.</option>
                        <option value='120 ml.'>120 ml.</option>
                        <option value='480 ml.'>480 ml.</option>
                        <option value='1 g.'>1 g.</option>
                        <option value='4 g.'>4 g.</option>
                        <option value='7 g.'>7 g.</option>
                        <option value='45 g.'>45 g.</option>
                    </select>
                </div>

                <div class="col-sm-3 my-1">
                    <label for="price1Input">{{ 'ADMIN.price' | translate}} 1:</label>
                    <input formControlName="price_1" [ngClass]="{error: isSubmitted && formControls.price_1.errors?.required}" type="text" class="form-control" id="price1Input" placeholder="&#8362;" #price_1>
                </div>

                <div class="col-sm-3 my-1">
                    <label for="amount2Input">{{ 'ADMIN.amount' | translate}} 2:</label>
                    <select formControlName="amount_2" class="custom-select" id="amount2Input" #amount_2>
                        <option value="" selected>{{ 'SEARCH.not-selected' | translate }}</option>
                        <option value="1 piece">1 piece</option>
                        <option value='15 ml.'>15 ml.</option>
                        <option value='120 ml.'>120 ml.</option>
                        <option value='480 ml.'>480 ml.</option>
                        <option value='1 g.'>1 g.</option>
                        <option value='4 g.'>4 g.</option>
                        <option value='7 g.'>7 g.</option>
                        <option value='45 g.'>45 g.</option>
                    </select>
                </div>

                <div class="col-sm-3 my-1">
                    <label for="price2Input">{{ 'ADMIN.price' | translate}} 2:</label>
                    <input formControlName="price_2" [ngClass]="{error: isSubmitted && formControls.price_2.errors?.required}" type="text" class="form-control" id="price2Input" placeholder="&#8362;" #price_2>
                </div>
            </div>

            <div class="form-row align-items-center">
                <div style="width: 50%;">
                    <label>{{ 'ADMIN.img-link' | translate}} 1:</label>
                    <input formControlName="img_link_1" [ngClass]="{error: isSubmitted && formControls.img_link_1.errors?.required}" placeholder="{{ 'ADMIN.PLACEHOLDER.img-link' | translate}}" (ngModelChange)="showImg1($event)" type="text" class="form-control">

                    <label>{{ 'ADMIN.img-link' | translate}} 2:</label>
                    <input formControlName="img_link_2" placeholder="{{ 'ADMIN.PLACEHOLDER.img-link' | translate}}" (ngModelChange)="showImg2($event)" type="text" class="form-control">

                    <label>{{ 'ADMIN.img-link' | translate}} 3:</label>
                    <input formControlName="img_link_3" placeholder="{{ 'ADMIN.PLACEHOLDER.img-link' | translate}}" (ngModelChange)="showImg3($event)" type="text" class="form-control">
                </div>

                <div style="width: 50%;">
                    <img src={{imgSelected1}} *ngIf="imgSelected1" alt="No image" class="imgSelected">
                    <img src={{imgSelected2}} *ngIf="imgSelected2" alt="No image" class="imgSelected">
                    <img src={{imgSelected3}} *ngIf="imgSelected3" alt="No image" class="imgSelected">
                </div>
            </div>

            <div class="form-row align-items-center">
                <div class="col-sm-12 my-1">
                    <label for="Textarea">{{ 'ADMIN.text-area' | translate}} (english):</label>
                    <textarea class="form-control" id="Textarea" formControlName="coment_eng"></textarea>

                    <label for="Textarea">{{ 'ADMIN.text-area' | translate}} (русский):</label>
                    <textarea class="form-control" id="Textarea" formControlName="coment_rus"></textarea>

                    <label for="Textarea">{{ 'ADMIN.text-area' | translate}} (עברית):</label>
                    <textarea class="form-control" id="Textarea" formControlName="coment_iv"></textarea>
                </div>
            </div>

            <div class="form-row align-items-center">
                <div class="col-sm-3 my-1">
                    <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="clearForm()">
                        {{ 'ADMIN.CERTIFICATES.button-clear-form' | translate}}
                    </button>
                </div>
                <div class="col-sm-8 my-1">
                    <button type="submit" class="btn btn-secondary btn-lg btn-block">
                        {{ 'ADMIN.CERTIFICATES.button-save' | translate}}
                    </button>
                </div>
                <div class="col-sm-1 my-1">
                    <button type="button" class="btn btn-secondary" (click)="openForm(false)"><i class="far fa-window-close fa-2x closeButton"></i></button>
                </div>
            </div>

        </form>
    </div>

    <br> <br>

    <div class="shopComp" *ngIf="shop">
        <div *ngFor="let item of shop" id={{item.burcode_id}} class="card mb-3" style="width: 48%; margin: auto; margin-top:1%">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src={{item.img_link_1}} class="card-img" alt="..." (click)="select(item.burcode_id);openForm(true)">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text"><small class="text-muted"># {{item.burcode_id}}</small></p>
                        <h5 class="card-title">{{item.prod_class}} {{item.name}}</h5>
                        <p *ngIf="item.prod_collection">Collection: {{ item.prod_collection}}</p>
                        <p class="card-text">{{item.coment_eng}}</p>
                        <p class="card-text">{{item.coment_rus}}</p>
                        <p class="card-text Hebrew">{{item.coment_iv}}</p>

                        <p class="card-text">
                            <small class="text-muted">{{item.amount_1}} {{item.price_1}} &#8362;</small>
                            <small class="text-muted" *ngIf="item.amount_2"> / {{item.amount_2}} {{item.price_2}} &#8362;</small>
                        </p>
                        <p class="card-text">
                            <small class="text-muted labels" *ngIf="item.label">{{item.label}}</small>
                            <small class="text-muted labels" *ngIf="item.color">{{item.color}}</small>
                            <small class="text-muted labels" *ngIf="item.tint">{{item.tint}}</small>
                            <small class="text-muted labels" *ngIf="item.label">{{item.transparency}}</small></p>
                        <div>
                            <button type="button" class="btn btn-outline-warning" (click)="select(item.burcode_id);openForm(true)">
                                {{ 'ADMIN.CERTIFICATES.button-edit' | translate }}
                            </button>
                            <button type="button" class="btn btn-outline-danger" (click)="delete(item._id)" style="margin-left: 15px;">
                                {{ 'ADMIN.CERTIFICATES.button-delete' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>