.personal-content {
    width: 800px;
}

.AKZENTZ-model {
    width: 400px;
    height: 800px;
    background-image: url('https://i.pinimg.com/originals/18/58/32/185832b4320525c080a8cb1ee5b66413.jpg');
    background-size: cover;
    margin: 20px;
}

.sort-buttons-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.s-button {
    margin: auto;
    width: 23%;
}

.butve {
    background-color: rgb(212, 99, 99, 0.5);
    color: white;
}

.butve:hover {
    background-color: rgb(212, 99, 99);
}