.Hebrew>p {
    text-align: right;
    direction: rtl;
}

.s-button {
    width: 23%;
    float: left;
    margin: 1%;
}

.s-button:hover {
    background-color: rgb(212, 99, 99);
}

.butve {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.butve:hover {
    background-color: rgb(212, 99, 99);
}

.message-link {
    width: 100%;
    background: none;
    border: none;
    padding: 0;
    font-family: arial, sans-serif;
    color: brown;
    margin: auto;
    margin-top: 15px;
    text-align: center;
}

.shipping-details {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    border-bottom: rgba(128, 128, 128, 0.2) 1px solid;
}

@media screen and (max-width: 990px) {
    #photo-model {
        display: none;
    }
}