<!-- ------------------------------------------------------------------FOR USER------------------------------------------------ -->
<form *ngIf="!asAdmin" class="regF" [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
    <div class="form-row">
        <div class="col">
            <input [ngClass]="{error: isSubmitted && formControls.email.errors?.required}" formControlName="email" type="text" value="formControls.email" class="form-control" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.email' | translate}}">
        </div>
        <div class="text-danger" *ngIf="isSubmitted && formControls.email.errors?.required">{{ 'SIGN-IN.rule-1' | translate}}</div>
    </div>

    <div class="form-row">
        <div class="col">
            <input [ngClass]="{error: isSubmitted && formControls.password.errors?.required}" formControlName="password" type="password" value="formControls.password" class="form-control" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.password' | translate}}">
        </div>
        <div class="text-danger" *ngIf="isSubmitted && formControls.password.errors?.required">{{ 'SIGN-IN.rule-1' | translate}}</div>
    </div>

    <button type="submit" class="btn btn-dark btn-lg btn-block" style="margin-top: 15px;">{{ 'SIGN-IN.log-in' | translate}}</button>
</form>


<!-- -----------------------------------------------------------------FOR ADMIN--------------------------------------------------------- -->
<form *ngIf="asAdmin" class="regF" [formGroup]="formTemplate2" (submit)="onSubmit2(formTemplate2.value)">
    <div class="form-row">
        <div class="col">
            <input [ngClass]="{error: isSubmitted2 && formControls2.admin_name.errors?.required}" formControlName="admin_name" type="text" class="form-control" placeholder="Admin name">
        </div>
        <div class="text-danger" *ngIf="isSubmitted2 && formControls2.admin_name.errors?.required">{{ 'SIGN-IN.rule-1' | translate}}</div>
    </div>

    <div class="form-row">
        <div class="col">
            <input [ngClass]="{error: isSubmitted2 && formControls2.admin_password.errors?.required}" formControlName="admin_password" type="password" class="form-control" placeholder="Admin password">
        </div>
        <div class="text-danger" *ngIf="isSubmitted2 && formControls2.admin_password.errors?.required">{{ 'SIGN-IN.rule-1' | translate}}</div>
    </div>

    <div class="form-row">
        <div class="col">
            <input [ngClass]="{error: isSubmitted2 && formControls2.main_email.errors?.required}" formControlName="main_email" type="text" class="form-control" placeholder="Main email">
        </div>
        <div class="text-danger" *ngIf="isSubmitted2 && formControls2.main_email.errors?.required">{{ 'SIGN-IN.rule-1' | translate}}</div>
    </div>

    <div class="form-row">
        <div class="col">
            <input [ngClass]="{error: isSubmitted2 && formControls2.main_password.errors?.required}" formControlName="main_password" type="password" class="form-control" placeholder="Main password">
        </div>
        <div class="text-danger" *ngIf="isSubmitted2 && formControls2.main_password.errors?.required">{{ 'SIGN-IN.rule-1' | translate}}</div>
    </div>
    <button type="submit" class="btn btn-dark btn-lg btn-block" style="margin-top: 15px;">{{ 'SIGN-IN.log-in' | translate}}</button>
</form>