<form class="regF">
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.email' | translate}}">
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.password' | translate}}">
        </div>
    </div>
    <button type="button" class="btn btn-dark btn-lg btn-block" style="margin-top: 15px;">{{ 'SIGN-IN.log-in' | translate}}</button>
</form>

<style>
    .form-row {
        margin-top: 1%;
    }
</style>