<div [ngClass]="{Hebrew: languege === 'iv'}">

    <div class="coocies-policy">
        <h4 style="text-align: center; margin-top: 30px; color: brown;">{{ 'COOKIES.block-1.title' | translate }}</h4>
        <p>{{ 'COOKIES.block-1.p-1' | translate }}</p>
        <p>{{ 'COOKIES.block-1.p-2' | translate }}</p>
        <p>{{ 'COOKIES.block-1.p-3' | translate }}</p>
        <p>{{ 'COOKIES.block-1.p-4' | translate }}</p>
        <p>{{ 'COOKIES.block-1.p-5' | translate }}</p>
        <p>{{ 'COOKIES.block-1.p-6' | translate }}</p>
        <p>{{ 'COOKIES.block-1.p-7' | translate }}</p>
        <p>{{ 'COOKIES.block-1.p-8' | translate }}</p>
    </div>

    <div class="coocies-policy ">
        <h4 style="text-align: center; ">{{ 'COOKIES.block-2.title-1' | translate }}</h4>
        <p>{{ 'COOKIES.block-2.p-1' | translate }}</p>
        <h4 style="text-align: center; ">{{ 'COOKIES.block-2.title-2' | translate }}</h4>
        <p>{{ 'COOKIES.block-2.p-2' | translate }}</p>
        <ul>
            <li>{{ 'COOKIES.block-2.l-1' | translate }}</li>
            <li>{{ 'COOKIES.block-2.l-2' | translate }}</li>
            <li>{{ 'COOKIES.block-2.l-3' | translate }}</li>
            <li>{{ 'COOKIES.block-2.l-4' | translate }}</li>
        </ul>
        <h4 style="text-align: center; ">{{ 'COOKIES.block-2.title-3' | translate }}</h4>
        <p>{{ 'COOKIES.block-2.p-3' | translate }}</p>
        <h4 style="text-align: center; ">{{ 'COOKIES.block-2.title-4' | translate }}</h4>
        <p>{{ 'COOKIES.block-2.p-4' | translate }}</p>
        <h4 style="text-align: center; ">{{ 'COOKIES.block-2.title-5' | translate }}</h4>
        <p>{{ 'COOKIES.block-2.p-5' | translate }}</p>
        <h4 style="text-align: center; ">{{ 'COOKIES.block-2.title-6' | translate }}</h4>
        <p>{{ 'COOKIES.block-2.p-6' | translate }}</p>
        <h4 style="text-align: center; ">{{ 'COOKIES.block-2.title-7' | translate }}</h4>
        <p>{{ 'COOKIES.block-2.p-7' | translate }}</p>
        <h4 style="text-align: center; ">{{ 'COOKIES.block-2.title-8' | translate }}</h4>
        <p>{{ 'COOKIES.block-2.p-8' | translate }}</p>
        <h4 style="text-align: center; ">{{ 'COOKIES.block-2.title-9' | translate }}</h4>
        <p>{{ 'COOKIES.block-2.p-9' | translate }}</p>
        <h4 style="text-align: center; ">{{ 'COOKIES.block-2.title-10' | translate }}</h4>
        <p>{{ 'COOKIES.block-2.p-10' | translate }}</p>
        <h4 style="text-align: center; ">{{ 'COOKIES.block-2.title-11' | translate }}</h4>
        <p>{{ 'COOKIES.block-2.p-11' | translate }}</p>
    </div>

    <div class="coocies-policy">
        <h4 style="text-align: center; ">{{ 'COOKIES.block-3.title-1' | translate }}</h4>
        <p>{{ 'COOKIES.block-3.p-1' | translate }}</p>
        <p>{{ 'COOKIES.block-3.p-1-2' | translate }}</p>
        <h4 style="text-align: center; ">{{ 'COOKIES.block-3.title-2' | translate }}</h4>
        <p>{{ 'COOKIES.block-3.p-2' | translate }}</p>
        <h4 style="text-align: center; ">{{ 'COOKIES.block-3.title-3' | translate }}</h4>
        <p>{{ 'COOKIES.block-3.p-3' | translate }}</p>
        <h4 style="text-align: center; ">{{ 'COOKIES.block-3.title-4' | translate }}</h4>
        <p>{{ 'COOKIES.block-3.p-4' | translate }}</p>
        <h4 style="text-align: center; ">{{ 'COOKIES.block-3.title-5' | translate }}</h4>
        <p>{{ 'COOKIES.block-3.p-5' | translate }}</p>
        <h4 style="text-align: center; ">{{ 'COOKIES.block-3.title-6' | translate }}</h4>
        <p>{{ 'COOKIES.block-3.p-6' | translate }}</p>
        <h4 style="text-align: center; ">{{ 'COOKIES.block-3.title-7' | translate }}</h4>
        <p>{{ 'COOKIES.block-3.p-7' | translate }}</p>
        <h4 style="text-align: center; ">{{ 'COOKIES.block-3.title-8' | translate }}</h4>
        <p>{{ 'COOKIES.block-3.p-8' | translate }}</p>
        <h4 style="text-align: center; ">{{ 'COOKIES.block-3.title-9' | translate }}</h4>
        <p>{{ 'COOKIES.block-3.p-9' | translate }}</p>
        <h4 style="text-align: center; ">{{ 'COOKIES.block-3.title-10' | translate }}</h4>
        <p>{{ 'COOKIES.block-3.p-10' | translate }}</p>
        <h4 style="text-align: center; ">{{ 'COOKIES.block-3.title-11' | translate }}</h4>
        <p>{{ 'COOKIES.block-3.p-11' | translate }}</p>
        <h4 style="text-align: center; ">{{ 'COOKIES.block-3.title-12' | translate }}</h4>
        <p>{{ 'COOKIES.block-3.p-12' | translate }}</p>
        <h4 style="text-align: center; ">{{ 'COOKIES.block-3.title-13' | translate }}</h4>
        <p>{{ 'COOKIES.block-3.p-13' | translate }}</p>
    </div>

    <div class="coocies-policy" style="border: none;">
        <h4 style="text-align: center; ">{{ 'COOKIES.block-4.title' | translate }}</h4>
        <p class="bold " style="margin-top: 20px; color: brown;">{{ 'COOKIES.block-4.p-1' | translate }}</p>
        <p class="bold ">{{ 'COOKIES.block-4.p-2' | translate }}</p>
        <p class="bold ">{{ 'COOKIES.block-4.p-3' | translate }}</p>
        <p class="bold ">{{ 'COOKIES.block-4.p-4' | translate }}</p>
        <p class="bold ">{{ 'COOKIES.block-4.p-5' | translate }}</p>
        <p class="bold ">{{ 'COOKIES.block-4.p-6' | translate }}</p>

        <p>{{ 'COOKIES.block-4.p-7' | translate }}</p>
        <ul>
            <li>{{ 'COOKIES.block-4.l-1' | translate }}</li>
            <li>{{ 'COOKIES.block-4.l-2' | translate }}</li>
            <li>{{ 'COOKIES.block-4.l-3' | translate }}</li>
            <li>{{ 'COOKIES.block-4.l-4' | translate }}</li>
            <li>{{ 'COOKIES.block-4.l-5' | translate }}</li>
            <li>{{ 'COOKIES.block-4.l-6' | translate }}</li>
            <li>{{ 'COOKIES.block-4.l-7' | translate }}</li>
        </ul>
        <p>{{ 'COOKIES.block-4.p-8' | translate }}</p>
        <p>{{ 'COOKIES.block-4.p-9' | translate }}</p>
        <p>{{ 'COOKIES.block-4.p-10' | translate }}</p>
        <p>{{ 'COOKIES.block-4.p-11' | translate }}</p>
        <p>{{ 'COOKIES.block-4.p-12' | translate }}</p>
    </div>

    <div class="buttons">
        <button style="float: left;" type="button" (click)="agreeOrNot(false)" class="btn btn-secondary btn-lg">{{ 'COOKIES.button-no' | translate }}</button>
        <button style="float: right;" type="button" (click)="agreeOrNot(true)" class="btn btn-success btn-lg">{{ 'COOKIES.button-yes' | translate }}</button>
    </div>
</div>