<h1>Cookies Policy</h1>


<p>
    "Luxio Isarel" use cookies to give you a better browsing experience when you are visiting our website. By continuing to browse this site, you agree to the use of cookies.
</p>
<p>
    Cookies are used to throttle request rates, distinguish users, and track visitor traffic in order to improve user experience and prioritize content.
</p>
<p>
    Website uses cookies to identify visitors, manage visitor preferences, and establish consent.
</p>
<p>
    BY STAYING ON THIS WEBSITE, AND USING THE SERVICE, YOU ACKNOWLEDGE THAT YOU HAVE REVIEWED AND ACCEPT THIS AGREEMENT AND ARE AUTHORIZED TO ACT ON BEHALF OF, AND BIND TO THIS AGREEMENT. In consideration of the foregoing, the parties agree as specified below.
</p>
<p>
    We and our partners store or access information on devices, such as cookies and process personal data (such as personal phone number, email address ... ).
</p>
<p>
    Your preferences will apply to this website only. Please note that some processing of your personal data may not require your consent, but you have a right to object to such processing.
</p>