.coocies-policy {
    margin: 5%;
    padding-bottom: 30px;
    font-size: smaller;
    border-bottom: rgba(128, 128, 128, 0.555) 2px solid;
}

.bold {
    font-weight: 700;
    margin-top: -10px;
}

.buttons {
    width: 100%;
    margin-bottom: 100px;
}

.buttons>button {
    width: 48%;
}