<div class="USERS-LIST" [ngClass]="{Hebrew: langIv}">
    <div class="sort-buttons">
        <button type="button" class="btn btn-outline-dark sort-" (click)="getAll()">{{ 'ADMIN.CERTIFICATES.all' | translate }}</button>
        <button type="button" class="btn btn-outline-dark sort-" (click)="getSort('considered')">{{ 'ADMIN.CERTIFICATES.state-undefined' | translate }}</button>
        <button type="button" class="btn btn-outline-dark sort-" (click)="getSort('true')">{{ 'ADMIN.CERTIFICATES.state-approved' | translate }}</button>
        <button type="button" class="btn btn-outline-dark sort-" (click)="getSort('false')">{{ 'ADMIN.CERTIFICATES.state-dened' | translate }}</button>
        <!-- <p>{{ certificates_sorted | json}}</p> -->
    </div>

    <!-- <h1>{{ 'ADMIN.CERTIFICATES.title' | translate }}:</h1> -->
    <br>

    <div class="requests-div" *ngIf="certificatesList">
        <div *ngFor="let item of certificates_sorted" class="card mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img src="{{item.certificate_link}}" class="card-img" (click)="openCertificate(item.certificate_link)" alt="certificate">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        {{ 'ADMIN.CERTIFICATES.name' | translate }}:
                        <h5 class="card-title"> {{item.first_name}} {{item.second_name}}</h5>
                        <p class="card-text"> {{ 'ADMIN.CERTIFICATES.category' | translate }}: {{item.category}}</p>
                        <p class="card-text">{{ 'ADMIN.CERTIFICATES.city' | translate }}: {{item.city}}</p>
                        <p class="card-text">{{ 'ADMIN.CERTIFICATES.phone' | translate }}: {{item.phoneN}}</p>
                        <p class="card-text"><small class="text-muted">
                            {{ 'ADMIN.CERTIFICATES.date' | translate }}: {{item.date | date:'shortDate'}}</small>
                        </p>
                        <p class="card-text">
                            <small class="text-muted" *ngIf="item.status==='considered'">{{ 'ADMIN.CERTIFICATES.state' | translate }} {{ 'ADMIN.CERTIFICATES.state-undefined' | translate }}</small>
                            <small class="text-muted" *ngIf="item.status==='true'">{{ 'ADMIN.CERTIFICATES.state' | translate }} {{ 'ADMIN.CERTIFICATES.state-approved' | translate }}</small>
                            <small class="text-muted" *ngIf="item.status==='false'">{{ 'ADMIN.CERTIFICATES.state' | translate }} {{ 'ADMIN.CERTIFICATES.state-dened' | translate }}</small>
                        </p>

                    </div>
                </div>
                <div class="col-md-2 buttons">
                    <button type="button" class="btn btn-outline-success" (click)="confirm(item._id, true)">
                        {{ 'ADMIN.CERTIFICATES.button-approve' | translate }}</button>
                    <button type="button" class="btn btn-outline-danger" (click)="confirm(item._id, false)">
                        {{ 'ADMIN.CERTIFICATES.button-deny' | translate }}</button>
                    <button type="button" class="btn btn-outline-dark" (click)="delete(item._id)">
                        {{ 'ADMIN.CERTIFICATES.button-delete' | translate }}</button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="certificateImg" class="selected-img-div">
        <img src="{{certificateImg}}" class="selected-img" />
        <button (click)="closeCertificate()" type="button" class="btn btn-outline-dark" style="width: auto;">X</button>
    </div>
</div>

<!-- <div>
    <p>{{ certificatesList | json}}</p>
</div> -->