.Hebrew {
    text-align: right;
    direction: rtl;
}

.Hebrew1 {
    direction: rtl;
}

.USERS-LIST {
    width: 100%;
}

.sort-buttons {
    width: 100%;
    height: 50px;
}

.s-button {
    width: 23%;
    float: left;
    margin: 1%;
}

.s-button:hover {
    background-color: rgb(212, 99, 99);
}

.card-img {
    cursor: pointer;
}

.selected-img-div {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0.5));
    position: fixed;
    left: 0;
    top: 0;
}

.selected-img {
    max-width: 50%;
    max-height: 80%;
    margin-left: 25%;
    margin-top: 110px;
    border: solid 0.3px rgba(0, 0, 0, 0.5);
}

.buttons {
    float: right;
    width: 100%;
    margin: 1%;
}

.message-to-admin {
    width: 100%;
    position: fixed;
    top: 45%;
    left: 0;
    z-index: 10;
    font-size: 20px;
    text-align: center;
}

.inner-message {
    background-color: white;
    border: black 2px solid;
    width: 50%;
    margin-left: 25%;
    padding: 15px;
}

.red {
    background: #CE5937;
    background: -moz-linear-gradient(left, #CE5937 0%, #A40000 50%, #CE5937 100%);
    background: -webkit-linear-gradient(left, #CE5937 0%, #A40000 50%, #CE5937 100%);
    background: linear-gradient(to right, #CE5937 0%, #A40000 50%, #CE5937 100%);
    color: brown;
}

.blue {
    background: #009CCE;
    background: -moz-linear-gradient(left, #009CCE 0%, #0800A4 50%, #009CCE 100%);
    background: -webkit-linear-gradient(left, #009CCE 0%, #0800A4 50%, #009CCE 100%);
    background: linear-gradient(to right, #009CCE 0%, #0800A4 50%, #009CCE 100%);
    color: rgb(42, 44, 165);
}

.yellow {
    color: orange;
    background: #DBD60B;
    background: -moz-linear-gradient(left, #DBD60B 0%, #CC6200 50%, #DBD60B 100%);
    background: -webkit-linear-gradient(left, #DBD60B 0%, #CC6200 50%, #DBD60B 100%);
    background: linear-gradient(to right, #DBD60B 0%, #CC6200 50%, #DBD60B 100%);
}