<!-- IF ADMIN WANT TO DELETE USER HE GET THIS MESSAGE  ----------------------------------------------------- -->
<div *ngIf="user_toDelete" class="warn-mes message-to-admin">
    <div *ngFor="let user of user_toDelete" class="inner-message" [ngClass]="{Hebrew1: language === 'iv'}">
        <p>
            {{ 'ADMIN.CERTIFICATES.WARNINGS.message-1.part-1' | translate }} &laquo; {{user.first_name}} {{user.second_name}} &raquo; {{ 'ADMIN.CERTIFICATES.WARNINGS.message-1.part-2' | translate }}
        </p>
        <div style="display: flex; flex-direction: row;">
            <button class="btn btn-outline-dark" type="button" (click)="deleteState(true)" style="margin: 1%;">
                {{ 'ADMIN.CERTIFICATES.WARNINGS.button-yes' | translate }}
            </button>
            <button class="btn btn-outline-dark" type="button" (click)="deleteState(false)" style="margin: 1%;">
                {{ 'ADMIN.CERTIFICATES.WARNINGS.button-no' | translate }}
            </button>
        </div>
    </div>
</div>

<!-- IF ADMIN WANT TO APPROVE USER HE GET THIS MESSAGE  ----------------------------------------------------- -->
<div *ngIf="user_toConfirm" class="approve-mes message-to-admin">
    <div *ngFor="let user of user_toConfirm" class="inner-message" [ngClass]="{Hebrew1: language === 'iv'}">
        <p>
            {{ 'ADMIN.CERTIFICATES.WARNINGS.message-2.part-1' | translate }} &laquo; {{user.first_name}} {{user.second_name}} &raquo; {{ 'ADMIN.CERTIFICATES.WARNINGS.message-2.part-2' | translate }}
        </p>
        <div style="display: flex; flex-direction: row;">
            <button class="btn btn-outline-dark" type="button" (click)="confirmState(true)" style="margin: 1%;">
                {{ 'ADMIN.CERTIFICATES.WARNINGS.button-yes' | translate }}
            </button>
            <button class="btn btn-outline-dark" type="button" (click)="confirmState(false)" style="margin: 1%;">
                {{ 'ADMIN.CERTIFICATES.WARNINGS.button-no' | translate }}
            </button>
        </div>
    </div>
</div>

<!-- IF ADMIN WANT TO DENY USER HE GET THIS MESSAGE  ----------------------------------------------------- -->
<div *ngIf="user_toDeny" class="deny-mes message-to-admin">
    <div *ngFor="let user of user_toDeny" class="inner-message" [ngClass]="{Hebrew1: language === 'iv'}">
        <p>
            {{ 'ADMIN.CERTIFICATES.WARNINGS.message-3.part-1' | translate }} &laquo; {{user.first_name}} {{user.second_name}} &raquo; {{ 'ADMIN.CERTIFICATES.WARNINGS.message-3.part-2' | translate }}
        </p>
        <div style="display: flex; flex-direction: row;">
            <button class="btn btn-outline-dark" type="button" (click)="denyState(true)" style="margin: 1%;">
                {{ 'ADMIN.CERTIFICATES.WARNINGS.button-yes' | translate }}
            </button>
            <button class="btn btn-outline-dark" type="button" (click)="denyState(false)" style="margin: 1%;">
                {{ 'ADMIN.CERTIFICATES.WARNINGS.button-no' | translate }}
            </button>
        </div>
    </div>
</div>


<div class="USERS-LIST" [ngClass]="{Hebrew: language === 'iv'}">
    <div class="sort-buttons">
        <button type="button" class="btn btn-outline-dark sort-" (click)="getAll()">{{ 'ADMIN.CERTIFICATES.all' | translate }}</button>
        <button type="button" class="btn btn-outline-dark sort-" (click)="getSort('considered')">{{ 'ADMIN.CERTIFICATES.state-undefined' | translate }}</button>
        <button type="button" class="btn btn-outline-dark sort-" (click)="getSort('true')">{{ 'ADMIN.CERTIFICATES.state-approved' | translate }}</button>
        <button type="button" class="btn btn-outline-dark sort-" (click)="getSort('false')">{{ 'ADMIN.CERTIFICATES.state-dened' | translate }}</button>
        <!-- <p>{{ certificates_sorted | json}}</p> -->
    </div>

    <!-- <h1>{{ 'ADMIN.CERTIFICATES.title' | translate }}:</h1> -->
    <br>

    <div class="requests-div" *ngIf="certificatesList">
        <div *ngFor="let item of certificates_sorted" class="card mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <img *ngIf="item.certificate_link" src="{{item.certificate_link}}" class="card-img" (click)="openCertificate(item.certificate_link)" alt="certificate">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        {{ 'ADMIN.CERTIFICATES.name' | translate }}:
                        <h5 class="card-title"> {{item.first_name}} {{item.second_name}}</h5>

                        <p class="card-text" *ngIf="item.certificate_link"> {{ 'ADMIN.CERTIFICATES.category' | translate }}: {{item.category}}</p>
                        <p class="card-text" *ngIf="item.business"> {{ 'ADMIN.CERTIFICATES.category' | translate }}: {{item.category}} &laquo; {{item.business.name}} &raquo; {{item.business.id}}</p>

                        <p class="card-text">{{ 'ADMIN.CERTIFICATES.city' | translate }}: {{item.city}}</p>
                        <p class="card-text">{{ 'ADMIN.CERTIFICATES.phone' | translate }}: {{item.phoneN}}</p>
                        <p class="card-text"><small class="text-muted">
                            {{ 'ADMIN.CERTIFICATES.date' | translate }}: {{item.date | date:'shortDate'}}</small>
                        </p>
                        <p class="card-text">
                            <small class="text-muted" *ngIf="item.status==='considered'">{{ 'ADMIN.CERTIFICATES.state' | translate }} {{ 'ADMIN.CERTIFICATES.state-undefined' | translate }}</small>
                            <small class="text-muted" *ngIf="item.status==='true'">{{ 'ADMIN.CERTIFICATES.state' | translate }} {{ 'ADMIN.CERTIFICATES.state-approved' | translate }}</small>
                            <small class="text-muted" *ngIf="item.status==='false'">{{ 'ADMIN.CERTIFICATES.state' | translate }} {{ 'ADMIN.CERTIFICATES.state-dened' | translate }}</small>
                        </p>

                    </div>
                </div>
                <div class="col-md-2 buttons">
                    <button type="button" class="btn btn-outline-primary" (click)="confirm(item._id)">
                        {{ 'ADMIN.CERTIFICATES.button-approve' | translate }}</button>
                    <button type="button" class="btn btn-outline-warning" (click)="deny(item._id)">
                        {{ 'ADMIN.CERTIFICATES.button-deny' | translate }}</button>
                    <button type="button" class="btn btn-outline-danger" (click)="delete(item._id)">
                        {{ 'ADMIN.CERTIFICATES.button-delete' | translate }}</button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="certificateImg" class="selected-img-div">
        <img src="{{certificateImg}}" class="selected-img" />
        <button (click)="closeCertificate()" type="button" class="btn btn-outline-dark" style="width: auto;">X</button>
    </div>
</div>

<!-- <div>
    <p>{{ certificatesList | json}}</p>
</div> -->

<!-- FOOTER -->
<app-footer></app-footer>