<form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
    <div class="form-row">
        <div class="col">
            <input [ngClass]="{error: isSubmitted && formControls.email.errors?.required && denied}" formControlName="email" type="text" class="form-control" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.email' | translate}}">
        </div>
        <div class="text-danger" *ngIf="isSubmitted && formControls.email.errors?.required && denied">Адрес не указан</div>
        <div class="text-danger" *ngIf="isSubmitted && response==='user not found'">Такого адреса в нашей базе данных не существует. Попробуйте ещё раз.</div>
        <!-- <p *ngIf="response">{{response|json}}</p> -->
    </div>

    <button *ngIf="response!=='ok'" type="submit" class="btn btn-dark btn-lg btn-block" style="margin-top: 15px;">Получить временный пароль 
        <div class="lds-ellipsis" *ngIf="isSubmitted"><div></div><div></div><div></div><div></div></div>
    </button>
</form>

<div *ngIf="response==='ok'">
    <div class="server-message">
        <p style="padding: 30px;  text-align: center; margin: 20px;">
            Пожалуйста, проверьте свою почьту. Мы отправили Вам временный пароль. В целях безопасности, поменяйте его как можно скорее.</p>
    </div>

    <form [formGroup]="formTemplate2" (submit)="onSubmit2(formTemplate2.value, formTemplate.value)">
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" formControlName="tempPass" placeholder="temporary password" [ngClass]="{error: isSubmitted && formControls2.tempPass.errors?.required}">
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" formControlName="newPass" placeholder="new password" [ngClass]="{error: isSubmitted && formControls2.newPass.errors?.required || !passValid}">
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" formControlName="repeatPass" placeholder="repeat new password" [ngClass]="{error: isSubmitted && formControls2.repeatPass.errors?.required || !passValid}">
            </div>
            <div class="text-danger" *ngIf="isSubmitted2 && !passValid">Пароли не совпадают</div>

        </div>

        <button type="submit" class="btn btn-dark btn-lg btn-block" style="margin-top: 15px;">{{ 'SIGN-IN.password-change' | translate}} и сохранить</button>
    </form>
</div>
<style>
    .form-row {
        margin-top: 1%;
    }
    
    .error {
        border: red solid 1.5px;
    }
    
    .server-message {
        height: 120px;
        background: #CE5937;
        background: -moz-linear-gradient(left, #CE5937 0%, #A40000 50%, #CE5937 100%);
        background: -webkit-linear-gradient(left, #CE5937 0%, #A40000 50%, #CE5937 100%);
        background: linear-gradient(to right, #CE5937 0%, #A40000 50%, #CE5937 100%);
        color: white;
    }
    /* Loader */
    
    .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 80px;
        /* height: 80px; */
    }
    
    .lds-ellipsis div {
        position: absolute;
        bottom: 0px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #fff;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    
    .lds-ellipsis div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
    }
    
    .lds-ellipsis div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    
    .lds-ellipsis div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    
    .lds-ellipsis div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
    }
    
    @keyframes lds-ellipsis1 {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
    
    @keyframes lds-ellipsis3 {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
    }
    
    @keyframes lds-ellipsis2 {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(24px, 0);
        }
    }
</style>