<form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)" *ngIf="!openForm" [ngClass]="{Hebrew: languege==='iv'}">
    <div class="form-row">
        <div class="col">
            <input [ngClass]="{error: isSubmitted && formControls.email.errors?.required}" formControlName="email" type="text" class="form-control" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.email' | translate}}">
        </div>
        <div class="text-danger" *ngIf="isSubmitted">{{ 'SIGN-IN.PASSWORD-RESTORE-FORM.error-1'| translate}}</div>
        <!-- <p *ngIf="response">{{response|json}}</p> -->
    </div>

    <button type="submit" class="btn btn-dark btn-lg btn-block" style="margin-top: 15px;">{{ 'SIGN-IN.PASSWORD-RESTORE-FORM.button-1'| translate}} 
        <!-- loader -->
        <div class="lds-ellipsis" *ngIf="isSubmitted  && formControls.email.errors?.required">
            <div></div><div></div><div></div><div></div>
        </div>
    </button>
</form>

<div *ngIf="openForm" [ngClass]="{Hebrew: languege==='iv'}">
    <div class=" server-message ">
        <p style="padding: 30px; text-align: center; margin: 20px; ">{{ 'SIGN-IN.PASSWORD-RESTORE-FORM.warning'| translate}}</p>
    </div>

    <form [formGroup]="formTemplate2" (submit)="onSubmit2(formTemplate2.value, formTemplate.value)">
        <div class="form-row">
            <div class="col">
                <input type="password" class="form-control" formControlName="tempPass" placeholder="{{ 'SIGN-IN.PASSWORD-RESTORE-FORM.temp-pass'| translate}}" [ngClass]="{error: isSubmitted && formControls2.tempPass.errors?.required} ">
            </div>
        </div>

        <div class="form-row ">
            <div class="col ">
                <input type="password" class="form-control" formControlName="newPass" placeholder="{{ 'SIGN-IN.PASSWORD-RESTORE-FORM.new-pass'| translate}}" [ngClass]="{error: isSubmitted && formControls2.newPass.errors?.required || !passValid} ">
            </div>
        </div>

        <div class="form-row ">
            <div class="col ">
                <input type="password" class="form-control" formControlName="repeatPass" placeholder="{{ 'SIGN-IN.PASSWORD-RESTORE-FORM.repeat-pass'| translate}}" [ngClass]="{error: isSubmitted && formControls2.repeatPass.errors?.required || !passValid} ">
            </div>
            <div class="text-danger" *ngIf="isSubmitted2 && !passValid">{{ 'SIGN-IN.PASSWORD-RESTORE-FORM.error-2'| translate}}</div>
        </div>

        <button type="submit" class="btn btn-dark btn-lg btn-block" style="margin-top: 15px;">{{ 'SIGN-IN.PASSWORD-RESTORE-FORM.button-2'| translate}}</button>
    </form>
</div>