<div *ngIf="!orders">
    <img *ngIf="languege==='en'" style="width: 100%;" src="https://i.pinimg.com/originals/82/99/f1/8299f1d00ced87473f11bb05e982da53.png?epik=dj0yJnU9WlhFd2hVWTJqOFVvbHdvSlJYTnNpVlY0bUNWakdnd0YmcD0wJm49VS1UWGJrczZ4M0drNmg4d2kxeUJOZyZ0PUFBQUFBR0FXbDJn" alt="Oops"
    />
    <img *ngIf="languege==='ru'" style="width: 100%;" src="https://i.pinimg.com/originals/e1/46/51/e146516381dc06c609f10b43a28ad42b.png?epik=dj0yJnU9LTBlVm9rZUJISzREN3FIOTBqNHlNS18zYWNnRHdacUEmcD0wJm49cFc1MC1Ca0wtQjBWTXltMEtsaEdvUSZ0PUFBQUFBR0FXbVBn" alt="Oops"
    />
    <img *ngIf="languege==='iv'" style="width: 100%;" src="https://i.pinimg.com/originals/81/25/44/8125446fa06833aa9595f36cc4471d25.png?epik=dj0yJnU9VlVNNndtV29TZkRDSkxzYnBocUFRc01jQ3dqSExpejgmcD0wJm49Q1F1ZVd5bFkzdkY1R0RjcW1kRGhsdyZ0PUFBQUFBR0FXbU1Z" alt="Oops"
    />
</div>

<div *ngFor="let order of orders" style="margin-top: 20px; border-bottom: gray 2px solid;">
    <p style="color: brown;">{{order.order_date | date}}</p>
    <div>
        <table class="table">
            <tbody>
                <tr *ngFor="let item of order.order">
                    <th scope="row"><img src={{item.img_link_1}} alt={{item.name}} style="height: 40px;" /></th>
                    <td>{{item.amount}}</td>
                    <td>{{item.prod_class}} {{item.name}}</td>
                    <td [ngClass]="{H: languege==='iv'}">{{item.price}} &#8362;</td>
                    <td>{{item.quantity}}</td>
                    <td [ngClass]="{H: languege==='iv'}">{{item.total_price}} &#8362;</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row justify-content-end">
        <div class="col-4">
            <button *ngIf="!order.received" type="button" class="btn btn-outline-info btn-sm" (click)="orderResived(order._id)">{{'PURCHASE-HISTORY.resived' | translate}}</button>
        </div>
        <div class='col-4' [ngClass]="{Hebrew: languege==='iv'}">
            <p>{{ 'PERSONAL-AREA.shipping' | translate }}: {{order.payments.shipping}} &#8362;</p>
            <p>{{ 'PERSONAL-AREA.discount' | translate }}: {{order.payments.discount}} &#8362;</p>
            <p>{{ 'PERSONAL-AREA.order-total' | translate }}: {{order.payments.totalPrice}} &#8362;</p>
        </div>
    </div>
</div>