/* --------MAIN---------- */

span {
    color: brown;
}

.marginTop50 {
    margin-top: 50px;
}

.marginTop100 {
    margin-top: 100px;
}

.marginBottom50 {
    margin-bottom: 50px;
}

.marginBottom100 {
    margin-bottom: 100px;
}

.main-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    word-spacing: 3px;
    text-transform: uppercase;
}

.main-title[class~="Hebrew"],
.main-title[class~="HebrewDirection"] {
    font-size: 32px;
}

.main-txt {
    padding: 1%;
    padding-top: 0;
    color: rgb(39, 39, 39);
    font-family: Georgia, serif;
    font-size: 22px;
}

.main-txt[class~="Hebrew"],
.main-txt[class~="HebrewDirection"] {
    font-size: 26px;
}

.Hebrew {
    text-align: right;
    direction: rtl;
}

.HebrewDirection {
    direction: rtl;
}

@media screen and (max-width: 900px) {
    .marginTop50 {
        margin-top: 20px;
    }
    .marginBottom50 {
        margin-bottom: 20px;
    }
    .marginTop100 {
        margin-top: 20px;
    }
    .marginBottom100 {
        margin-bottom: 20px;
    }
    .main-title {
        font-size: 18px;
        word-spacing: 1.5px;
    }
    .main-title[class~="Hebrew"],
    .main-title[class~="HebrewDirection"] {
        font-size: 22px;
    }
    .main-txt {
        font-size: 16px;
    }
    .main-txt [class~="Hebrew"],
    .main-txt [class~="HebrewDirection"] {
        font-size: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .main-title {
        font-size: 22px;
        word-spacing: 2px;
    }
    .main-title[class~="Hebrew"],
    .main-title[class~="HebrewDirection"] {
        font-size: 24px;
    }
    .main-txt {
        font-size: 20px;
    }
    .main-txt [class~="Hebrew"],
    .main-txt [class~="HebrewDirection"] {
        font-size: 22px;
    }
}


/*---------------- button icons */

i {
    font-size: 150%;
}

.hart-button,
.cart-button {
    margin-left: 1%;
    margin-top: 2%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.active {
    color: green;
}

.not-active {
    color: rgba(128, 128, 128, 0.5);
}

.red-hart {
    color: rgb(194, 0, 0);
}

.red-hart:hover {
    color: rgba(128, 128, 128, 0.5);
}

.grey-hart {
    color: rgba(128, 128, 128, 0.5);
}

.grey-hart:hover,
.cart-button:hover {
    color: rgb(194, 0, 0);
}

.hart-button:hover {
    color: rgb(194, 0, 0);
}

.main-font {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
    word-spacing: -0.5px;
    text-transform: uppercase;
}

@media screen and (max-width: 900px) {
    i {
        font-size: 100%;
    }
}