.buner {
    width: 100%;
}

.Hebrew {
    text-align: right;
    direction: rtl;
}


/* CARD */

.proForm-shop {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.proForm-card {
    margin: auto;
    width: 47%;
    max-height: 350px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.card-img-div {
    width: 35%;
}

.card-info-div {
    width: 65%;
}

.xs-text {
    font-size: 15px;
    font-family: Calibri;
    color: gray
}

.proForm-img-cover {
    background-color: rgba(255, 0, 0, 0);
    position: absolute;
    z-index: 1;
    height: 250px;
    width: 120px;
}


/* button icons */

.hart-button,
.cart-button {
    margin-left: 1%;
    margin-top: 2%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.active {
    color: green;
}

.not-active {
    color: rgba(128, 128, 128, 0.5);
}

.red-hart {
    color: rgb(194, 0, 0);
}

.red-hart:hover {
    color: rgba(128, 128, 128, 0.5);
}

.grey-hart {
    color: rgba(128, 128, 128, 0.5);
}

.grey-hart:hover,
.cart-button:hover {
    color: rgb(194, 0, 0);
}

.hart-button:hover {
    color: rgb(194, 0, 0);
}