.Hebrew {
    text-align: right;
    direction: rtl;
}

span {
    color: brown;
}

.margTop {
    margin-top: 50px;
}

.options-images {
    width: 90%;
    margin: auto;
}

.sm-text {
    padding: 1%;
    color: gray;
    font-family: Georgia, serif;
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: justify;
}

@media screen and (max-width: 1200px) {
    .sm-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 900px) {
    .options-images {
        width: 100%;
    }
    .margTop {
        margin-top: 20px;
    }
    .sm-text {
        font-size: 12px;
        letter-spacing: 0.5px;
        word-spacing: 1px;
    }
}