<!-------------------------------------------------- HEADER ---------------------->
<div id="Header" class="animate__animated animate__fadeInDown animate__delay-0.5s">
    <!-- 1 -->
    <nav class="navbar navbar-expand-lg navbar-light" id="nav-top" *ngIf="!admin">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03,#navbarTogglerDemo02" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars fa-2x"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item dropdown  nav-item-top">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-search fa-2x"></i></a>
                        <ul class="dropdown-menu dropdown-menu-top" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <!-- <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon1" (click)="doSearch(search_text.value)"><i class="fas fa-search"></i></button>
                                </div> -->
                                <input type="text" class="form-control" placeholder="Search.." #search_text (keyup.enter)="doSearch(search_text.value)">
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown nav-item-top" *ngIf="user">
                        <a class="nav-link active dropdown-toggle" [ngClass]="{activeColor: location==='personal-area'}" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user-cog  fa-2x nav-icon"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-top" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="personal-area">{{ 'PERSONAL-AREA.personal-information' | translate }}</a></li>
                            <li><a class="dropdown-item" href="new" (click)="logOut()">{{'NAVIGATION.sign-out'| translate}}</a></li>
                        </ul>
                    </li>
                    <li class="nav-item  nav-item-top" *ngIf="user">
                        <a class="nav-link active" aria-current="page" href="personal-area">
                            <i *ngIf="user" class="fas fa-shopping-basket fa-2x nav-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="user">
                        <a class="nav-link active" id="welcome" aria-current="page" href="personal-area">
                            {{ 'NAVIGATION.welcome' | translate}} , {{user}}
                        </a>
                    </li>

                    <li class="nav-item  nav-item-top" *ngIf="!user && !admin">
                        <a class="nav-link active" aria-current="page" style="cursor: pointer;" (click)="getRegistrationForm()">
                            <i *ngIf="!user" class="fas fa-user-lock fa-2x nav-icon nv-l"></i>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="!user && !admin">
                        <a class="nav-link active" id="welcome" aria-current="page" style="cursor: pointer;" (click)="getRegistrationForm()">
                            {{ 'NAVIGATION.log-in' | translate}}
                        </a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand" href="">
                <img id="nav-Logo-1" src="https://i.pinimg.com/originals/f6/ca/90/f6ca90ea17192d2d652e2c0ba1559ddb.png" alt="Luxio logo" />
            </a>
        </div>
    </nav>
    <!-- 2 -->
    <nav class="navbar navbar-expand-lg navbar-light" id="nav-bottom" *ngIf="!admin">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link active" [ngClass]="{activeColor: location==='new'}" aria-current="page" href="new">{{ 'NAVIGATION.NEW.title' | translate }}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" [ngClass]="{activeColor: location==='products/luxio' || location==='products/gel-play' || location==='products/options' || location==='products/pro-formance' || location==='products/basics' || location==='products/tools'}"
                            href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ 'NAVIGATION.PRODUCTS.title' | translate }}</a>
                        <ul class="dropdown-menu dropdown-menu-bottom" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="products/luxio">LUXIO</a></li>
                            <li><a class="dropdown-item" href="products/gel-play">GEL PLAY</a></li>
                            <li><a class="dropdown-item" href="products/options">OPTIONS</a></li>
                            <li><a class="dropdown-item" href="products/pro-formance">PRO-FORMANCE</a></li>
                            <li><a class="dropdown-item" href="products/basics">{{ 'NAVIGATION.basics' | translate }}</a></li>
                            <li><a class="dropdown-item" href="products/tools">{{ 'NAVIGATION.tools' | translate }}</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" [ngClass]="{activeColor: location==='shop'}" aria-current="page" href="shop">{{ 'NAVIGATION.STORE.title' | translate }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" [ngClass]="{activeColor: location==='courses'}" aria-current="page" href="courses">{{ 'NAVIGATION.COURSES.title' | translate }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" [ngClass]="{activeColor: location==='registration'}" aria-current="page" href="registration">{{ 'NAVIGATION.PERSONALid.title' | translate }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" [ngClass]="{activeColor: location==='contacts'}" aria-current="page" href="contacts">{{ 'NAVIGATION.OFFICES.title' | translate }}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ 'NAVIGATION.language' | translate }}</a>
                        <ul class="dropdown-menu dropdown-menu-lang" aria-labelledby="navbarDropdownMenuLink">
                            <li class="dropdown-item lang-nav" (click)="translate.use(lang); setLng(lang)" *ngFor="let lang of translate.getLangs()">
                                {{lang}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand" href="">
                <img id="nav-Logo-2" src="https://i.pinimg.com/originals/f6/ca/90/f6ca90ea17192d2d652e2c0ba1559ddb.png" alt="Luxio logo" />
            </a>
        </div>
    </nav>
    <!-- FOR ADMIN -->
    <!-- 1 -->
    <nav class="navbar navbar-expand-lg navbar-light" id="nav-top" *ngIf="admin">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03,#navbarTogglerDemo02" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars fa-2x"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item dropdown  nav-item-top">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-search fa-2x"></i></a>
                        <ul class="dropdown-menu dropdown-menu-top" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <input type="text" class="form-control" placeholder="Search.." #search_text (keyup.enter)="doSearch(search_text.value)">
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown nav-item-top">
                        <a class="nav-link active dropdown-toggle" [ngClass]="{activeColor: location==='personal-area'}" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user-cog  fa-2x nav-icon"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-top" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="personal-area">{{ 'PERSONAL-AREA.personal-information' | translate }}</a></li>
                            <li><a class="dropdown-item" href="new" (click)="logOut()">{{'NAVIGATION.sign-out'| translate}}</a></li>
                        </ul>
                    </li>
                    <li class="nav-item  nav-item-top">
                        <a class="nav-link active" aria-current="page" href="personal-area">
                            <i *ngIf="user" class="fas fa-shopping-basket fa-2x nav-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="welcome" aria-current="page" href="personal-area">
                            {{ 'NAVIGATION.welcome' | translate}} , {{user}}
                        </a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand" href="">
                <img id="nav-Logo-1" src="https://i.pinimg.com/originals/f6/ca/90/f6ca90ea17192d2d652e2c0ba1559ddb.png" alt="Luxio logo" />
            </a>
        </div>
    </nav>
    <!-- 2 -->
    <nav class="navbar navbar-expand-lg navbar-light" id="nav-bottom" *ngIf="admin">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" [ngClass]="{activeColor: location==='admin/orders'}" aria-current="page" href="admin/orders">{{ 'NAVIGATION.ORDERS.title' | translate }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" [ngClass]="{activeColor: location==='admin/shop'}" aria-current="page" href="admin/shop">{{ 'NAVIGATION.PRODUCTS.title' | translate }}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" [ngClass]="{activeColor: location==='admin/registration' || location==='admin/remove'}" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ 'NAVIGATION.admins' | translate }}</a>
                        <ul class="dropdown-menu dropdown-menu-bottom" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="admin/registration">{{ 'NAVIGATION.REGISTER-ADMIN.title' | translate }}</a></li>
                            <li><a class="dropdown-item" href="admin/remove">{{ 'NAVIGATION.DELETE-ADMIN.title' | translate }}</a></li>
                            <li><a class="dropdown-item" href="new" (click)="logOut()">{{'NAVIGATION.sign-out'| translate}}</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" [ngClass]="{activeColor: location==='admin/certificates'}" aria-current="page" href="admin/certificates">{{ 'NAVIGATION.CLIENTS.title' | translate }}</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" [ngClass]="{activeColor: location==='admin/comments'}" aria-current="page" href="admin/comments">{{ 'NAVIGATION.COMMENTS.title' | translate }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" [ngClass]="{activeColor: location==='admin/mailings'}" aria-current="page" href="admin/mailings">{{ 'NAVIGATION.MAILINGS.title' | translate }}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ 'NAVIGATION.language' | translate }}</a>
                        <ul class="dropdown-menu dropdown-menu-lang" aria-labelledby="navbarDropdownMenuLink">
                            <li class="dropdown-item lang-nav" (click)="translate.use(lang); setLng(lang)" *ngFor="let lang of translate.getLangs()">
                                {{lang}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand" href="">
                <img id="nav-Logo-2" src="https://i.pinimg.com/originals/f6/ca/90/f6ca90ea17192d2d652e2c0ba1559ddb.png" alt="Luxio logo" />
            </a>
        </div>
    </nav>
</div>


<!-- ------------------------------------------------MAIN----------- -->
<div class="main-app">
    <!-- ----------------------------------------------------------------- -->
    <div *ngIf="selectedProd" id="selected-prod">
        <app-big-image></app-big-image>
    </div>
    <!-- ----------------------------------------RESPOND FROM DB message--------------->
    <!-- changing background color depending on respond status -->
    <div *ngIf="respond[0]" class="respond-bg" [ngClass]="{infoMessage: respond[0].status===true, errorMessage:respond[0].status===false}">
        <div class="respond" [ngClass]="{H: languege==='iv'}">
            <h3>{{respond[0].message}}</h3>
        </div>
    </div>
    <!--  -->
    <!-- ------------------------------------------COOKIES------ -->
    <div *ngIf="!cookies && !admin && !user" id="cookies" [ngClass]="{H: languege==='iv'}">
        <div id="cookies-in">
            <a class="cookies-button" href="/cookies">{{ 'COOKIES.option1' | translate}}</a>
            <p>{{ 'COOKIES.message' | translate}}</p>
            <button class="cookies-button" (click)="agreeToCookiesPolicy()">{{ 'COOKIES.option2' | translate}}</button>
        </div>
    </div>
    <!-- --------------------->



    <!-- --------------------------------------- -->

    <!---------------------------------------------------------------- REGISTRATION FORM -->
    <div id="reg-f-back" *ngIf="regForm_Open">
        <div class="RegForm" style="padding: 1%;" [ngClass]="{Hebrew: languege==='iv'}">
            <div class="form-row">
                <div class="col-sm-11">
                    <h1 *ngIf="formOne_Open">{{ 'SIGN-IN.REGISTRATION-FORM.title' | translate}}</h1>
                    <h1 *ngIf="formLogin_Open">{{ 'SIGN-IN.LOGIN-FORM.title' | translate}}</h1>
                    <h1 *ngIf="formPasswodRestore_Open">{{ 'SIGN-IN.PASSWORD-RESTORE-FORM.title' | translate}}</h1>
                </div>
                <div class="col-sm-1">
                    <button (click)="closeForm()" type="button" style="border: none; background-color: rgba(255, 255, 255, 0);"><i class="far fa-window-close fa-2x closeButton"></i></button>
                </div>
            </div>

            <div class="formOne" *ngIf="formOne_Open" [ngClass]="{Hebrew: languege==='iv'}">
                <app-reg-form-one></app-reg-form-one>
            </div>

            <div class="formAgreement" *ngIf="formAgreement_Open">
                <app-cookies></app-cookies>
            </div>

            <div class="formLogin" *ngIf="formLogin_Open">
                <app-log-form></app-log-form>
            </div>

            <div class="formPasswordRest" *ngIf="formPasswodRestore_Open">
                <app-password-restore-form></app-password-restore-form>
            </div>

            <div style="margin-top: 1%;">
                <p>
                    <button *ngIf="!formOne_Open" type="button" class="btn btn-link" (click)="registration_form()">
                    {{ 'SIGN-IN.sign-in' | translate}}
                </button>
                    <button *ngIf="!formPasswodRestore_Open" type="button" class="btn btn-link" (click)="passwordRest_form()">
                    {{ 'SIGN-IN.link-3' | translate}}
                </button>
                    <button *ngIf="!formLogin_Open" type="button" class="btn btn-link" (click)="login_form()">
                    {{ 'SIGN-IN.link-2' | translate}}
                </button>
                </p>
            </div>
        </div>
    </div>
    <!-- -------------------------------------- -->

    <!-- CONTENT *ngIf="!selectedProd" -->
    <div class="content">
        <router-outlet></router-outlet>
    </div>

</div>
<!-- --------------------------------------------------ADVERTISEMENT-------- ------ -->
<!-- <div class="ADVERTISEMENT" *ngIf="advertisement">
    <div class="sign-in-div" [ngClass]="{H: languege==='iv'}">
        <h1> {{ 'SIGN-IN.OPEN-FORM.line-1' | translate }}</h1>
        <img style="border: white 15px solid; width: 100%;" src="https://i.pinimg.com/originals/8a/c6/19/8ac619815ba0e122065b704e46781e72.jpg">
        <p style="width: 100%; text-align: center;">{{ 'SIGN-IN.OPEN-FORM.line-2' | translate }}</p>
        <div style="width: 100%;">
            <button class="message-link" (click)="registration_form();close_advertisement()">{{ 'SIGN-IN.OPEN-FORM.link-1' | translate }}</button>
            <button class="message-link" (click)="login_form();close_advertisement()">{{ 'SIGN-IN.OPEN-FORM.link-2' | translate }}</button>
            <button class="message-link" (click)="close_advertisement()">{{ 'SIGN-IN.OPEN-FORM.link-3' | translate }}</button>
        </div>
    </div>
</div> -->
<!-- ------------------------------------------------FOOTER -->
<app-footer></app-footer>
<!--  -->