/* ---------------------RESPOND FROM DB message--------- */

.respond {
    background-color: white;
    border: black 2px solid;
    width: 50%;
    padding: 30px;
    color: brown;
}

.respond-bg {
    width: 100%;
    position: fixed;
    top: 45%;
    left: 0;
    z-index: 10;
    font-size: 20px;
    text-align: center;
    background-color: #00000000;
}


/* --------------SELECTED PRODUCT------- */

#selected-prod {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 50px;
}


/* ---------------------------------- */

#cookies {
    width: 100%;
    position: fixed;
    top: 150px;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
}

#cookies-in {
    width: 900px;
    margin: auto;
}

.cookies-button {
    background: none;
    border: none;
    font-family: arial, sans-serif;
    color: rgb(36, 138, 255);
    cursor: pointer;
    float: left;
    width: 200px;
}

.cookies-button:hover {
    color: rgb(160, 209, 255);
    text-decoration: underline;
}

#cookies-in>p {
    margin: auto;
    color: white;
    float: left;
    width: 500px;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    #cookies-in,
    #cookies-in>p {
        width: 100%;
        font-size: smaller;
        text-align: center;
    }
    .cookies-button {
        width: 100%;
        text-align: center;
    }
}


/* ------------------------------------------------- */

.main-app {
    width: 100%;
    /* background: black; */
    /*  */
    /* background: #D1C6F3;
    background: -moz-linear-gradient(-45deg, #d1c6f381 0%, rgba(233, 186, 172, 0.5) 100%);
    background: -webkit-linear-gradient(-45deg, #d1c6f381 0%, rgba(233, 186, 172, 0.5) 100%);
    background: linear-gradient(135deg, #d1c1ff81 0%, rgba(233, 186, 172, 0.5) 100%); */
    /*  */
    /* background: #E3AACB;
    background: -moz-linear-gradient(top, #E3AACB 0%, #FFFABF 50%, #E3AACB 100%);
    background: -webkit-linear-gradient(top, #E3AACB 0%, #FFFABF 50%, #E3AACB 100%);
    background: linear-gradient(to bottom, #E3AACB 0%, #FFFABF 50%, #E3AACB 100%); */
    /*  */
    /* background: #ebcaa9af;
    background: -moz-linear-gradient(left, #ebcaa9af 0%, #FFFFFF 30%, #FFFFFF 70%, , #ebcaa9af 100%);
    background: -webkit-linear-gradient(left, #ebcaa9af 0%, #FFFFFF 30%, #FFFFFF 70%, , #ebcaa9af 100%);
    background: linear-gradient(to right, #ebcaa9af 0%, #FFFFFF 30%, #FFFFFF 70%, #ebcaa9af 100%); */
    /*  */
    /* background: #000000;
    background: -moz-linear-gradient(left, #000000 0%, #FFFFFF 15%, #FFFFFF 85%, #000000 100%);
    background: -webkit-linear-gradient(left, #000000 0%, #FFFFFF 15%, #FFFFFF 85%, #000000 100%);
    background: linear-gradient(to right, #000000 0%, #FFFFFF 15%, #FFFFFF 85%, #000000 100%); */
}

.main-app>div {
    width: 1200px;
    margin: auto;
    background: rgb(255, 255, 255);
}

@media screen and (max-width: 1200px) {
    .main-app>div {
        width: 100%;
    }
}

.Hebrew {
    text-align: right;
    direction: rtl;
}

.H {
    direction: rtl;
}

.btn-link>i {
    color: brown;
    font-size: 150%;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    letter-spacing: 3.4px;
    word-spacing: 3.4px;
}

select {
    background-color: rgb(0, 0, 0, 0);
    color: white;
    border: none;
}

option {
    background-color: rgb(0, 0, 0);
}

#reg-f-back {
    height: 100%;
    width: 100%;
    background: #CECECE;
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff88 50%, #ffffff26 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff88 50%, #ffffff26 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff88 50%, #ffffff26 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
}

.RegForm {
    width: 1200px;
    max-height: 80%;
    margin: auto;
    margin-top: 150px;
    padding: 15px;
    background-color: white;
    border: black solid 1px;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

@media screen and (max-width: 990px) {
    .RegForm {
        width: 98%;
        margin-top: 100px;
    }
}

.formAgreement {
    position: fixed;
    background-color: white;
    border: black solid 2px;
    z-index: 4;
    top: 15%;
    left: 25%;
    height: 80%;
    width: 50%;
    overflow: auto;
}

.closeButton {
    color: black;
}

.regF {
    margin: 1%;
    max-height: 30%;
}

.form-row {
    margin-top: 10px;
}


/* --------------------CONTENT */

.content {
    width: 1200px;
    padding-top: 150px;
    padding-bottom: 50px;
}

@media screen and (max-width: 1200px) {
    .content {
        width: 100%;
        padding-top: 100px;
        padding-left: 1%;
        padding-right: 1%;
    }
}


/* MESSAGE TO USER FOR REGISTRATION */

.ADVERTISEMENT {
    width: 100%;
    position: absolute;
    z-index: 12;
    top: 170px;
    left: 0;
}

.sign-in-div {
    width: 30%;
    height: 650px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border: rgb(58, 58, 58) 0.5px solid;
    -webkit-box-shadow: 2px 5px 16px 0px #000000, 0px 2px 25px 29px rgba(0, 0, 0, 0.19);
    box-shadow: 2px 5px 16px 0px #505050, 0px 2px 25px 29px rgba(0, 0, 0, 0.19);
    padding: 25px;
}

.sign-in-div>h1 {
    width: 100%;
    text-align: center;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

.message-link {
    background: none;
    border: none;
    padding: 0;
    font-family: arial, sans-serif;
    color: rgb(36, 138, 255);
    cursor: pointer;
    margin: auto;
    width: 33%;
}

.message-link:hover {
    color: rgb(0, 90, 192);
}


/* HEADER */

#Header {
    width: 100%;
    position: fixed;
    z-index: 5;
    /* Make it stick/fixed */
    top: 0;
    /* Stay on top */
    transition: top 0.5s;
    /* Transition effect when sliding down (and up) */
}

.navbar-toggler {
    color: brown;
}

@media screen and (min-width: 990px) {
    #nav-top {
        max-width: 1200px;
        margin: auto;
        background: #ffffff6b;
        background: -moz-linear-gradient(top, #ffffff6b 0%, #ffffff98 50%, #ffffffc2 100%);
        background: -webkit-linear-gradient(top, #ffffff6b 0%, #ffffff98 50%, #ffffffc2 100%);
        background: linear-gradient(to bottom, #ffffff6b 0%, #ffffff98 50%, #ffffffc2 100%);
    }
    #nav-bottom {
        max-width: 1200px;
        margin: auto;
        background: #ffffffc2;
        background: -moz-linear-gradient(top, #ffffffc2 0%, #ffffffda 50%, #ffffff 100%);
        background: -webkit-linear-gradient(top, #ffffffc2 0%, #ffffffda 50%, #ffffff 100%);
        background: linear-gradient(to bottom, #ffffffc2 0%, #ffffffda 50%, #ffffff 100%);
        border-bottom: black solid 2px;
    }
    #nav-Logo-1 {
        display: none;
    }
    #nav-Logo-2 {
        height: 100px;
        position: absolute;
        right: 0;
        top: -65px;
    }
}

@media screen and (max-width: 990px) {
    #Header {
        background-color: white;
        border-bottom: black solid 2px;
    }
    #nav-Logo-2 {
        display: none;
    }
    #nav-Logo-1 {
        height: 70px;
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar-nav {
        width: 100%;
    }
}

@media screen and (min-width: 990px) {
    .navbar-nav {
        width: 80%;
    }
    .dropdown-menu {
        width: 250px;
        border: solid black 2px;
    }
    .dropdown-menu-bottom {
        width: 550px;
        border: solid black 2px;
    }
    .dropdown-menu-lang {
        width: 50px;
        border: solid black 2px;
    }
    .dropdown-menu>li,
    .dropdown-menu-bottom>li,
    .dropdown-menu-lang>li {
        padding-left: 3%;
        padding-right: 3%;
    }
    .dropdown-item:hover {
        color: brown;
    }
    .lang-nav {
        text-align: center;
        cursor: pointer;
    }
}

.navbar-brand {
    width: 20%;
}

.nav-link {
    text-align: center;
}

.activeColor {
    border-bottom: brown solid 2px;
}

.nav-item>a:hover {
    color: brown;
}

.nav-item-top {
    margin-right: 20px;
}

#welcome {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 28px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: brown;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}