<!-------------------------------------------------- HEADER ---------------------->
<app-header></app-header>
<!-- ------------------------------------------------MAIN----------- -->
<div class="main-app">
    <!-- ----------------------------------------------------------------- -->
    <div *ngIf="selectedProd" id="selected-prod">
        <app-big-image></app-big-image>
    </div>
    <!-- ----------------------------------------RESPOND FROM DB message--------------->
    <!-- changing background color depending on respond status -->
    <div *ngIf="respond[0]" class="respond-bg" [ngClass]="{infoMessage: respond[0].status===true, errorMessage:respond[0].status===false}">
        <div class="respond" [ngClass]="{H: languege==='iv'}">
            <h3>{{respond[0].message}}</h3>
        </div>
    </div>
    <!--  -->
    <!-- ------------------------------------------COOKIES------ -->
    <div *ngIf="!cookies && !admin && !user" id="cookies" [ngClass]="{H: languege==='iv'}">
        <div id="cookies-in">
            <a class="cookies-button" href="/cookies">{{ 'COOKIES.option1' | translate}}</a>
            <p>{{ 'COOKIES.message' | translate}}</p>
            <button class="cookies-button" (click)="agreeToCookiesPolicy()">{{ 'COOKIES.option2' | translate}}</button>
        </div>
    </div>
    <!-- --------------------->



    <!-- --------------------------------------- -->

    <!---------------------------------------------------------------- REGISTRATION FORM -->
    <div id="reg-f-back" *ngIf="regForm_Open">
        <div class="RegForm" style="padding: 1%;" [ngClass]="{Hebrew: languege==='iv'}">
            <div class="form-row">
                <div class="col-sm-11">
                    <h1 *ngIf="formOne_Open">{{ 'SIGN-IN.REGISTRATION-FORM.title' | translate}}</h1>
                    <h1 *ngIf="formLogin_Open">{{ 'SIGN-IN.LOGIN-FORM.title' | translate}}</h1>
                    <h1 *ngIf="formPasswodRestore_Open">{{ 'SIGN-IN.PASSWORD-RESTORE-FORM.title' | translate}}</h1>
                </div>
                <div class="col-sm-1">
                    <button (click)="closeForm()" type="button" style="border: none; background-color: rgba(255, 255, 255, 0);"><i class="far fa-window-close fa-2x closeButton"></i></button>
                </div>
            </div>

            <div class="formOne" *ngIf="formOne_Open" [ngClass]="{Hebrew: languege==='iv'}">
                <app-reg-form-one></app-reg-form-one>
            </div>

            <div class="formAgreement" *ngIf="formAgreement_Open">
                <app-cookies></app-cookies>
            </div>

            <div class="formLogin" *ngIf="formLogin_Open">
                <app-log-form></app-log-form>
            </div>

            <div class="formPasswordRest" *ngIf="formPasswodRestore_Open">
                <app-password-restore-form></app-password-restore-form>
            </div>

            <div style="margin-top: 1%;">
                <p>
                    <button *ngIf="!formOne_Open" type="button" class="btn btn-link" (click)="registration_form()">
                    {{ 'SIGN-IN.sign-in' | translate}}
                </button>
                    <button *ngIf="!formPasswodRestore_Open" type="button" class="btn btn-link" (click)="passwordRest_form()">
                    {{ 'SIGN-IN.link-3' | translate}}
                </button>
                    <button *ngIf="!formLogin_Open" type="button" class="btn btn-link" (click)="login_form()">
                    {{ 'SIGN-IN.link-2' | translate}}
                </button>
                </p>
            </div>
        </div>
    </div>
    <!-- -------------------------------------- -->

    <!-- CONTENT -->
    <div class="content" *ngIf="!selectedProd">
        <router-outlet></router-outlet>
    </div>

</div>
<!-- --------------------------------------------------ADVERTISEMENT-------- ------ -->
<div class="ADVERTISEMENT" *ngIf="advertisement">
    <div class="sign-in-div" [ngClass]="{H: languege==='iv'}">
        <h1> {{ 'SIGN-IN.OPEN-FORM.line-1' | translate }}</h1>
        <img style="border: white 15px solid; width: 100%;" src="https://i.pinimg.com/originals/8a/c6/19/8ac619815ba0e122065b704e46781e72.jpg">
        <p style="width: 100%; text-align: center;">{{ 'SIGN-IN.OPEN-FORM.line-2' | translate }}</p>
        <div style="width: 100%;">
            <button class="message-link" (click)="registration_form();close_advertisement()">{{ 'SIGN-IN.OPEN-FORM.link-1' | translate }}</button>
            <button class="message-link" (click)="login_form();close_advertisement()">{{ 'SIGN-IN.OPEN-FORM.link-2' | translate }}</button>
            <button class="message-link" (click)="close_advertisement()">{{ 'SIGN-IN.OPEN-FORM.link-3' | translate }}</button>
        </div>
    </div>
</div>
<!-- ------------------------------------------------FOOTER -->
<app-footer></app-footer>
<!--  -->