<div class="container-fluid animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow">

    <div class="row">
        <div class="col-md-6 col-12 animate__animated animate__zoomIn animate__delay-0.5s animate__slow wow" style="margin: auto;" [ngClass]="{Hebrew: languege==='iv'}">
            <p class="main-title" style="text-align: center;" [ngClass]="{HebrewDirection: languege==='iv'}">
                {{ 'COURSES.BLOK-1.TEXT-1' | translate}}
                <span style="color:gray;">*<span>{{ 'COURSES.BLOK-1.TEXT-2' | translate}}</span>*</span>
                {{ 'COURSES.BLOK-1.TEXT-3' | translate}}</p>
            <p class="main-txt" [ngClass]="{Hebrew: languege==='iv'}">{{ 'COURSES.BLOK-1.TEXT-4' | translate}}</p>
            <p>{{ 'CONTACT.city' | translate}}, {{ 'CONTACT.street' | translate}}</p>
            <!-- <div class="container-fluid">
                <div class="row contactRow">
                    <div class="col-auto">
                        <label>+972</label>
                    </div>
                    <div class="col-auto">
                        <div class="row"><input type="text" class="phoneInpute" oninput="this.value=this.value.replace(/[^0-9]/g,'');" [(ngModel)]='phone' /></div>
                        <div class="row"><label *ngIf="isSubmited1 && !validPhone1" class="text-danger"><small>{{ 'COURSES.cont-f.alert' | translate}}</small></label></div>
                    </div>
                    <div class="col-auto">
                        <button type="button" (click)="contactMe1()" class="btn btn-link">{{ 'COURSES.cont-f.text' | translate}}</button>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="col-md-6 col-12 animate__animated animate__zoomIn animate__delay-0.5s animate__slow wow">
            <img style="width: 100%;" src="https://i.pinimg.com/originals/3b/58/84/3b5884b50b3175eaf8f17ad738fabe7a.png" alt="AKZÉNTZ" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-12 animate__animated animate__zoomIn animate__delay-0.5s animate__slow wow">
            <img style="width: 100%;" src="https://i.pinimg.com/originals/04/70/a2/0470a2f453d61ce9270d1990b514f302.jpg" alt="AKZÉNTZ" />
        </div>
        <div class="col-md-6 col-12 animate__animated animate__zoomIn animate__delay-0.5s animate__slow wow" style="margin: auto;" [ngClass]="{Hebrew: languege==='iv'}">
            <p class="main-title" style="text-align: center;" [ngClass]="{HebrewDirection: languege==='iv'}">
                {{ 'COURSES.BLOK-2.TEXT-1' | translate}}
                <span style="color:gray;">*<span>{{ 'COURSES.BLOK-2.TEXT-2' | translate}}</span>*</span>
                {{ 'COURSES.BLOK-2.TEXT-3' | translate}}
            </p>
            <p class="main-txt" [ngClass]="{Hebrew: languege==='iv'}">{{ 'COURSES.BLOK-2.TEXT-4' | translate}}</p>
            <p>{{ 'COURSES.BLOK-3.TEXT-5' | translate}}</p>
            <!-- <div class="container-fluid">
                <div class="row contactRow">
                    <div class="col-auto">
                        <label>+972</label>
                    </div>
                    <div class="col-auto">
                        <div class="row"><input type="text" class="phoneInpute" oninput="this.value=this.value.replace(/[^0-9]/g,'');" [(ngModel)]='phone' /></div>
                        <div class="row"><label *ngIf="isSubmited2 && !validPhone2" class="text-danger"><small>{{ 'COURSES.cont-f.alert' | translate}}</small></label></div>
                    </div>
                    <div class="col-auto">
                        <button type="button" (click)="contactMe2()" class="btn btn-link">{{ 'COURSES.cont-f.text' | translate}}</button>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-12  animate__animated animate__zoomIn animate__delay-0.5s animate__slow wow" style="margin: auto;" [ngClass]="{Hebrew: languege==='iv'}">
            <p class="main-title" style="text-align: center;" [ngClass]="{HebrewDirection: languege==='iv'}">
                {{ 'COURSES.BLOK-3.TEXT-1' | translate}}
                <span style="color:gray;">*<span>{{ 'COURSES.BLOK-3.TEXT-2' | translate}}</span>*</span>
            </p>
            <p class="main-txt" [ngClass]="{Hebrew: languege==='iv'}">{{ 'COURSES.BLOK-3.TEXT-4' | translate}}</p>
            <p>{{ 'COURSES.BLOK-3.TEXT-5' | translate}}</p>
            <!-- <div class="container-fluid">
                <div class="row contactRow">
                    <div class="col-auto">
                        <label>+972</label>
                    </div>
                    <div class="col-auto">
                        <div class="row"><input type="text" class="phoneInpute" oninput="this.value=this.value.replace(/[^0-9]/g,'');" [(ngModel)]='phone' /></div>
                        <div class="row"><label *ngIf="isSubmited3 && !validPhone3" class="text-danger"><small>{{ 'COURSES.cont-f.alert' | translate}}</small></label></div>
                    </div>
                    <div class="col-auto">
                        <button type="button" (click)="contactMe3()" class="btn btn-link">{{ 'COURSES.cont-f.text' | translate}}</button>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="col-md-6 col-12  animate__animated animate__zoomIn animate__delay-0.5s animate__slow wow">
            <img style="width: 100%;" src="https://i.pinimg.com/originals/ae/36/93/ae3693cf137e5e1066140e5d71acc54b.jpg" alt="AKZÉNTZ" />
        </div>
    </div>
</div>