.contactRow {
    margin-top: 50px;
}

.col-auto {
    padding-left: 10px;
    padding-right: 10px;
}

.phoneInpute {
    border: none;
    border-bottom: black solid 1px;
}

.input-group {
    width: auto;
    margin: auto;
    margin-top: 30px;
}

.error {
    border: red 1px solid;
}