.Hebrew {
    direction: rtl;
}

.col {
    padding: 0;
}

@media screen and (max-width: 1200px) {
    .courser-row {
        height: 400px;
    }
}

.red-text {
    color: brown;
    font-size: 26px;
}

.text-block {
    width: 50%;
    text-align: center;
    padding: 2%;
    color: gray;
    font-family: Georgia, serif;
    font-size: 25px;
    letter-spacing: 3px;
    word-spacing: 6px;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.text-block>h1 {
    color: black;
    font-size: 22px;
    margin: 25px;
    font-weight: 700;
    font-family: Century Gothic;
    text-transform: uppercase;
}

.text-block>p {
    font-family: Georgia, serif;
    font-size: 18px;
    color: gray;
    margin: 20px;
}

.text-block>small {
    font-family: Calibri;
    color: black;
    font-size: 14px;
}

@media screen and (max-width: 1200px) {
    .text-block {
        font-size: 20px;
        letter-spacing: 2px;
        word-spacing: 4px;
    }
    .text-block>h1 {
        font-size: 18px;
        margin: 15px;
    }
    .text-block>p {
        font-size: 16px;
        margin: 15px;
    }
    .text-block>small {
        font-size: 12px;
    }
}

.input-group {
    width: auto;
    margin: auto;
}

.error {
    border: red 1px solid;
}