<div class="card-buttons">
    <button [ngClass]="getCartClasse(item._id)" (click)="addToCart(item._id)" title="{{'PROD_DESCRIPTION.add_to_cart' | translate}}"><i class="fab fa-shopify fa-3x"></i></button>
    <button [ngClass]="getClasses(item._id)" (click)="addToFavorites(item._id)" title="{{'PROD_DESCRIPTION.add_to_favorites' | translate}}"><i class="fas fa-heart fa-2x"></i></button>
</div>
<img class="card-img" src={{item.img_link}} (click)="select(item.burcode_id)" alt="Product image" />
<div class="card-info" (click)="select(item.burcode_id)">
    <h5 style="text-align: right;">{{item.price}} &#8362;</h5>
    <h5>{{item.prod_class}} {{item.name}}</h5>
</div>