<div [ngClass]="{Hebrew: langIv}" class="SHOP">

    <div *ngIf="selectedProd">
        <app-big-image></app-big-image>
    </div>


    <!-- SORT -->
    <div class="sort" *ngIf="!selectedProd">
        <form>
            <div class="form-row">
                <div>
                    <button type="submit" class="btn btn-outline-dark" (click)="getAll()">
                        {{ 'SEARCH.all-button' | translate }}
                    </button>
                </div>
                <div>
                    <select class="custom-select" #prod_class>
                    <option value='' selected>{{ 'SEARCH.not-selected' | translate }}</option>
                    <option value="basics">{{ 'SEARCH.OPTIONS.basics' | translate }}</option>
                    <option value="Luxio">{{ 'SEARCH.OPTIONS.Luxio' | translate }}</option>
                    <option value="Options">{{ 'SEARCH.OPTIONS.Options' | translate }}</option>
                    <option value="Gel Play">{{ 'SEARCH.OPTIONS.Gel-Play' | translate }}</option>
                    <option value="Hard GEL">{{ 'SEARCH.OPTIONS.Hard-GEL' | translate }}</option>
                    <option value="materials">{{ 'SEARCH.OPTIONS.materials' | translate }}</option>
                    <option value="accessories">{{ 'SEARCH.OPTIONS.accessories' | translate }}</option>
            </select>
                </div>
                <div>
                    <select class="custom-select" #color>
                    <option value='' selected>{{ 'SEARCH.not-selected' | translate }}</option>
                    <option value='white'>{{ 'SEARCH.OPTIONS.white' | translate }}</option>
                    <option value='black'>{{ 'SEARCH.OPTIONS.black' | translate }}</option>
                    <option value='pink'>{{ 'SEARCH.OPTIONS.pink' | translate }}</option>
                    <option value='red'>{{ 'SEARCH.OPTIONS.red' | translate }}</option>
                    <option value='оrange'>{{ 'SEARCH.OPTIONS.оrange' | translate }}</option>
                    <option value='yellow'>{{ 'SEARCH.OPTIONS.yellow' | translate }}</option>
                    <option value='green'>{{ 'SEARCH.OPTIONS.green' | translate }}</option>
                    <option value='blue'>{{ 'SEARCH.OPTIONS.blue' | translate }}</option>
                    <option value='violet'>{{ 'SEARCH.OPTIONS.violet' | translate }}</option>
                    <option value='brown'>{{ 'SEARCH.OPTIONS.brown' | translate }}</option>
                    <option value='gray'>{{ 'SEARCH.OPTIONS.gray' | translate }}</option>
            </select>
                </div>
                <div>
                    <select class="custom-select" #tint>
                    <option value="" selected>{{ 'SEARCH.not-selected' | translate }}</option>
                    <option value='light'>{{ 'SEARCH.OPTIONS.light' | translate }}</option>
                    <option value='dark'>{{ 'SEARCH.OPTIONS.dark' | translate }}</option>
                    <option value='bright'>{{ 'SEARCH.OPTIONS.bright' | translate }}</option>
            </select>
                </div>
                <div>
                    <select class="custom-select" #transparency>
                    <option value="" selected>{{ 'SEARCH.not-selected' | translate }}</option>
                    <option value='see-through'>{{ 'SEARCH.OPTIONS.see-through' | translate }}</option>
                    <option value='dense'>{{ 'SEARCH.OPTIONS.dense' | translate }}</option>
            </select>
                </div>
                <div>
                    <button type="submit" class="btn btn-outline-dark" (click)="getSorted(prod_class.value, color.value, tint.value, transparency.value)">
                        {{ 'SEARCH.sort-button' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- SORT styles -->
    <style>
        .sort {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        
        .btn-outline-dark {
            width: auto;
            margin-left: 0;
        }
    </style>

    <div *ngIf="!selectedProd">

        <div class="shopComp" *ngIf="shop && !sorted">

            <div class="card" *ngFor="let item of shop" id={{item.burcode_id}}>
                <div class="card-buttons">
                    <button [ngClass]="getCartClasse(item._id)" (click)="addToCart(item._id)" title="{{'PROD_DESCRIPTION.add_to_cart' | translate}}"><i class="fab fa-shopify fa-2x"></i></button>
                    <button [ngClass]="getClasses(item._id)" (click)="addToFavorites(item._id)" title="{{'PROD_DESCRIPTION.add_to_favorites' | translate}}"><i class="fas fa-heart fa-2x"></i></button>
                    <div *ngIf="item.label" class="lable-new">
                        <p style="padding: 5px; width: 100%;">{{item.label}}</p>
                    </div>
                </div>

                <div class="img-cover" (click)="select(item.burcode_id)"></div>
                <img class="card-img" src={{item.img_link||item.img_link_1}} alt="{{item.name}} image not evaluable" />

                <div class="card-info" (click)="select(item.burcode_id)">
                    <h5 style="text-align: right;">{{item.price}} &#8362;</h5>
                    <h5 style="font-family: Gadugi;">{{item.prod_class}} {{item.name}}</h5>
                </div>
            </div>

        </div>
    </div>
    <!-- <div class="shopComp" *ngIf="sorted">
            <div *ngFor="let item of sorted" class="card" id={{item.burcode_id}}>
                <div class="card-buttons">
                    <button [ngClass]="getCartClasse(item._id)" (click)="addToCart(item._id)" title="{{'PROD_DESCRIPTION.add_to_cart' | translate}}"><i class="fab fa-shopify fa-2x"></i></button>
                    <button [ngClass]="getClasses(item._id)" (click)="addToFavorites(item._id)" title="{{'PROD_DESCRIPTION.add_to_favorites' | translate}}"><i class="fas fa-heart fa-2x"></i></button>
                    <div *ngIf="item.label" class="lable-new">
                        <p style="padding: 5px; width: 100%;">{{item.label}}</p>
                    </div>
                </div>
                <div class="card-image-front">
                    <div class="img-cover" (click)="select(item.burcode_id)"></div>
                    <img class="card-img" src={{item.img_link||item.img_link_1}} alt="{{item.name}} image not evaluable" />
                </div>
                <div class="card-info" (click)="select(item.burcode_id)">
                    <h5 style="text-align: right;">{{item.price}} &#8362;</h5>
                    <h5 style="font-family: Gadugi;">{{item.prod_class}} {{item.name}}</h5>
                </div>-->


    <div class="no_products_message" *ngIf="no_products">
        <h3>{{'SEARCH.no-products' | translate}}</h3>
    </div>
</div>


<!-- FOOTER -->
<app-footer></app-footer>