<div class="FOOTER">
    <!-- ------------------------------------------ COMMERCIAL -->
    <div id="commertial">
        <p>Buy any 5 bottles from the <span style="color: brown;">Luxio</span>, <span style="color: brown;">Options</span>, <span style="color: brown;">Gel Play</span> lines and get 1 for <span style="text-decoration: underline solid rgb(68, 68, 68);">free</span>!!!</p>
    </div>
    <!-- ------------------------------------------ FOOTER -->
    <div id="footer" style="margin-top: 20px;">
        <div class="footer-left">
            <p class="location">{{ 'CONTACT.city' | translate}}, {{ 'CONTACT.street' | translate}}</p>
            <p class="location">{{ 'CONTACT.phone' | translate}}: 054-8785521 / 055-9519777</p>
            <p class="location">{{ 'CONTACT.email' | translate}}: luxiogel.israel@gmail.com</p>
            <div class="socials">
                <a class="social-icons" target="_blank" href="https://www.facebook.com/luxioisrael"><i class="fab fa-facebook-square fa-2x"></i> </a>
                <a class="social-icons" target="_blank" href="https://www.instagram.com/luxiogel_israel"><i class="fab fa-instagram fa-2x"></i> </a>
                <a class="social-icons" target="_blank" href="https://www.pinterest.ru/luxiogelisrael/boards/"><i class="fab fa-pinterest fa-2x"></i> </a>
                <a class="social-icons" target="_blank" href="https://www.youtube.com/channel/UCIovV5TtXDx_0Enl_MJKB3g?view_as=subscriber"><i class="fab fa-youtube-square fa-2x"></i> </a>
            </div>
            <p class="rights" style="margin-top: 0;">© Mitra-Group 2014 ©</p>
        </div>
        <!-- -----------------------------footer navigation -->
        <div class="footer-right">
            <div class="nav-left">
                <a class="footer-link" href="products/luxio">LUXIO</a>
                <a class="footer-link" href="products/gel-play">GEL PLAY</a>
                <a class="footer-link" href="products/options">OPTIONS</a>
                <a class="footer-link" href="products/pro-formance">PRO-FORMANCE</a>
                <a class="footer-link" href="products/basics">{{ 'NAVIGATION.basics' | translate }}</a>
                <a class="footer-link" href="products/tools">{{ 'NAVIGATION.tools' | translate }}</a>
            </div>
            <div class="nav-right">
                <a class="footer-link" href="new" [ngClass]="{active: location==='new'}">{{ 'NAVIGATION.NEW.title' | translate }}</a>
                <a class="footer-link" href="shop" [ngClass]="{active: location==='shop'}">{{ 'NAVIGATION.STORE.title' | translate }}</a>
                <a class="footer-link" href="courses" [ngClass]="{active: location==='courses'}">{{ 'NAVIGATION.COURSES.title' | translate }}</a>
                <a class="footer-link" href="contacts" [ngClass]="{active: location==='contacts'}">{{ 'NAVIGATION.OFFICES.title' | translate }}</a>
                <a class="footer-link" href="registration" [ngClass]="{active: location==='registration'}">{{ 'NAVIGATION.PERSONALid.title' | translate }}</a>
            </div>
        </div>
    </div>

</div>