<div class="FOOTER">
    <div class="socials">
        <a class="social-icons" target="_blank" href="https://www.facebook.com/luxioisrael"><i class="fab fa-facebook-square fa-2x"></i> </a>
        <a class="social-icons" target="_blank" href="https://www.instagram.com/luxiogel_israel"><i class="fab fa-instagram fa-2x"></i> </a>
        <a class="social-icons" target="_blank" href="https://www.pinterest.ru/luxiogelisrael/boards/"><i class="fab fa-pinterest fa-2x"></i> </a>
        <a class="social-icons" target="_blank" href="https://www.youtube.com/channel/UCIovV5TtXDx_0Enl_MJKB3g?view_as=subscriber"><i class="fab fa-youtube-square fa-2x"></i> </a>
    </div>

    <p class="rights">© {{'NAVIGATION.rights' | translate }} ©</p>
</div>