<!-- ---------------------------------------LOADER------------ -->
<div class="lds-default" *ngIf="loader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>

<!-- -------------------------------------------------------------PERSONAL INFO FORM---------------- -->
<div *ngIf="!loader" id="Privat-info-component" [ngClass]="{Hebrew: languege==='iv'}">
    <!-- -----------------------USER PHOTO----------- -->
    <div style="width: 100%; margin-top: 50px;">
        <input (change)="saveNewPhoto($event)" type="file" accept="image/*" name="file" id="file" class="inputfile" />
        <label *ngIf="imgSrc" for="file"><img class="self-img" src={{imgSrc}} alt="Self Photo" /></label>
        <label *ngIf="!imgSrc" for="file"><img class="self-img" src="https://static.thenounproject.com/png/220984-200.png" alt="Self Photo" /></label>
        <button *ngIf="showButton" type="button" (click)="savePhoto()" style="background-color: pink; border:plum; border-radius: 10px; margin-left: 20px;">Save</button>
    </div>
    <form [formGroup]="infoTemplate" (submit)="newInfoSave(infoTemplate.value)">
        <!-- ---------------------------------------------------------------------------CHANGING NAME--------------------------- -->
        <p style="margin-top: 50px;">{{ 'PERSONAL-AREA.FORM.p-1' | translate}}</p>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" value="formControls.first_name?formControls.first_name:null" formControlName="first_name" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.name' | translate}}">
            </div>

            <div class="col">
                <input type="text" class="form-control" value="formControls.second_name?formControls.second_name:null" formControlName="second_name" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.second-name' | translate}}">
            </div>
        </div>
        <!-- ---------------------------------------------------------------------------CHANGING EMAIL--------------------------- -->
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" value="formControls.email?formControls.email:null" formControlName="email" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.email' | translate}}">
            </div>
        </div>
        <!-- ---------------------------------------------------------------------------CHANGING PHONE NUM--------------------------- -->
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" value="formControls.phoneN?formControls.phoneN:null" formControlName="phoneN" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.phoneN' | translate}}">
            </div>
        </div>
        <!-- ---------------------------------------------------------------------------ADDRESS--------------------------- -->
        <p style="margin-top: 50px;">{{ 'PERSONAL-AREA.FORM.p-2' | translate}}</p>
        <div class="form-row">
            <div class="col">
                <select id="inputState" [ngClass]="{error: isSubmitted && formControls.state.errors?.required}" class="form-control" formControlName="state">
                    <option value="" disabled>{{ 'SIGN-IN.REGISTRATION-FORM.location' | translate}}</option>
                    <option value="Center of Israel (close to Tel Aviv)">{{ 'SIGN-IN.REGISTRATION-FORM.loc1' | translate}}</option>
                    <option value="Center of Israel (close to Jerusalem)">{{ 'SIGN-IN.REGISTRATION-FORM.loc2' | translate}}</option>
                    <option value="Center of Israel (close to Ashdod)">{{ 'SIGN-IN.REGISTRATION-FORM.loc3' | translate}}</option>
                    <option value="North of Israel (close to Haifa)">{{ 'SIGN-IN.REGISTRATION-FORM.loc4' | translate}}</option>
                    <option value="North of Israel (close to Nazareth)">{{ 'SIGN-IN.REGISTRATION-FORM.loc5' | translate}}</option>
                    <option value="North of Israel (close to Nahariyya)">{{ 'SIGN-IN.REGISTRATION-FORM.loc6' | translate}}</option>
                    <option value="North of Israel (close to Qiryat Shemona)">{{ 'SIGN-IN.REGISTRATION-FORM.loc7' | translate}}</option>
                    <option value="South Israel (close to Be'er Sheva)">{{ 'SIGN-IN.REGISTRATION-FORM.loc8' | translate}}</option>
                    <option value="South Israel (close to Eilat)">{{ 'SIGN-IN.REGISTRATION-FORM.loc9' | translate}}</option>
                    </select>
            </div>
            <div class="col">
                <input type="text" class="form-control" value="formControls.city?formControls.city:null" formControlName="city" value="formControls.city" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.city' | translate}}">
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" value="formControls.street?formControls.street:null" formControlName="street" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.street' | translate}}">
            </div>

            <div class="col">
                <input type="text" class="form-control" value="formControls.zip?formControls.zip:null" formControlName="zip" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.zip' | translate}}">
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" value="formControls.home?formControls.home:null" formControlName="home" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.home' | translate}}">
            </div>

            <div class="col">
                <input type="text" class="form-control" value="formControls.apartment?formControls.apartment:null" formControlName="apartment" placeholder="{{ 'SIGN-IN.REGISTRATION-FORM.apartment' | translate}}">
            </div>
        </div>
        <!-- ---------------------------------------------------------------------------BUTTON--------------------------------------------- -->
        <button type="submit" class="btn btn-outline-dark btn-block" style="margin-top: 15px;">{{ 'PERSONAL-AREA.FORM.button-saveNewInfo' | translate}}</button>
    </form>

    <!-- ---------------------------------------NAW PASSWORD FORM------------------------- -->
    <form [formGroup]="formTemplate_password" (submit)="newPassSave(formTemplate_password.value)" [ngClass]="{Hebrew: languege==='iv'}">
        <p style="margin-top: 50px;">{{ 'PERSONAL-AREA.FORM.p-3' | translate}}</p>

        <div class="form-row">
            <div class="col">
                <input [ngClass]="{error: isSubmittedPass && formControlsPassword.old_pass.errors?.required}" type="password" class="form-control" value="formControlsPassword.old_pass" formControlName="old_pass" placeholder="{{ 'PERSONAL-AREA.FORM.old-pass' | translate}}">
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <input [ngClass]="{error: isSubmittedPass && formControlsPassword.new_pass.errors?.required}" type="password" class="form-control" value="formControlsPassword.new_pass" formControlName="new_pass" placeholder="{{ 'PERSONAL-AREA.FORM.new-pass' | translate}}">
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <input [ngClass]="{error: isSubmittedPass && formControlsPassword.conf_new.errors?.required || !conf_new}" type="password" class="form-control" value="formControlsPassword.conf_new" formControlName="conf_new" placeholder="{{ 'PERSONAL-AREA.FORM.repeat-new-pass' | translate}}">
            </div>
            <div class="text-danger" *ngIf="isSubmittedPass && !conf_new">{{ 'SIGN-IN.REGISTRATION-FORM.password-doesnt-match' | translate}}</div>
        </div>

        <button type="submit" class="btn btn-outline-dark btn-block" style="margin-top: 15px;">{{ 'PERSONAL-AREA.FORM.button-saveNewPass' | translate}}</button>
    </form>
    <!-- ------------------------------------------COMMENT FORM--------- -->
    <app-comment-form></app-comment-form>
</div>