<img class="buner animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow" src="https://i.pinimg.com/originals/09/7c/c8/097cc8835efe558ccc62ead0b2771ce2.jpg" alt="Tools buner" />

<div [ngClass]="{Hebrew: languege==='iv'}" class="tools-intro animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow">
    <h5 class="title">AKZENTZ {{'TOOLS.title' | translate}}</h5>
    <p class="sm-text">{{'TOOLS.text' | translate}}</p>
</div>

<div style="margin-top: 100px;">
    <app-wide-cards></app-wide-cards>
</div>