<!-- <img style="width: 100%;" class="buner animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow" src="https://i.pinimg.com/originals/09/7c/c8/097cc8835efe558ccc62ead0b2771ce2.jpg" alt="Tools buner" /> -->
<div class="container-fluid animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow">
    <div class="row marginTop50">
        <div class="col" [ngClass]="{Hebrew: languege==='iv'}">
            <p class="main-title">{{'TOOLS.title' | translate}}</p>
            <p class="main-txt">{{'TOOLS.text' | translate}}</p>
        </div>
    </div>
</div>
<hr/>
<!-- -------------------------- -->
<div class="marginTop50">
    <app-wide-cards></app-wide-cards>
</div>