<!---------------------------- "NEW" COMPONENT-->
<!-- -------------------------------------------------MAIN BUNER & INFO-------- -->
<div class="buner-New"></div>
<p class="introduction" [ngClass]="{Hebrew: languege==='iv'}"><span style="color: brown;">Akzentz</span>{{ 'NEW.loz' | translate}}</p>

<hr/>

<!---------------------------- RENDEZVOUS --------------------------------------------------------------------------->
<!-- ---------------------------main announce--------- -->
<div id="rendezvous">
    <div class="left">
        <div class="buner-rendezvous"></div>
    </div>
    <div class="right rendezvous-description">
        <h3>NEW LUXIO</h3>
        <h1>RENDEZVOUS</h1>
        <h5>UV/LED COLOUR COLLECTION</h5>
        <br>
        <p [ngClass]="{Hebrew: languege==='iv'}" class="description">{{ 'NEW.rendezvous-m' | translate}}</p>
        <p class="description" style="margin-top: -15px;">
            <span style="color: brown;"> Sentiment</span>,
            <span style="color: brown;"> Secret</span>,
            <span style="color: brown;"> Sultry</span>,
            <span style="color: brown;"> Provoke</span>,
            <span style="color: brown;"> Tryst</span>,
            <span style="color: brown;"> Cryptic</span>.
        </p>
        <p style="font-family: Calibri;font-size: small;">{{ 'NEW.info-2' | translate}}</p>
        <br>
        <!-- -------------------------------------button to open---------------- -->
        <button type="button" (click)="openRendezvous_shop()" class="btn btn-light btn-block">
            <p *ngIf="!rendezvousOpen" style="color: rgb(117, 0, 0);">{{ 'NEW.button-shop' | translate}}</p>
            <p *ngIf="rendezvousOpen" style="color: rgb(117, 0, 0);">{{ 'NEW.button-close' | translate}}</p>
        </button>
    </div>
</div>

<!-- ------------------------------------------productes-------------------- -->
<div class="shopComp" *ngIf="rendezvousOpen">
    <div class="flip-box" id={{item.burcode_id}} *ngFor="let item of rendezvous">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <img class="small-card-img" src={{item.img_link_1}} alt="{{item.name}} image not evaluable" />
                <h5 style="font-family: Gadugi;">{{item.prod_class}} {{item.name}}</h5>
            </div>
            <div class="flip-box-back">
                <img class="small-card-img" src={{item.img_link_2||item.img_link_1}} alt="{{item.name}} image not evaluable" />
                <div (click)="select(item.burcode_id)" style="background-color: rgba(0, 0, 0, 0); width: 100%; height: 80%; position: absolute; top: 0;"></div>
                <p>
                    <small>{{item.amount_1}} {{item.price_1}} &#8362;</small>
                    <small *ngIf="item.amount_2"> / {{item.amount_2}} {{item.price_2}} &#8362;</small>
                </p>
                <button [ngClass]="getCartClasse(item._id)" (click)="addToCart(item)" title="{{'PROD_DESCRIPTION.add_to_cart' | translate}}">
                        <i class="fas fa-shopping-basket fa-2x"></i>
                    </button>
                <button [ngClass]="getClasses(item._id)" (click)="addToFavorites(item)" title="{{'PROD_DESCRIPTION.add_to_favorites' | translate}}">
                        <i class="fas fa-heart fa-2x"></i>
                    </button>
            </div>
        </div>
    </div>
</div>

<hr/>

<!-------------------------------- SHADES --------------------------------------------------------------------------------->
<!-- ---------------------------main announce--------- -->
<div id="shades">
    <div class="right">
        <div class="buner-shades"></div>
    </div>
    <div class="shades-description left">
        <h3>NEW TRINITY</h3>
        <h1>SHADES</h1>
        <h5>UV/LED PRO-FORMANCE LINE</h5>
        <br>
        <p [ngClass]="{Hebrew: langIv}" class="description">{{ 'NEW.sades-m' | translate}}</p>
        <p class="description" style="margin-top: -15px;">Trinity Shades
            <span style="color: brown;"> Cool</span>,
            <span style="color: brown;"> Natural</span>,
            <span style="color: brown;"> Warm</span>.
        </p>
        <p style="font-family: Calibri;font-size: small;">{{ 'NEW.info-2' | translate}}</p>
        <br>
        <!-- -------------------------------------button to open---------------- -->
        <button type="button" (click)="openShades_shop()" class="btn btn-light btn-block">
            <p *ngIf="!shadesOpen" style="color: rgb(117, 0, 0);">{{ 'NEW.button-shop' | translate}}</p>
            <p *ngIf="shadesOpen" style="color: rgb(117, 0, 0);">{{ 'NEW.button-close' | translate}}</p>
        </button>
    </div>
</div>

<!-- ------------------------------------------productes-------------------- -->
<div class="shopComp" *ngIf="shadesOpen">
    <div class="flip-box" id={{item.burcode_id}} *ngFor="let item of shades">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <img class="small-card-img" src={{item.img_link_1}} alt="{{item.name}} image not evaluable" />
                <h5 style="font-family: Gadugi;">{{item.prod_class}} {{item.name}}</h5>
            </div>
            <div class="flip-box-back">
                <img class="small-card-img" src={{item.img_link_2||item.img_link_1}} alt="{{item.name}} image not evaluable" />
                <div (click)="select(item.burcode_id)" style="background-color: rgba(0, 0, 0, 0); width: 100%; height: 80%; position: absolute; top: 0;"></div>
                <p><small>{{item.amount_1}} {{item.price_1}} &#8362;</small><small *ngIf="item.amount_2"> / {{item.amount_2}} {{item.price_2}} &#8362;</small></p>
                <button [ngClass]="getCartClasse(item._id)" (click)="addToCart(item)" title="{{'PROD_DESCRIPTION.add_to_cart' | translate}}">
                        <i class="fas fa-shopping-basket fa-2x"></i></button>
                <button [ngClass]="getClasses(item._id)" (click)="addToFavorites(item)" title="{{'PROD_DESCRIPTION.add_to_favorites' | translate}}">
                        <i class="fas fa-heart fa-2x"></i></button>
            </div>
        </div>
    </div>
</div>

<hr/>

<!--------------------------------------------------- MIAMI------------------------------------------------------------------------------ -->
<!-- ---------------------------main announce--------- -->
<div id="miamy">
    <div class="left">
        <div class="buner-miami"></div>
    </div>
    <div class="right miamy-description">
        <h3>NEW GEL PLAY</h3>
        <h1>MIAMI</h1>
        <h5>GLITTER SHIFTERS COLLECTION</h5>
        <br>
        <p [ngClass]="{Hebrew: languege==='iv'}" class="description">{{ 'NEW.miami-m' | translate}}</p>
        <p class="description" style="margin-top: -15px;">Gel Play Miami Glitter Shifter:
            <span style="color: brown;"> Heat</span>,
            <span style="color: brown;"> Night</span>,
            <span style="color: brown;"> Sunset</span>.
        </p>
        <p style="font-family: Calibri;font-size: small;">{{ 'NEW.info-2' | translate}}</p>
        <br>
        <!-- -------------------------------------button to open---------------- -->
        <button type="button" (click)="openMiami_shop()" class="btn btn-light btn-block">
            <p *ngIf="!miamiOpen" style="color: rgb(117, 0, 0);">{{ 'NEW.button-shop' | translate}}</p>
            <p *ngIf="miamiOpen" style="color: rgb(117, 0, 0);">{{ 'NEW.button-close' | translate}}</p>
        </button>
    </div>

</div>

<!-- ------------------------------------------productes-------------------- -->
<div class="shopComp" *ngIf="miamiOpen">
    <div class="flip-box" id={{item.burcode_id}} *ngFor="let item of miami">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <img class="small-card-img" src={{item.img_link_1}} alt="{{item.name}} image not evaluable" />
                <h5 style="font-family: Gadugi;">{{item.prod_class}} {{item.name}}</h5>
            </div>
            <div class="flip-box-back">
                <img class="small-card-img" src={{item.img_link_2||item.img_link_1}} alt="{{item.name}} image not evaluable" />
                <div (click)="select(item.burcode_id)" style="background-color: rgba(0, 0, 0, 0); width: 100%; height: 80%; position: absolute; top: 0;"></div>
                <p><small>{{item.amount_1}} {{item.price_1}} &#8362;</small><small *ngIf="item.amount_2"> / {{item.amount_2}} {{item.price_2}} &#8362;</small></p>
                <button [ngClass]="getCartClasse(item._id)" (click)="addToCart(item)" title="{{'PROD_DESCRIPTION.add_to_cart' | translate}}">
                        <i class="fas fa-shopping-basket fa-2x"></i></button>
                <button [ngClass]="getClasses(item._id)" (click)="addToFavorites(item)" title="{{'PROD_DESCRIPTION.add_to_favorites' | translate}}">
                        <i class="fas fa-heart fa-2x"></i></button>
            </div>
        </div>
    </div>
</div>

<hr/>

<!-- VOYAGE ------------------------------------------------------------------------------------->
<!-- ---------------------------main announce--------- -->
<div id="voyage">
    <div class="right">
        <div class="buner-voyage"></div>
    </div>
    <div class="left voyage-description">
        <h3>NEW LUXIO</h3>
        <h1>VOYAGE</h1>
        <h5>UV/LED COLOUR COLLECTION</h5>
        <br>
        <p [ngClass]="{Hebrew: languege==='iv'}" class="description">{{ 'NEW.voyage-m' | translate}}</p>
        <p class="description" style="margin-top: -15px;">
            <span style="color: brown;"> Lustful</span>,
            <span style="color: brown;"> Glimpse</span>,
            <span style="color: brown;"> Jaded</span>,
            <span style="color: brown;"> Instinct</span>,
            <span style="color: brown;"> Persuasion</span>,
            <span style="color: brown;"> Virtue</span>.
        </p>
        <p style="font-family: Calibri;font-size: small;">{{ 'NEW.info-1' | translate}}</p>
        <br>
        <!-- -------------------------------------button to open---------------- -->
        <button type="button" (click)="openVoyage_shop()" class="btn btn-light btn-block">
            <p *ngIf="!voyageOpen" style="color: rgb(117, 0, 0);">{{ 'NEW.button-shop' | translate}}</p>
            <p *ngIf="voyageOpen" style="color: rgb(117, 0, 0);">{{ 'NEW.button-close' | translate}}</p>
        </button>
    </div>
</div>

<!-- ------------------------------------------productes-------------------- -->
<div class="shopComp" *ngIf="voyageOpen">
    <div class="flip-box" id={{item.burcode_id}} *ngFor="let item of voyage">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <img class="small-card-img" src={{item.img_link_1}} alt="{{item.name}} image not evaluable" />
                <h5 style="font-family: Gadugi;">{{item.prod_class}} {{item.name}}</h5>
            </div>
            <div class="flip-box-back">
                <img class="small-card-img" src={{item.img_link_2||item.img_link_1}} alt="{{item.name}} image not evaluable" />
                <div (click)="select(item.burcode_id)" style="background-color: rgba(0, 0, 0, 0); width: 100%; height: 80%; position: absolute; top: 0;"></div>
                <p><small>{{item.amount_1}} {{item.price_1}} &#8362;</small><small *ngIf="item.amount_2"> / {{item.amount_2}} {{item.price_2}} &#8362;</small></p>
                <button [ngClass]="getCartClasse(item._id)" (click)="addToCart(item)" title="{{'PROD_DESCRIPTION.add_to_cart' | translate}}">
                        <i class="fas fa-shopping-basket fa-2x"></i></button>
                <button [ngClass]="getClasses(item._id)" (click)="addToFavorites(item)" title="{{'PROD_DESCRIPTION.add_to_favorites' | translate}}">
                        <i class="fas fa-heart fa-2x"></i></button>
            </div>
        </div>
    </div>
</div>