.Hebrew {
    text-align: right;
    direction: rtl;
}

.title {
    margin-top: 50px;
    font-family: Century Gothic;
    font-size: 25px;
}

.varn {
    margin-top: 30px;
    font-family: Century Gothic;
    font-size: 20px;
}

@media screen and (max-width: 1200px) {
    .introduction {
        padding: 2%;
        margin-top: 20px;
        margin-bottom: 30px;
        color: gray;
        font-family: Georgia, serif;
        font-size: 15px;
        letter-spacing: 3px;
        word-spacing: 6px;
    }
    .description {
        font-family: Calibri;
        color: gray;
        text-align: center;
        font-size: 10px;
        word-spacing: 6px;
    }
}

@media screen and (min-width: 1200px) {
    .introduction {
        padding: 2%;
        margin-top: 20px;
        margin-bottom: 30px;
        color: gray;
        font-family: Georgia, serif;
        font-size: 25px;
        letter-spacing: 3px;
        word-spacing: 6px;
    }
    .description {
        font-family: Calibri;
        color: gray;
        text-align: center;
        font-size: 20px;
        word-spacing: 6px;
    }
}


/* button icons */

.hart-button,
.cart-button {
    margin-left: 1%;
    margin-top: 2%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.active {
    color: green;
}

.not-active {
    color: rgba(128, 128, 128, 0.5);
}

.red-hart {
    color: rgb(194, 0, 0);
}

.red-hart:hover {
    color: rgba(128, 128, 128, 0.5);
}

.grey-hart {
    color: rgba(128, 128, 128, 0.5);
}

.grey-hart:hover,
.cart-button:hover {
    color: rgb(194, 0, 0);
}

.hart-button:hover {
    color: rgb(194, 0, 0);
}


/* -------------------------------------------------                   ------ */

.btn-block {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.small-card-img {
    width: 100%;
}

@media screen and (min-width: 900px) {
    .left {
        float: left;
        height: 100%;
    }
    .right {
        float: right;
        height: 100%;
    }
    .main-row {
        width: 100%;
        height: 500px;
    }
    #rendezvous,
    #shades,
    #miamy,
    #voyage {
        width: 100%;
    }
    #rendezvous>.left,
    #miamy>.left {
        width: 40%;
    }
    #rendezvous>.right,
    #miamy>.right {
        width: 60%;
    }
    #shades>.left,
    #voyage>.left {
        width: 60%;
    }
    #shades>.right,
    #voyage>.right {
        width: 40%;
    }
}

@media screen and (max-width: 900px) {
    .main-row {
        width: 100%;
        height: auto;
    }
    .left,
    .right {
        width: 98%;
        margin: auto;
    }
}

.rendezvous-description,
.miamy-description {
    text-align: center;
    font-family: Century Gothic;
    padding: 5%;
    background: #FFFFFF;
    background: -moz-linear-gradient(left, #FFFFFF 0%, #ffffff80 50%, #ffffff00 100%);
    background: -webkit-linear-gradient(left, #FFFFFF 0%, #ffffff80 50%, #ffffff00 100%);
    background: linear-gradient(to right, #FFFFFF 0%, #ffffff80 50%, #ffffff00 100%);
}

.jelli-description,
.shades-description,
.voyage-description {
    text-align: center;
    font-family: Century Gothic;
    padding: 5%;
    height: 100%;
    background: #FFFFFF;
    background: -moz-linear-gradient(left, #ffffff00 0%, #ffffff80 50%, #FFFFFF 100%);
    background: -webkit-linear-gradient(left, #ffffff00 0%, #ffffff80 50%, #FFFFFF 100%);
    background: linear-gradient(to right, #ffffff00 0%, #ffffff80 50%, #FFFFFF 100%);
}


/* ------------------------------------flip card--------------- */

.card-body {
    height: 350px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

@media screen and (min-width: 900px) {
    .products-bl {
        width: 900px;
        margin: auto;
    }
    .flip-card-tablet-fit {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .products-bl {
        width: 98%;
        margin: auto;
    }
    .flip-card-leptop-fit {
        display: none;
    }
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.flip-card {
    background-color: transparent;
    perspective: 1000px;
}


/* This container is needed to position the front and back side */

.flip-card-inner {
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


/* Position the front and back side */

.flip-card-front,
.flip-card-back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}


/* Style the back side */

.flip-card-back {
    transform: rotateY(180deg);
}