<!---------------------------- "NEW" COMPONENT-->
<!-- -------------------------------------------------MAIN BUNER & INFO-------- -->
<img style="width: 100%;" class="animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow" src="https://i.pinimg.com/originals/76/8d/0f/768d0f9635932751311f757099c3f743.png" alt="AKZENTZ new" />

<h5 class="title animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow" [ngClass]="{Hebrew: languege==='iv'}">{{ 'NEW.title' | translate}}</h5>
<p class="introduction animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow" [ngClass]="{Hebrew: languege==='iv'}">
    <span style="color: brown;">AKZÉNTZ</span>{{ 'NEW.loz' | translate}}
</p>
<h5 class="varn animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow" [ngClass]="{Hebrew: languege==='iv'}">{{ 'NEW.varn' | translate}}</h5>
<hr/>
<!-------------------------------- JELLI --------------------------------------------------------------------------------->
<!-- ---------------------------main announce--------- -->
<div id="shades" class="main-row animate__animated animate__fadeInLeft animate__delay-0.5s animate__slow wow">
    <div class="right">
        <img style="width: 100%;" src="https://i.pinimg.com/originals/45/fc/e0/45fce068ce8f008f657fbf13b453e7d9.jpg" alt="JELLI img" />
    </div>
    <div class="jelli-description left">
        <h3>NEW LUXIO</h3>
        <h1>JELLI</h1>
        <h5>UV/LED COLOUR COLLECTION</h5>
        <br>
        <p [ngClass]="{Hebrew: langIv}" class="description">Create, layer and play with Luxio Jelli, sheer layable colours that can be worn alone, over art for rich depth and dimension, or use for water colour effects.</p>
        <p class="description" style="margin-top: -15px;">New Luxio
            <span style="color: brown;"> Jelly Teal</span>,
            <span style="color: brown;"> Jelly Black</span>,
            <span style="color: brown;"> Jelly Red</span>.
        </p>
        <p style="font-family: Calibri;font-size: small;">{{ 'NEW.info-2' | translate}}</p>
        <br>
        <!-- -------------------------------------button to open---------------- -->
        <button type="button" (click)="openShades_shop()" class="btn btn-light btn-block">
            <p *ngIf="!jelliOpen" style="color: rgb(117, 0, 0);">{{ 'NEW.button-shop' | translate}}</p>
            <p *ngIf="jelliOpen" style="color: rgb(117, 0, 0);">{{ 'NEW.button-close' | translate}}</p>
        </button>
    </div>
</div>

<!-- ------------------------------------------productes-------------------- -->
<div class="row row-cols-1 row-cols-md-3 g-4 prod-row " *ngIf="jelliOpen">
    <div class="col" id={{item.burcode_id}} *ngFor="let item of jelly">
        <div class="card card-new" id={{item.burcode_id}}>
            <div class="flip-card" (click)="select(item.burcode_id)">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img class="small-card-img" src={{item.img_link_1}} alt="{{item.name}}  image not evaluable" />
                        <h5 style="font-family: Gadugi;" *ngIf="item.prod_class!=='basics' && item.prod_class!=='materials' && item.prod_class!=='accessories'">{{item.prod_class}} {{item.name}}</h5>
                        <h5 style="font-family: Gadugi;" *ngIf="item.prod_class==='basics'|| item.prod_class==='materials' || item.prod_class==='accessories'"> {{item.name}}</h5>
                    </div>
                    <div class="flip-card-back">
                        <img class="small-card-img" src={{item.img_link_2||item.img_link_1}} alt="{{item.name}} image not evaluable" />
                        <p><small>{{item.amount_1}} {{item.price_1}} &#8362;</small><small *ngIf="item.amount_2"> / {{item.amount_2}} {{item.price_2}} &#8362;</small></p>
                        <button [ngClass]="getCartClasse(item._id)" (click)="addToCart(item)" title="{{'PROD_DESCRIPTION.add_to_cart' | translate}}"><i class="fas fa-shopping-basket fa-2x"></i></button>
                        <button [ngClass]="getClasses(item._id)" (click)="addToFavorites(item)" title="{{'PROD_DESCRIPTION.add_to_favorites' | translate}}"><i class="fas fa-heart fa-2x"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr/>
<!---------------------------- RENDEZVOUS --------------------------------------------------------------------------->
<!-- ---------------------------main announce--------- -->
<div id="rendezvous" class="main-row animate__animated animate__fadeInRight animate__delay-0.5s animate__slow wow">
    <div class="left">
        <img style="width: 100%;" src="https://i.pinimg.com/originals/59/b8/71/59b87175281fb4294ca9c2eee28d6d47.jpg" alt="RENDEZVOUS img" />
    </div>
    <div class="right rendezvous-description">
        <h3>NEW LUXIO</h3>
        <h1>RENDEZVOUS</h1>
        <h5>UV/LED COLOUR COLLECTION</h5>
        <br>
        <p [ngClass]="{Hebrew: languege==='iv'}" class="description">{{ 'NEW.rendezvous-m' | translate}}</p>
        <p class="description" style="margin-top: -15px;">
            <span style="color: brown;"> Sentiment</span>,
            <span style="color: brown;"> Secret</span>,
            <span style="color: brown;"> Sultry</span>,
            <span style="color: brown;"> Provoke</span>,
            <span style="color: brown;"> Tryst</span>,
            <span style="color: brown;"> Cryptic</span>.
        </p>
        <p style="font-family: Calibri;font-size: small;">{{ 'NEW.info-2' | translate}}</p>
        <br>
        <!-- -------------------------------------button to open---------------- -->
        <button type="button" (click)="openRendezvous_shop()" class="btn btn-light btn-block">
            <p *ngIf="!rendezvousOpen" style="color: rgb(117, 0, 0);">{{ 'NEW.button-shop' | translate}}</p>
            <p *ngIf="rendezvousOpen" style="color: rgb(117, 0, 0);">{{ 'NEW.button-close' | translate}}</p>
        </button>
    </div>
</div>

<!-- ------------------------------------------productes-------------------- -->
<div class="products-bl row row-cols-2 row-cols-md-3 g-4" *ngIf="rendezvousOpen">
    <div class="col" *ngFor="let item of rendezvous">
        <div class="card card-body" id={{item.burcode_id}}>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front flip-card-leptop-fit">
                        <img class="small-card-img" src={{item.img_link_1}} alt="{{item.name}}  image not evaluable" (click)="select(item.burcode_id)" />
                        <h5 style="font-family: Gadugi;" *ngIf="item.prod_class!=='basics' && item.prod_class!=='materials' && item.prod_class!=='accessories'">{{item.prod_class}}<br>{{item.name}}</h5>
                        <h5 style="font-family: Gadugi;" *ngIf="item.prod_class==='basics'|| item.prod_class==='materials' || item.prod_class==='accessories'"> {{item.name}}</h5>
                    </div>
                    <div class="flip-card-back flip-card-leptop-fit">
                        <img class="small-card-img" src={{item.img_link_2||item.img_link_1}} alt="{{item.name}} image not evaluable" (click)="select(item.burcode_id)" />
                        <p><small>{{item.amount_1}} {{item.price_1}} &#8362;</small><small *ngIf="item.amount_2"> / {{item.amount_2}} {{item.price_2}} &#8362;</small></p>
                        <button [ngClass]="getCartClasse(item._id)" (click)="addToCart(item)" title="{{'PROD_DESCRIPTION.add_to_cart' | translate}}"><i class="fas fa-shopping-basket fa-2x"></i></button>
                        <button [ngClass]="getClasses(item._id)" (click)="addToFavorites(item)" title="{{'PROD_DESCRIPTION.add_to_favorites' | translate}}"><i class="fas fa-heart fa-2x"></i></button>
                    </div>
                    <div class="flip-card-front flip-card-tablet-fit">
                        <img class="small-card-img" src={{item.img_link_1}} alt="{{item.name}}  image not evaluable" (click)="select(item.burcode_id)" />
                        <h5 style="font-family: Gadugi;" *ngIf="item.prod_class!=='basics' && item.prod_class!=='materials' && item.prod_class!=='accessories'">{{item.prod_class}}<br>{{item.name}}</h5>
                        <h5 style="font-family: Gadugi;" *ngIf="item.prod_class==='basics'|| item.prod_class==='materials' || item.prod_class==='accessories'"> {{item.name}}</h5>
                        <p><small>{{item.amount_1}} {{item.price_1}} &#8362;</small><small *ngIf="item.amount_2"> / {{item.amount_2}} {{item.price_2}} &#8362;</small></p>
                        <button [ngClass]="getCartClasse(item._id)" (click)="addToCart(item)" title="{{'PROD_DESCRIPTION.add_to_cart' | translate}}"><i class="fas fa-shopping-basket fa-2x"></i></button>
                        <button [ngClass]="getClasses(item._id)" (click)="addToFavorites(item)" title="{{'PROD_DESCRIPTION.add_to_favorites' | translate}}"><i class="fas fa-heart fa-2x"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr/>
<!-------------------------------- SHADES --------------------------------------------------------------------------------->
<!-- ---------------------------main announce--------- -->
<div id="shades" class="main-row animate__animated animate__fadeInLeft animate__delay-0.5s animate__slow wow">
    <div class="right">
        <img style="width: 100%;" src="https://i.pinimg.com/originals/40/d8/4b/40d84bc50cdafe802160c267cbdf187c.jpg" alt="SHADES img" />
    </div>
    <div class="shades-description left">
        <h3>NEW TRINITY</h3>
        <h1>SHADES</h1>
        <h5>UV/LED PRO-FORMANCE LINE</h5>
        <br>
        <p [ngClass]="{Hebrew: langIv}" class="description">{{ 'NEW.sades-m' | translate}}</p>
        <p class="description" style="margin-top: -15px;">Trinity Shades
            <span style="color: brown;"> Cool</span>,
            <span style="color: brown;"> Natural</span>,
            <span style="color: brown;"> Warm</span>.
        </p>
        <p style="font-family: Calibri;font-size: small;">{{ 'NEW.info-2' | translate}}</p>
        <br>
        <!-- -------------------------------------button to open---------------- -->
        <button type="button" (click)="openShades_shop()" class="btn btn-light btn-block">
            <p *ngIf="!shadesOpen" style="color: rgb(117, 0, 0);">{{ 'NEW.button-shop' | translate}}</p>
            <p *ngIf="shadesOpen" style="color: rgb(117, 0, 0);">{{ 'NEW.button-close' | translate}}</p>
        </button>
    </div>
</div>

<!-- ------------------------------------------productes-------------------- -->
<div class="products-bl row row-cols-2 row-cols-md-3 g-4" *ngIf="shadesOpen">
    <div class="col" *ngFor="let item of shades">
        <div class="card card-body" id={{item.burcode_id}}>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front flip-card-leptop-fit">
                        <img class="small-card-img" src={{item.img_link_1}} alt="{{item.name}}  image not evaluable" (click)="select(item.burcode_id)" />
                        <h5 style="font-family: Gadugi;" *ngIf="item.prod_class!=='basics' && item.prod_class!=='materials' && item.prod_class!=='accessories'">{{item.prod_class}}<br>{{item.name}}</h5>
                        <h5 style="font-family: Gadugi;" *ngIf="item.prod_class==='basics'|| item.prod_class==='materials' || item.prod_class==='accessories'"> {{item.name}}</h5>
                    </div>
                    <div class="flip-card-back flip-card-leptop-fit">
                        <img class="small-card-img" src={{item.img_link_2||item.img_link_1}} alt="{{item.name}} image not evaluable" (click)="select(item.burcode_id)" />
                        <p><small>{{item.amount_1}} {{item.price_1}} &#8362;</small><small *ngIf="item.amount_2"> / {{item.amount_2}} {{item.price_2}} &#8362;</small></p>
                        <button [ngClass]="getCartClasse(item._id)" (click)="addToCart(item)" title="{{'PROD_DESCRIPTION.add_to_cart' | translate}}"><i class="fas fa-shopping-basket fa-2x"></i></button>
                        <button [ngClass]="getClasses(item._id)" (click)="addToFavorites(item)" title="{{'PROD_DESCRIPTION.add_to_favorites' | translate}}"><i class="fas fa-heart fa-2x"></i></button>
                    </div>
                    <div class="flip-card-front flip-card-tablet-fit">
                        <img class="small-card-img" src={{item.img_link_1}} alt="{{item.name}}  image not evaluable" (click)="select(item.burcode_id)" />
                        <h5 style="font-family: Gadugi;" *ngIf="item.prod_class!=='basics' && item.prod_class!=='materials' && item.prod_class!=='accessories'">{{item.prod_class}}<br>{{item.name}}</h5>
                        <h5 style="font-family: Gadugi;" *ngIf="item.prod_class==='basics'|| item.prod_class==='materials' || item.prod_class==='accessories'"> {{item.name}}</h5>
                        <p><small>{{item.amount_1}} {{item.price_1}} &#8362;</small><small *ngIf="item.amount_2"> / {{item.amount_2}} {{item.price_2}} &#8362;</small></p>
                        <button [ngClass]="getCartClasse(item._id)" (click)="addToCart(item)" title="{{'PROD_DESCRIPTION.add_to_cart' | translate}}"><i class="fas fa-shopping-basket fa-2x"></i></button>
                        <button [ngClass]="getClasses(item._id)" (click)="addToFavorites(item)" title="{{'PROD_DESCRIPTION.add_to_favorites' | translate}}"><i class="fas fa-heart fa-2x"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr/>
<!--------------------------------------------------- MIAMI------------------------------------------------------------------------------ -->
<!-- ---------------------------main announce--------- -->
<div id="miamy" class="main-row animate__animated animate__fadeInRight animate__delay-0.5s animate__slow wow">
    <div class="left">
        <img style="width: 100%;" src="https://i.pinimg.com/originals/8a/b3/80/8ab380f900bd1e8da627e3e9d0de4c1c.jpg" alt="MIAMI img" />
    </div>
    <div class="right miamy-description">
        <h3>NEW GEL PLAY</h3>
        <h1>MIAMI</h1>
        <h5>GLITTER SHIFTERS COLLECTION</h5>
        <br>
        <p [ngClass]="{Hebrew: languege==='iv'}" class="description">{{ 'NEW.miami-m' | translate}}</p>
        <p class="description" style="margin-top: -15px;">Gel Play Miami Glitter Shifter:
            <span style="color: brown;"> Heat</span>,
            <span style="color: brown;"> Night</span>,
            <span style="color: brown;"> Sunset</span>.
        </p>
        <p style="font-family: Calibri;font-size: small;">{{ 'NEW.info-2' | translate}}</p>
        <br>
        <!-- -------------------------------------button to open---------------- -->
        <button type="button" (click)="openMiami_shop()" class="btn btn-light btn-block">
            <p *ngIf="!miamiOpen" style="color: rgb(117, 0, 0);">{{ 'NEW.button-shop' | translate}}</p>
            <p *ngIf="miamiOpen" style="color: rgb(117, 0, 0);">{{ 'NEW.button-close' | translate}}</p>
        </button>
    </div>
</div>

<!-- ------------------------------------------productes-------------------- -->
<div class="products-bl row row-cols-2 row-cols-md-3 g-4" *ngIf="miamiOpen">
    <div class="col" *ngFor="let item of miami">
        <div class="card card-body" id={{item.burcode_id}}>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front flip-card-leptop-fit">
                        <img class="small-card-img" src={{item.img_link_1}} alt="{{item.name}}  image not evaluable" (click)="select(item.burcode_id)" />
                        <h5 style="font-family: Gadugi;" *ngIf="item.prod_class!=='basics' && item.prod_class!=='materials' && item.prod_class!=='accessories'">{{item.prod_class}}<br>{{item.name}}</h5>
                        <h5 style="font-family: Gadugi;" *ngIf="item.prod_class==='basics'|| item.prod_class==='materials' || item.prod_class==='accessories'"> {{item.name}}</h5>
                    </div>
                    <div class="flip-card-back flip-card-leptop-fit">
                        <img class="small-card-img" src={{item.img_link_2||item.img_link_1}} alt="{{item.name}} image not evaluable" (click)="select(item.burcode_id)" />
                        <p><small>{{item.amount_1}} {{item.price_1}} &#8362;</small><small *ngIf="item.amount_2"> / {{item.amount_2}} {{item.price_2}} &#8362;</small></p>
                        <button [ngClass]="getCartClasse(item._id)" (click)="addToCart(item)" title="{{'PROD_DESCRIPTION.add_to_cart' | translate}}"><i class="fas fa-shopping-basket fa-2x"></i></button>
                        <button [ngClass]="getClasses(item._id)" (click)="addToFavorites(item)" title="{{'PROD_DESCRIPTION.add_to_favorites' | translate}}"><i class="fas fa-heart fa-2x"></i></button>
                    </div>
                    <div class="flip-card-front flip-card-tablet-fit">
                        <img class="small-card-img" src={{item.img_link_1}} alt="{{item.name}}  image not evaluable" (click)="select(item.burcode_id)" />
                        <h5 style="font-family: Gadugi;" *ngIf="item.prod_class!=='basics' && item.prod_class!=='materials' && item.prod_class!=='accessories'">{{item.prod_class}}<br>{{item.name}}</h5>
                        <h5 style="font-family: Gadugi;" *ngIf="item.prod_class==='basics'|| item.prod_class==='materials' || item.prod_class==='accessories'"> {{item.name}}</h5>
                        <p><small>{{item.amount_1}} {{item.price_1}} &#8362;</small><small *ngIf="item.amount_2"> / {{item.amount_2}} {{item.price_2}} &#8362;</small></p>
                        <button [ngClass]="getCartClasse(item._id)" (click)="addToCart(item)" title="{{'PROD_DESCRIPTION.add_to_cart' | translate}}"><i class="fas fa-shopping-basket fa-2x"></i></button>
                        <button [ngClass]="getClasses(item._id)" (click)="addToFavorites(item)" title="{{'PROD_DESCRIPTION.add_to_favorites' | translate}}"><i class="fas fa-heart fa-2x"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr/>
<!-- VOYAGE ------------------------------------------------------------------------------------->
<!-- ---------------------------main announce--------- -->
<div id="voyage" class="main-row animate__animated animate__fadeInLeft animate__delay-0.5s animate__slow wow">
    <div class="right">
        <img style="width: 100%;" src="https://i.pinimg.com/originals/cb/77/93/cb7793a456fb21a86ebc482e481bc95a.png" alt="VOYAGE img" />
    </div>
    <div class="left voyage-description">
        <h3>NEW LUXIO</h3>
        <h1>VOYAGE</h1>
        <h5>UV/LED COLOUR COLLECTION</h5>
        <br>
        <p [ngClass]="{Hebrew: languege==='iv'}" class="description">{{ 'NEW.voyage-m' | translate}}</p>
        <p class="description" style="margin-top: -15px;">
            <span style="color: brown;"> Lustful</span>,
            <span style="color: brown;"> Glimpse</span>,
            <span style="color: brown;"> Jaded</span>,
            <span style="color: brown;"> Instinct</span>,
            <span style="color: brown;"> Persuasion</span>,
            <span style="color: brown;"> Virtue</span>.
        </p>
        <p style="font-family: Calibri;font-size: small;">{{ 'NEW.info-1' | translate}}</p>
        <br>
        <!-- -------------------------------------button to open---------------- -->
        <button type="button" (click)="openVoyage_shop()" class="btn btn-light btn-block">
            <p *ngIf="!voyageOpen" style="color: rgb(117, 0, 0);">{{ 'NEW.button-shop' | translate}}</p>
            <p *ngIf="voyageOpen" style="color: rgb(117, 0, 0);">{{ 'NEW.button-close' | translate}}</p>
        </button>
    </div>
</div>

<!-- ------------------------------------------productes-------------------- -->
<div class="products-bl row row-cols-2 row-cols-md-3 g-4" *ngIf="voyageOpen">
    <div class="col" *ngFor="let item of voyage">
        <div class="card card-body" id={{item.burcode_id}}>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front flip-card-leptop-fit">
                        <img class="small-card-img" src={{item.img_link_1}} alt="{{item.name}}  image not evaluable" (click)="select(item.burcode_id)" />
                        <h5 style="font-family: Gadugi;" *ngIf="item.prod_class!=='basics' && item.prod_class!=='materials' && item.prod_class!=='accessories'">{{item.prod_class}}<br>{{item.name}}</h5>
                        <h5 style="font-family: Gadugi;" *ngIf="item.prod_class==='basics'|| item.prod_class==='materials' || item.prod_class==='accessories'"> {{item.name}}</h5>
                    </div>
                    <div class="flip-card-back flip-card-leptop-fit">
                        <img class="small-card-img" src={{item.img_link_2||item.img_link_1}} alt="{{item.name}} image not evaluable" (click)="select(item.burcode_id)" />
                        <p><small>{{item.amount_1}} {{item.price_1}} &#8362;</small><small *ngIf="item.amount_2"> / {{item.amount_2}} {{item.price_2}} &#8362;</small></p>
                        <button [ngClass]="getCartClasse(item._id)" (click)="addToCart(item)" title="{{'PROD_DESCRIPTION.add_to_cart' | translate}}"><i class="fas fa-shopping-basket fa-2x"></i></button>
                        <button [ngClass]="getClasses(item._id)" (click)="addToFavorites(item)" title="{{'PROD_DESCRIPTION.add_to_favorites' | translate}}"><i class="fas fa-heart fa-2x"></i></button>
                    </div>
                    <div class="flip-card-front flip-card-tablet-fit">
                        <img class="small-card-img" src={{item.img_link_1}} alt="{{item.name}}  image not evaluable" (click)="select(item.burcode_id)" />
                        <h5 style="font-family: Gadugi;" *ngIf="item.prod_class!=='basics' && item.prod_class!=='materials' && item.prod_class!=='accessories'">{{item.prod_class}}<br>{{item.name}}</h5>
                        <h5 style="font-family: Gadugi;" *ngIf="item.prod_class==='basics'|| item.prod_class==='materials' || item.prod_class==='accessories'"> {{item.name}}</h5>
                        <p><small>{{item.amount_1}} {{item.price_1}} &#8362;</small><small *ngIf="item.amount_2"> / {{item.amount_2}} {{item.price_2}} &#8362;</small></p>
                        <button [ngClass]="getCartClasse(item._id)" (click)="addToCart(item)" title="{{'PROD_DESCRIPTION.add_to_cart' | translate}}"><i class="fas fa-shopping-basket fa-2x"></i></button>
                        <button [ngClass]="getClasses(item._id)" (click)="addToFavorites(item)" title="{{'PROD_DESCRIPTION.add_to_favorites' | translate}}"><i class="fas fa-heart fa-2x"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>