<div class="container-fluid  animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow">
    <p class="main-title" [ngClass]="{Hebrew: languege==='iv'}">{{ 'COATING.title' | translate}}</p>

    <div class="row align-items-center">
        <div class="col-10" [ngClass]="{Hebrew: languege==='iv'}">
            <p class="main-txt">{{ 'COATING.instruction-1.part-1' | translate}}</p>
        </div>
        <div class="col-2">
            <ol start="1">
                <span class="main-title-sm"><li style="list-style-type:decimal"><p style="color: black;">{{ 'COATING.instruction-1.manicure' | translate}}</p></li></span>
            </ol>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-3">
            <video width="100%" autoplay loop>
                <source src="https://res.cloudinary.com/luxio/video/upload/v1615824870/1prep_jatmyg.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-7" [ngClass]="{Hebrew: languege==='iv'}">
            <p class="main-txt">{{ 'COATING.instruction-1.part-2' | translate}}<span class="prod-link" (click)="openBig('ds31-32')"> Prep & Wipe</span>{{ 'COATING.instruction-1.part-3' | translate}}</p>
        </div>
        <div class="col-2">
            <ol start="2">
                <span class="main-title-sm"><li style="list-style-type:decimal"><p style="color: black;">Prep & Wipe</p></li></span>
            </ol>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-3">
            <video width="100%" autoplay loop>
                <source src="https://res.cloudinary.com/luxio/video/upload/v1615825905/2shur_q1bbgp.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-7" [ngClass]="{Hebrew: languege==='iv'}">
            <p class="main-txt">{{ 'COATING.instruction-1.part-4' | translate}}<span class="prod-link" (click)="openBig('sp10')">Sure Bond</span>{{ 'COATING.instruction-1.part-5' | translate}}</p>
        </div>
        <div class="col-2">
            <ol start="3">
                <span class="main-title-sm"><li style="list-style-type:decimal"><p style="color: black;">Sure Bond</p></li></span>
            </ol>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-3">
            <video width="100%" autoplay loop>
                <source src="https://res.cloudinary.com/luxio/video/upload/v1615826559/3afixit_kmsysn.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-7" [ngClass]="{Hebrew: languege==='iv'}">
            <p class="main-txt">{{ 'COATING.instruction-1.part-6' | translate}}<span class="prod-link" (click)="openBig('sp20')">Affixit</span>{{ 'COATING.instruction-1.part-7' | translate}}</p>
        </div>
        <div class="col-2">
            <ol start="4">
                <span class="main-title-sm"><li style="list-style-type:decimal"><p style="color: black;">Affixit</p></li></span>
            </ol>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-3">
            <video width="100%" autoplay loop>
                <source src="https://res.cloudinary.com/luxio/video/upload/v1615827266/4x-bond_j5mnck.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-7" [ngClass]="{Hebrew: languege==='iv'}">
            <p class="main-txt">{{ 'COATING.instruction-1.part-8' | translate}}<span class="prod-link" (click)="openBig('002')">X-Bond</span>{{ 'COATING.instruction-1.part-9' | translate}}</p>
        </div>
        <div class="col-2">
            <ol start="5">
                <span class="main-title-sm"><li style="list-style-type:decimal"><p style="color: black;">X-Bond</p></li></span>
            </ol>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-3">
            <video width="100%" autoplay loop>
                <source src="https://res.cloudinary.com/luxio/video/upload/v1615827507/lamp_dygnlt.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-7" [ngClass]="{Hebrew: languege==='iv'}">
            <p class="main-txt">{{ 'COATING.instruction-1.part-10' | translate}}</p>
        </div>
        <div class="col-2">
            <ol start="6">
                <span class="main-title-sm"><li style="list-style-type:decimal"><p style="color: black;">{{ 'COATING.instruction-1.dry' | translate}}</p></li></span>
            </ol>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-3">
            <video width="100%" autoplay loop>
                <source src="https://res.cloudinary.com/luxio/video/upload/v1615827993/5build_vsvv5f.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-7" [ngClass]="{Hebrew: languege==='iv'}">
            <p class="main-txt"><span class="prod-link" (click)="openBig('010')">Build</span>{{ 'COATING.instruction-1.part-12' | translate}}</p>
        </div>
        <div class="col-2">
            <ol start="7">
                <span class="main-title-sm"><li style="list-style-type:decimal"><p style="color: black;">Build</p></li></span>
            </ol>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-3">
            <video width="100%" autoplay loop>
                <source src="https://res.cloudinary.com/luxio/video/upload/v1615827507/lamp_dygnlt.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-7" [ngClass]="{Hebrew: languege==='iv'}">
            <p class="main-txt">{{ 'COATING.instruction-1.part-10' | translate}}</p>
        </div>
        <div class="col-2">
            <ol start="8">
                <span class="main-title-sm"><li style="list-style-type:decimal"><p style="color: black;">{{ 'COATING.instruction-1.dry' | translate}}</p></li></span>
            </ol>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-3">
            <video width="100%" autoplay loop>
                <source src="https://res.cloudinary.com/luxio/video/upload/v1615828509/6color_zbjos9.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-7" [ngClass]="{Hebrew: languege==='iv'}">
            <p class="main-txt">{{ 'COATING.instruction-1.part-13' | translate}}</p>
        </div>
        <div class="col-2">
            <ol start="9">
                <span class="main-title-sm"><li style="list-style-type:decimal"><p style="color: black;">{{ 'COATING.instruction-1.colour' | translate}}</p></li></span>
            </ol>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-3">
            <video width="100%" autoplay loop>
                <source src="https://res.cloudinary.com/luxio/video/upload/v1615827507/lamp_dygnlt.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-7" [ngClass]="{Hebrew: languege==='iv'}">
            <p class="main-txt">{{ 'COATING.instruction-1.dry-color' | translate}}</p>
        </div>
        <div class="col-2">
            <ol start="10">
                <span class="main-title-sm"><li style="list-style-type:decimal"><p style="color: black;">{{ 'COATING.instruction-1.dry' | translate}}</p></li></span>
            </ol>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-3">
            <video width="100%" autoplay loop>
                <source src="https://res.cloudinary.com/luxio/video/upload/v1615829197/7top_epvrno.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-7" [ngClass]="{Hebrew: languege==='iv'}">
            <p class="main-txt">{{ 'COATING.instruction-1.part-14' | translate}}<span class="prod-link" (click)="openBig('020')">Luxio Gloss</span> / <span class="prod-link" (click)="openBig('not-10')">Shine-On</span>{{ 'COATING.instruction-1.part-15' | translate}}
                <span class="prod-link" (click)="openBig('ds31-32')">Prep & Wipe</span>{{ 'COATING.instruction-1.part-16' | translate}}</p>
        </div>
        <div class="col-2">
            <ol start="11">
                <span class="main-title-sm"><li style="list-style-type:decimal"><p style="color: black;">Top</p></li></span>
            </ol>
        </div>
    </div>
</div>