<div class="container-fluid">
    <h3>{{ 'COATING.title' | translate}}</h3>
    <div class="row align-items-center">
        <div class="col-10" [ngClass]="{Hebrew: languege==='iv'}">
            <p>{{ 'COATING.instruction-1.part-1' | translate}}</p>
            <p></p>
        </div>
        <div class="col-2">
            <h3><span>1.</span> {{ 'COATING.instruction-1.manicure' | translate}}</h3>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-3">
            <video width="100%" autoplay loop>
                <source src="https://res.cloudinary.com/luxio/video/upload/v1615824870/1prep_jatmyg.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-7" [ngClass]="{Hebrew: languege==='iv'}">
            <p>{{ 'COATING.instruction-1.part-2' | translate}}<span class="prod-link" (click)="openBig('ds31-32')"> Prep & Wipe</span>{{ 'COATING.instruction-1.part-3' | translate}}</p>
        </div>
        <div class="col-2">
            <h3><span>2.</span> Prep & Wipe</h3>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-3">
            <video width="100%" autoplay loop>
                <source src="https://res.cloudinary.com/luxio/video/upload/v1615825905/2shur_q1bbgp.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-7" [ngClass]="{Hebrew: languege==='iv'}">
            <p>{{ 'COATING.instruction-1.part-4' | translate}}<span class="prod-link" (click)="openBig('sp10')">Sure Bond</span>{{ 'COATING.instruction-1.part-5' | translate}}</p>
        </div>
        <div class="col-2">
            <h3><span>3.</span> Sure Bond</h3>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-3">
            <video width="100%" autoplay loop>
                <source src="https://res.cloudinary.com/luxio/video/upload/v1615826559/3afixit_kmsysn.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-7" [ngClass]="{Hebrew: languege==='iv'}">
            <p>{{ 'COATING.instruction-1.part-6' | translate}}<span class="prod-link" (click)="openBig('sp20')">Affixit</span>{{ 'COATING.instruction-1.part-7' | translate}}</p>
        </div>
        <div class="col-2">
            <h3><span>4.</span> Affixit</h3>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-3">
            <video width="100%" autoplay loop>
                <source src="https://res.cloudinary.com/luxio/video/upload/v1615827266/4x-bond_j5mnck.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-7" [ngClass]="{Hebrew: languege==='iv'}">
            <p>{{ 'COATING.instruction-1.part-8' | translate}}<span class="prod-link" (click)="openBig('002')">X-Bond</span>{{ 'COATING.instruction-1.part-9' | translate}}</p>
        </div>
        <div class="col-2">
            <h3><span>5.</span> X-Bond</h3>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-3">
            <video width="100%" autoplay loop>
                <source src="https://res.cloudinary.com/luxio/video/upload/v1615827507/lamp_dygnlt.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-7" [ngClass]="{Hebrew: languege==='iv'}">
            <p>{{ 'COATING.instruction-1.part-10' | translate}}</p>
        </div>
        <div class="col-2">
            <h3><span>6</span>. {{ 'COATING.instruction-1.dry' | translate}}</h3>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-3">
            <video width="100%" autoplay loop>
                <source src="https://res.cloudinary.com/luxio/video/upload/v1615827993/5build_vsvv5f.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-7" [ngClass]="{Hebrew: languege==='iv'}">
            <p>{{ 'COATING.instruction-1.part-11' | translate}}<span class="prod-link" (click)="openBig('010')">Build</span>{{ 'COATING.instruction-1.part-12' | translate}}</p>
        </div>
        <div class="col-2">
            <h3><span>7.</span> Build</h3>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-3">
            <video width="100%" autoplay loop>
                <source src="https://res.cloudinary.com/luxio/video/upload/v1615827507/lamp_dygnlt.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-7" [ngClass]="{Hebrew: languege==='iv'}">
            <p>{{ 'COATING.instruction-1.part-10' | translate}}</p>
        </div>
        <div class="col-2">
            <h3><span>8</span>. {{ 'COATING.instruction-1.dry' | translate}}</h3>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-3">
            <video width="100%" autoplay loop>
                <source src="https://res.cloudinary.com/luxio/video/upload/v1615828509/6color_zbjos9.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-7" [ngClass]="{Hebrew: languege==='iv'}">
            <p>{{ 'COATING.instruction-1.part-13' | translate}}</p>
        </div>
        <div class="col-2">
            <h3><span>9</span>. {{ 'COATING.instruction-1.colour' | translate}}</h3>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-3">
            <video width="100%" autoplay loop>
                <source src="https://res.cloudinary.com/luxio/video/upload/v1615827507/lamp_dygnlt.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-7" [ngClass]="{Hebrew: languege==='iv'}">
            <p>{{ 'COATING.instruction-1.dry-color' | translate}}</p>
        </div>
        <div class="col-2">
            <h3><span>10</span>. {{ 'COATING.instruction-1.dry' | translate}}</h3>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-3">
            <video width="100%" autoplay loop>
                <source src="https://res.cloudinary.com/luxio/video/upload/v1615829197/7top_epvrno.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-7" [ngClass]="{Hebrew: languege==='iv'}">
            <p>{{ 'COATING.instruction-1.part-14' | translate}}<span class="prod-link" (click)="openBig('020')">Luxio Gloss</span> / <span class="prod-link" (click)="openBig('not-10')">Shine-On</span>{{ 'COATING.instruction-1.part-15' | translate}}
                <span class="prod-link" (click)="openBig('ds31-32')">Prep & Wipe</span>{{ 'COATING.instruction-1.part-16' | translate}}</p>
        </div>
        <div class="col-2">
            <h3><span>11</span>. Top</h3>
        </div>
    </div>

</div>