.prod-link {
    cursor: pointer;
}

.prod-link:hover {
    color: rgb(211, 101, 101);
}

.main-title-sm {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.marginL50px {
    margin-left: 50px;
}

.marginR50px {
    margin-right: 50px;
}