.card-title {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

.card-txt {
    color: rgb(107, 107, 107);
    font-family: Georgia, serif;
    font-size: 18px;
}

@media screen and (max-width: 900px) {
    .card-title {
        font-size: 18px;
        letter-spacing: 0.5px;
    }
    .card-txt {
        font-size: 14px;
    }
}