<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col animate__animated animate__flipInY animate__delay-0.5s animate__slow wow" *ngFor="let item of wideCardProductes">
        <div class="card" id={{item.burcode_id}} style="height: 300px; background-color: rgba(0, 0, 0, 0); border: none;">
            <div class="row g-0">
                <div class="col-md-5">
                    <img class="card-img" src={{item.img_link_1}} alt="Product image" (click)="select(item.burcode_id)" />
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 style="font-family: Gadugi;">{{item.name}}</h5>
                        <button class="card-button" [ngClass]="getCartClasse(item._id)" (click)="addToCart(item)" title="{{'PROD_DESCRIPTION.add_to_cart' | translate}}">
                            <i class="fas fa-shopping-basket  fa-2x"></i></button>
                        <button class="card-button" [ngClass]="getClasses(item._id)" (click)="addToFavorites(item)" title="{{'PROD_DESCRIPTION.add_to_favorites' | translate}}">
                            <i class="fas fa-heart fa-2x"></i></button>
                        <div (click)="select(item.burcode_id)">
                            <p class="xs-text" *ngIf="languege==='en'">{{item.coment_eng}}</p>
                            <p class="xs-text" *ngIf="languege==='ru'">{{item.coment_rus}}</p>
                            <p class="xs-text" *ngIf="languege==='iv'" [ngClass]="{Hebrew: languege==='iv'}">{{item.coment_iv}}</p>
                            <p>
                                <small>{{item.amount_1}}</small>
                                <small *ngIf="item.amount_2">/{{item.amount_2}}</small>
                            </p>
                            <p>
                                <small>{{item.price_1}} &#8362;</small>
                                <small *ngIf="item.price_2">/{{item.price_2}} &#8362;</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>