.Hebrew {
    text-align: right;
    direction: rtl;
}


/* CARDS TOPS & BASES */

.card-img {
    width: 100%;
}

.main-title {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
    word-spacing: 3px;
    text-transform: capitalize;
}

.sm-text {
    padding: 1%;
    color: gray;
    font-family: Georgia, serif;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 14px;
}

@media screen and (max-width: 1200px) {
    .main-title {
        font-size: 18px;
        letter-spacing: 1px;
        word-spacing: 2px;
    }
}

@media screen and (max-width: 900px) {
    .main-title {
        font-size: 15px;
        letter-spacing: 0.5px;
        word-spacing: 1px;
    }
    .sm-text {
        font-size: 12px;
        letter-spacing: 0.5px;
        word-spacing: 1px;
    }
}


/* button icons */

i {
    font-size: 150%;
}

.hart-button,
.cart-button {
    margin-left: 1%;
    margin-top: 2%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.active {
    color: green;
}

.not-active {
    color: rgba(128, 128, 128, 0.5);
}

.red-hart {
    color: rgb(194, 0, 0);
}

.red-hart:hover {
    color: rgba(128, 128, 128, 0.5);
}

.grey-hart {
    color: rgba(128, 128, 128, 0.5);
}

.grey-hart:hover,
.cart-button:hover {
    color: rgb(194, 0, 0);
}

.hart-button:hover {
    color: rgb(194, 0, 0);
}