.Hebrew {
    text-align: right;
    direction: rtl;
}

.luxio-images {
    width: 100%;
}

.row {
    margin-top: 50px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    letter-spacing: 3.4px;
    word-spacing: 3.4px;
}

.sm-text {
    padding: 2%;
    margin-top: 10px;
    margin-bottom: 30px;
    color: gray;
    font-family: Georgia, serif;
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 6px;
}

.darck-bg {
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 1%;
    text-align: center;
    width: 90%;
}

#last {
    margin-top: 100px;
}

@media screen and (max-width: 1200px) {
    .sm-text {
        padding: 1%;
        font-size: 18px;
        letter-spacing: 2.5px;
        word-spacing: 5px;
    }
}

@media screen and (max-width: 990px) {
    #last {
        margin-top: 0;
    }
}