.Hebrew {
    text-align: right;
    direction: rtl;
}

.luxio-images {
    width: 100%;
}

.luxio-row-1 {
    width: 100%;
    padding: 2%;
    height: 550px;
}

.luxio-row-2 {
    width: 100%;
    padding: 2%;
    height: 700px;
    border-bottom: rgba(128, 128, 128, 0.5) 2px solid;
}

.left {
    float: left;
    height: 100%;
    margin: auto;
    margin-top: 50px;
}

.right {
    float: right;
    height: 100%;
    margin: auto;
    margin-top: 50px;
}

.title {
    font-family: Century Gothic;
    font-size: 25px;
    margin-top: 10px;
}

.darck-bg {
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 1%;
    text-align: center;
    width: 90%;
}

.sm-text {
    color: gray;
    padding: 2%;
    font-family: Georgia, serif;
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 6px;
}

@media screen and (max-width: 1200px) {
    .sm-text {
        padding: 1%;
        font-size: 18px;
        letter-spacing: 2.5px;
        word-spacing: 5px;
    }
}