.luxio-images {
    width: 100%;
}

.darck-bg {
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 1%;
    text-align: center;
    width: 90%;
}

@media screen and (max-width: 900px) {
    .darck-bg {
        width: 100%;
    }
}