<div class="buner-GelPlay animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow"></div>

<div [ngClass]="{Hebrew: languege==='iv'}" class="gelPlay-open">
    <div class="gelPlay-col left">
        <h5 class="title animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow">{{ 'GEL-PLAY.paragraf-2.title' | translate}}</h5>
        <p class="m-text animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow">{{ 'GEL-PLAY.paragraf-2.text-1' | translate}}</p>
        <img class="animate__animated animate__zoomIn animate__delay-0.5s animate__slow wow" style="width: 100%;" src="https://i.pinimg.com/originals/a6/63/ee/a663ee08b0b019f47f630867cf6cbf67.png" alt="AKZENTZ" />
        <img class="animate__animated animate__zoomIn animate__delay-0.5s animate__slow wow" style="width: 80%;" src="https://i.pinimg.com/originals/a4/89/ac/a489ac8fb3668fa4445bbc29680a6aa6.png" alt="AKZENTZ" />
    </div>
    <div class="gelPlay-col right">
        <img class="animate__animated animate__zoomIn animate__delay-0.5s animate__slow wow" style="width: 70%; margin: auto;" src="https://i.pinimg.com/originals/17/07/a2/1707a238af1377eb5366a4e8aa700af4.png" alt="AKZENTZ" />
        <h5 class="title animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow">{{ 'GEL-PLAY.paragraf-1.title' | translate}}</h5>
        <p class="sm-text animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow">{{ 'GEL-PLAY.paragraf-1.text-1' | translate}}</p>
        <p class="sm-text animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow">{{ 'GEL-PLAY.paragraf-1.text-2' | translate}}</p>
        <p class="sm-text animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow">{{ 'GEL-PLAY.paragraf-1.text-3' | translate}}</p>
        <p class="sm-text animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow">{{ 'GEL-PLAY.paragraf-1.text-4' | translate}}</p>
        <p class="sm-text animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow">{{ 'GEL-PLAY.paragraf-1.text-5' | translate}}</p>
        <p class="sm-text animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow">{{ 'GEL-PLAY.paragraf-1.text-6' | translate}}</p>
        <p class="sm-text animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow">{{ 'GEL-PLAY.paragraf-1.text-7' | translate}}</p>
        <p class="sm-text animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow">{{ 'GEL-PLAY.paragraf-1.text-8' | translate}}</p>
        <p class="sm-text animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow">{{ 'GEL-PLAY.paragraf-1.text-9' | translate}}</p>
        <p class="sm-text animate__animated animate__fadeIn animate__delay-0.5s animate__slow wow">{{ 'GEL-PLAY.paragraf-1.text-10' | translate}}</p>
    </div>
</div>

<div style="margin-top: 100px;">
    <app-shop-cards></app-shop-cards>
</div>